Repository pydantic/pydantic, pull requests merged in 2021-02, with the labels that each got.

#2339 combined version bumps
  .github/workflows/ci.yml
  docs/requirements.txt
  pydantic/typing.py
  tests/requirements-linting.txt
  tests/requirements-testing.txt
Labels: dependencies

#1991 fix: check only first sublevel for validators with `each_item`
  changes/1933-PrettyWood.md
  pydantic/fields.py
  tests/test_validators.py
Labels: ready for review

#2094 fix(fields): handle properly default value for type `Callable`
  changes/2094-PrettyWood.md
  pydantic/main.py
  pydantic/schema.py
  tests/test_dataclasses.py
  tests/test_schema.py
Labels: ready for review

#2097 Add a Hypothesis plugin
  .gitignore
  changes/2097-Zac-HD.md
  docs/examples/hypothesis_property_based_test.py
  docs/hypothesis_plugin.md
  docs/requirements.txt
  mkdocs.yml
  pydantic/_hypothesis_plugin.py
  pydantic/types.py
  setup.cfg
  setup.py
  tests/conftest.py
  tests/requirements-linting.txt
  tests/requirements-testing.txt
  tests/test_hypothesis_plugin.py
Labels: ready for review

#2107 feat: Add the ability to add extra settings sources
  changes/2107-kozlek.md
  docs/build/exec_examples.py
  docs/examples/settings_add_custom_source.py
  docs/examples/settings_disable_source.py
  docs/examples/settings_env_priority.py
  docs/usage/settings.md
  pydantic/env_settings.py
  tests/test_settings.py
Labels: ready for review

#2170 Fixed KeyError when creating schema from models with same names declared within different classes
  changes/1912-JSextonn.md
  pydantic/schema.py
  tests/test_schema.py
Labels: ready for review

#2198 Add a frozenset type annotation to allowed_schemes on stricturl
  changes/2198-Midnighter.md
  pydantic/networks.py
Labels: ready for review

#2183 Feature/add anystr lower to config
  changes/2134-tayoogunbiyi.md
  docs/examples/types_constrained.py
  docs/usage/model_config.md
  docs/usage/types.md
  pydantic/main.py
  pydantic/types.py
  pydantic/validators.py
  tests/test_types.py
Labels: ready for review

#2193 feat: avoid reconstructing models used as fields of another model on validation
  changes/265-PrettyWood.md
  docs/examples/model_config_change_globally_custom.py
  docs/usage/model_config.md
  pydantic/main.py
  tests/test_main.py
Labels: ready for review

#2209 Helpful TypeError when user forgets to return `values` in root valida…
  changes/2209-masalim2.md
  pydantic/main.py
  tests/test_validators.py
Labels: ready for review

#2216 feat: add support for `NamedTuple` and `TypedDict` types
  changes/2216-PrettyWood.md
  docs/examples/annotated_types_named_tuple.py
  docs/examples/annotated_types_typed_dict.py
  docs/examples/models_from_typeddict.py
  docs/usage/models.md
  docs/usage/types.md
  pydantic/__init__.py
  pydantic/annotated_types.py
  pydantic/fields.py
  pydantic/main.py
  pydantic/schema.py
  pydantic/typing.py
  pydantic/validators.py
  requirements.txt
  tests/test_annotated_types.py
  tests/test_typing.py
Labels: ready for review

#2220 fix: resolve forward refs for inherited dataclasses
  changes/2220-PrettyWood.md
  pydantic/dataclasses.py
  tests/test_forward_ref.py
Labels: ready for review

#2237 fix: support properly custom root type with `from_orm()`
  changes/2237-PrettyWood.md
  pydantic/main.py
  tests/test_orm_mode.py
Labels: ready for review

#2238 fix: support custom root type with nested models in `parse_obj`
  changes/2238-PrettyWood.md
  pydantic/main.py
  tests/test_main.py
Labels: ready for review

#2252 fix(decorator): align var args + keywords behaviour with native python
  changes/2251-cybojenix.md
  pydantic/decorator.py
  tests/test_decorator.py
Labels: ready for review

#2243 Docs for con types
  changes/2242-tayoogunbiyi.md
  docs/usage/types.md
Labels: ready for review

#2250 fix(decorator): detect when a duplicate argument is passed in
  changes/2249-cybojenix.md
  docs/examples/validation_decorator_parameter_types.py
  pydantic/decorator.py
  tests/test_decorator.py
Labels: ready for review

#2265 fix: Change non-existent secrets dir into a warning
  changes/2175-davidolrik.md
  docs/usage/settings.md
  pydantic/env_settings.py
  tests/test_settings.py
Labels: ready for review

#2319 fix: support empty tuple type
  changes/2318-PrettyWood.md
  pydantic/fields.py
  tests/test_edge_cases.py
Labels: ready for review

#2282 fix: keep order of fields with `BaseModel.construct()`
  changes/2281-PrettyWood.md
  pydantic/main.py
  tests/test_construction.py
Labels: awaiting author revision

#2291 fix: update `__fields_set__` in `BaseModel.copy(update=…)`
  changes/2290-PrettyWood.md
  pydantic/main.py
  tests/test_construction.py
Labels: ready for review

#2064 Add merged json_encoders inheritance
  changes/2064-art049.md
  docs/examples/exporting_models_json_encoders_merge.py
  docs/usage/exporting_models.md
  pydantic/main.py
  tests/test_json.py
Labels: awaiting author revision

#2306 Fix `python_requires` metadata to require >=3.6.1
  changes/2306-hukkinj1.md
  setup.py
Labels: awaiting author revision

#2196 introduce allow_mutation Field constraint
  changes/2195-sblack-usu.md
  docs/usage/schema.md
  pydantic/fields.py
  pydantic/main.py
  pydantic/schema.py
  tests/test_main.py
  tests/test_schema.py
Labels: awaiting author revision

#1881 Generate a hash function when `frozen` is `True`
  changes/1880-rhuille.md
  docs/usage/model_config.md
  pydantic/main.py
  pydantic/mypy.py
  tests/mypy/modules/plugin_fail.py
  tests/mypy/modules/plugin_success.py
  tests/mypy/outputs/plugin-fail-strict.txt
  tests/mypy/outputs/plugin-fail.txt
  tests/test_construction.py
  tests/test_main.py
Labels: awaiting author revision

#2176 Support Field(default_factory) in validate_arguments
  changes/2176-thomascobb.md
  docs/examples/validation_decorator_field.py
  docs/usage/validation_decorator.md
  pydantic/decorator.py
  tests/test_decorator.py
Labels: awaiting author revision

#2294 fix #2293: Properly encode Decimals without any decimal places.
  changes/2293-hultner.md
  pydantic/json.py
  tests/test_json.py
Labels: awaiting author revision

#2384 Support `Field` in `dataclass` + `'metadata'` kwarg of `dataclasses.field`
  changes/2384-PrettyWood.md
  docs/examples/dataclasses_default_schema.py
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Labels: ready for review

#2338 fix: prevent RecursionError while using recursive GenericModel-s #1370
  changes/1370-xppt.md
  pydantic/fields.py
  pydantic/generics.py
  tests/test_generics.py
Labels: awaiting author revision
