Repository pydantic/pydantic, pull requests merged in 2021-06, with the labels that each got.

#2747 docs: Fix mypy plugin link
  docs/usage/dataclasses.md
Labels: documentation

#2712 Added Talk Python Episode 313 to docs
  changes/2712-RatulMaharaj.md
  docs/index.md
Labels: documentation

#2517 Documentation on reducing package size and custom CFLAGS
  changes/2517-peterroelants.md
  docs/install.md
  setup.py
Labels: documentation, ready for review

#2425 feat: add PastDate and FutureDate types
  changes/2425-Kludex.md
  docs/usage/types.md
  pydantic/__init__.py
  pydantic/errors.py
  pydantic/types.py
  tests/mypy/modules/success.py
  tests/test_types.py
Labels: ready for review
