Repository pydantic/pydantic, pull requests merged in 2021-12, with the labels that each got.

#2497 feat(schema): set `minItems` and `maxItems` in JSON schema for tuples
  changes/2497-PrettyWood.md
  docs/build/schema_mapping.py
  pydantic/schema.py
  tests/test_annotated_types.py
  tests/test_schema.py
Labels: ready for review

#2549 Improve generic subclass support
  changes/2007-diabolo-dan.md
  pydantic/generics.py
  pydantic/main.py
  tests/test_generics.py
Labels: ready for review

#2588 Try to evaluate forward refs after model created
  changes/2588-uriyyo.md
  docs/examples/postponed_annotations_self_referencing_annotations.py
  docs/examples/postponed_annotations_self_referencing_string.py
  docs/usage/postponed_annotations.md
  pydantic/main.py
  pydantic/typing.py
  tests/test_forward_ref.py
Labels: ready for review

#3470 docs: Print name classes for `__concrete_name__` example
  docs/examples/models_generics_naming.py
Labels: ready for review

#3450 Change my username from MrMrRobat to Bobronium in history
  HISTORY.md
Labels: ready for review

#2818 Fix missing enum extra
  changes/2697-sammchardy.md
  pydantic/schema.py
  tests/test_schema.py
Labels: awaiting author revision

#2092 feat: add `Config.smart_union` option
  changes/2092-PrettyWood.md
  docs/examples/model_config_smart_union_off.py
  docs/examples/model_config_smart_union_on.py
  docs/examples/model_config_smart_union_on_edge_case.py
  docs/usage/model_config.md
  docs/usage/types.md
  pydantic/config.py
  pydantic/env_settings.py
  pydantic/fields.py
  pydantic/main.py
  pydantic/schema.py
  pydantic/typing.py
  tests/test_types.py
Labels: ready for review

#2650 feat: make JSON serialization of referenced pydantic models possible
  changes/2650-PrettyWood.md
  docs/examples/exporting_models_json_forward_ref.py
  docs/usage/exporting_models.md
  pydantic/json.py
  pydantic/main.py
  tests/test_json.py
Labels: ready for review

#2672 feat: add `confrozenset()`
  changes/1897-PrettyWood.md
  docs/usage/types.md
  pydantic/__init__.py
  pydantic/errors.py
  pydantic/fields.py
  pydantic/networks.py
  pydantic/schema.py
  pydantic/types.py
  tests/mypy/modules/success.py
  tests/test_schema.py
  tests/test_types.py
Labels: ready for review

#3138 feat: avoid dict coercion for subclasses
  changes/3122-PrettyWood.md
  pydantic/fields.py
  tests/test_main.py
Labels: ready for review

#3194 Make SecretsSettingsSource deserialize complex types
  changes/2917-davidmreed.md
  pydantic/env_settings.py
  tests/test_settings.py
Labels: ready for review

#3197 Replacing encode_default instance check with strict type check
  changes/3190-joaommartins.md
  pydantic/schema.py
  tests/test_schema.py
Labels: ready for review

#3247 fix: collect only valid fields in mypy plugin
  changes/3146-hi-ogawa.md
  pydantic/mypy.py
  tests/mypy/modules/plugin_success.py
  tests/mypy/outputs/plugin-success-strict.txt
Labels: ready for review

#3327 Update validator function name in examples to show that value must b…
  changes/3327-michaelrios28.md
  docs/examples/models_errors2.py
  docs/examples/models_errors3.py
Labels: ready for review

#3452 Allow `None` when using a `Union` containing `Any` or `object`
  changes/3444-tharradine.md
  pydantic/fields.py
  tests/test_edge_cases.py
Labels: ready for review

#3507 ✨ Add support for decimal-specific configs in `Field()`
  changes/3507-tiangolo.md
  docs/usage/schema.md
  pydantic/fields.py
  pydantic/schema.py
  tests/test_types.py
Labels: ready for review

#3374 Mention Python >= 3.9.2 as an alternative to `typing_extensions.TypedDict`
  changes/3374-BvB93.md
  pydantic/annotated_types.py
  tests/test_annotated_types.py
Labels: awaiting author revision

#3514 generate x86_64 and arm64 binaries to support MacOS M1 CPU
  .github/workflows/ci.yml
  changes/3498-samuelcolvin.md
Labels: awaiting author revision

#2336 Support discriminated union
  changes/619-PrettyWood.md
  docs/examples/schema_ad_hoc.py
  docs/examples/types_union_discriminated.py
  docs/examples/types_union_discriminated_nested.py
  docs/usage/schema.md
  docs/usage/types.md
  pydantic/__init__.py
  pydantic/errors.py
  pydantic/fields.py
  pydantic/schema.py
  pydantic/tools.py
  pydantic/typing.py
  pydantic/utils.py
  tests/test_dataclasses.py
  tests/test_discrimated_union.py
  tests/test_forward_ref.py
  tests/test_main.py
  tests/test_schema.py
  tests/test_tools.py
Labels: ready for review

#3254 Add `AmqpDsn` class
  changes/3254-kludex.md
  docs/examples/settings_main.py
  docs/usage/types.md
  pydantic/__init__.py
  pydantic/networks.py
  tests/test_networks.py
Labels: ready for review

#3175 Add support for removing TypeVarDef in mypy 0.920
  changes/3175-christianbundy.md
  pydantic/mypy.py
Labels: ready for review

#3434 Add optional `field` argument to `__modify_schema__`
  changes/3434-jasujm.md
  docs/examples/schema_with_field.py
  docs/usage/schema.md
  pydantic/schema.py
  tests/test_schema.py
Labels: ready for review

#3159 Nested env
  changes/3159-Air-Mark.md
  docs/build/exec_examples.py
  docs/examples/settings_nested_env.py
  docs/usage/settings.md
  pydantic/env_settings.py
  tests/test_settings.py
Labels: ready for review

#3540 Remove `__root__` from BaseModel typing-only attrs
  changes/3540-layday.md
  pydantic/main.py
Labels: ready for review

#3201 fix: models copied via `Config.copy_on_model_validation` always have all fields
  pydantic/main.py
  tests/test_main.py
Labels: ready for review

#3182 fix: nested ORM from nested dictionaries
  pydantic/main.py
  tests/test_orm_mode.py
Labels: ready for review

#3241 #3234 exclude extra field when represent model
  changes/3234-cocolman.md
  pydantic/main.py
  tests/test_main.py
Labels: awaiting author revision

#3543 fix: smart union with typeddict
  pydantic/fields.py
  pydantic/utils.py
  tests/test_types.py
Labels: bug, ready for review

#3547 fix: rename `schema` util into `schema_of`
  docs/examples/schema_ad_hoc.py
  docs/usage/schema.md
  pydantic/__init__.py
  pydantic/tools.py
  tests/test_tools.py
Labels: bug, ready for review

#3542 fix: keep old behaviour of `json()` by default
  docs/examples/exporting_models_json_forward_ref.py
  docs/usage/exporting_models.md
  pydantic/main.py
  tests/test_json.py
Labels: bug, ready for review

#3551 fix: support generic models with discriminated union
  pydantic/fields.py
  tests/test_discrimated_union.py
Labels: bug, ready for review
