Repository pydantic/pydantic, pull requests merged in 2021-05, with the labels that each got.

#2364 Fix generic BaseModel schema generation (rebase)
  pydantic/schema.py
  tests/test_schema.py
Labels: ready for review

#2479 fix(encoder): serialize NameEmail to str
  changes/2341-alecgerona.md
  pydantic/json.py
  tests/test_json.py
Labels: ready for review

#2490 Add "strict" argument to "conbytes"
  changes/2489-koxudaxi.md
  docs/usage/types.md
  pydantic/types.py
  tests/test_types.py
Labels: ready for review

#2502 fix: support arbitrary types with custom `__eq__` and `Annotated` with python 3.9
  changes/2483-PrettyWood.md
  pydantic/decorator.py
  pydantic/fields.py
  pydantic/generics.py
  pydantic/typing.py
  tests/test_annotated.py
  tests/test_decorator.py
  tests/test_edge_cases.py
  tests/test_generics.py
Labels: bug, ready for review

#2512 Add lookahead for ip check in AnyUrl
  changes/2512-sbv-csis.md
  pydantic/networks.py
  tests/test_networks.py
Labels: ready for review

#2524 Allow for generation of a constrained decimal with decimal_places argument for hypothesis plugin
  changes/2524-cwe5590.md
  pydantic/_hypothesis_plugin.py
  tests/test_hypothesis_plugin.py
Labels: ready for review

#2532 Fix issue with config decl at class level
  changes/2532-uriyyo.md
  pydantic/main.py
  tests/test_main.py
Labels: bug, ready for review

#2536 fix(schema): JSON schema generation with a `Literal` of an enum member
  changes/2536-PrettyWood.md
  pydantic/schema.py
  tests/test_schema.py
Labels: bug, ready for review

#2566 fix: remove side effect of `default_factory` to always run it only once
  changes/2515-PrettyWood.md
  docs/usage/models.md
  pydantic/fields.py
  tests/test_edge_cases.py
Labels: ready for review

#2573 fix: provide __version__ attribute
  changes/2572-paxcodes.md
  pydantic/__init__.py
  tests/test_version.py
Labels: ready for review

#2582 fix: generate a valid name in schema for `Enum` classes
  changes/2575-PrettyWood.md
  pydantic/typing.py
  tests/test_generics.py
  tests/test_utils.py
Labels: bug, ready for review

#2593 add repr parameter to hide a field from repr()
  changes/1831-fnep.md
  docs/usage/schema.md
  pydantic/fields.py
  pydantic/main.py
  tests/test_main.py
Labels: ready for review

#2463 Add GetterDict example
  changes/2463-nuno-andre.md
  docs/examples/models_orm_mode_data_binding.py
  docs/usage/model_config.md
  docs/usage/models.md
Labels: awaiting author revision, documentation
