Repository pydantic/pydantic, pull requests merged in 2021-09, with the labels that each got.

#2519 Allow collections.abc.Callable to be used as type in python 3.9
  changes/2519-daviskirk.md
  pydantic/fields.py
  pydantic/schema.py
  pydantic/typing.py
  pydantic/validators.py
  tests/test_callable.py
  tests/test_typing.py
Labels: ready for review

#2567 Support postgresql+asyncpg schema for PostgresDsn
  changes/2567-postgres-asyncpg.md
  docs/usage/types.md
  pydantic/networks.py
  tests/test_networks.py
Labels: awaiting author revision

#2670 fix: stop calling parent class `root_validator` if overridden
  changes/1895-PrettyWood.md
  pydantic/main.py
  pydantic/utils.py
  tests/test_validators.py
Labels: ready for review

#2720 fix: add missing BaseConfig type annotations and handle `max_length = 0`
  changes/2719-PrettyWood.md
  docs/usage/model_config.md
  pydantic/config.py
  pydantic/validators.py
  tests/mypy/modules/success.py
  tests/test_types.py
Labels: ready for review

#2729 prevent StrictStr allowing Enum values
  changes/2929-samuelcolvin.md
  pydantic/validators.py
  tests/test_types.py
Labels: ready for review

#2743 Fix mypy plugin issue with self field
  changes/2743-uriyyo.md
  pydantic/mypy.py
  tests/mypy/modules/plugin_success.py
Labels: ready for review

#2794 fix: nested literal with constraints
  changes/2794-PrettyWood.md
  pydantic/schema.py
  tests/test_validators.py
Labels: ready for review

#2748 mypy: Add create_model overload
  changes/2748-uriyyo.md
  pydantic/main.py
  tests/mypy/modules/success.py
Labels: ready for review

#2987 Fix 2860
  changes/2860-geekingfrog.md
  pydantic/generics.py
  tests/test_generics.py
Labels: ready for review

#2879 Fix a type annotation
  pydantic/utils.py
Labels: ready for review

#2801 fix: support properly path type
  pydantic/env_settings.py
  pydantic/typing.py
  tests/mypy/modules/success.py
Labels: ready for review

#3093 Fix: _pydantic_post_init() reassigns __dict__ and removes properties
  changes/3043-zulrang.md
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Labels: ready for review

#3038 Add a TypedDict class for error objects
  changes/3038-matthewhughes934.md
  pydantic/error_wrappers.py
Labels: ready for review

#3018 Fix support for using a subclass of an annotation as a default
  changes/3018-JacobHayes.md
  pydantic/main.py
  tests/test_edge_cases.py
Labels: ready for review

#2989 Fix error when using slots with multiple inheritance
  changes/2989-hmvp.md
  pydantic/main.py
  tests/test_private_attributes.py
Labels: ready for review

#2970 Parse JSON for union type with complex subfields (#2936)
  changes/2936-cbartz.md
  pydantic/env_settings.py
  tests/test_settings.py
Labels: ready for review

#2856 mention 3.8 requirement in contrib docs
  changes/2856-paxcodes.md
  docs/contributing.md
Labels: documentation, ready for review

#2855 clarify docs on validation and strict type checking
  changes/2855-paxcodes.md
  docs/usage/models.md
Labels: documentation, ready for review

#2913 Added dark color scheme for docs
  changes/2913-gbdlin.md
  mkdocs.yml
Labels: ready for review

#2888 Accept empty query/fragment URL parts
  changes/1807-xavier.md
  pydantic/networks.py
  tests/test_networks.py
Labels: ready for review

#2811 fix(schema): fix schema generation for `Deque` field
  changes/2810-sergejkozin.md
  pydantic/schema.py
  tests/test_schema.py
Labels: ready for review

#2806 Add ability to use Counter type
  changes/2060-uriyyo.md
  pydantic/fields.py
  tests/test_main.py
Labels: ready for review

#2761 Resolve postponed NamedTuple annotations (#2760)
  changes/2760-jameysharp.md
  pydantic/validators.py
  tests/test_annotated_types.py
Labels: ready for review

#2908 Toml support for `pydantic-mypy` plugin config
  changes/2908-jrwalk.md
  docs/mypy_plugin.md
  pydantic/mypy.py
  tests/mypy/configs/pyproject-default.toml
  tests/mypy/configs/pyproject-plugin-bad-param.toml
  tests/mypy/configs/pyproject-plugin-strict.toml
  tests/mypy/configs/pyproject-plugin.toml
  tests/mypy/test_mypy.py
  tests/requirements-linting.txt
Labels: ready for review

#2721 ✨ Add autocomplete support for VS Code, via `dataclass_transform`
  changes/2721-tiangolo.md
  docs/img/vs_code_01.png
  docs/img/vs_code_02.png
  docs/img/vs_code_03.png
  docs/img/vs_code_04.png
  docs/img/vs_code_05.png
  docs/img/vs_code_06.png
  docs/img/vs_code_07.png
  docs/img/vs_code_08.png
  docs/visual_studio_code.md
  mkdocs.yml
  pydantic/env_settings.py
  pydantic/main.py
Labels: ready for review
