Repository pydantic/pydantic, pull requests merged in 2022-08, with the labels that each got.

#4282 Use `pip` directly to install FastAPI in its integration test
  tests/test_fastapi.sh
Labels: ready for review

#4263 Add ISO 8601 wikipedia link to docs
  docs/usage/exporting_models.md
  docs/usage/types.md
Labels: ready for review

#4252 Empty string is a valid JSON-key
  changes/4253-sergeytsaplin.md
  pydantic/fields.py
  tests/test_aliases.py
Labels: ready for review

#4211 Bump mypy to 0.971
  pydantic/mypy.py
  tests/requirements-linting.txt
  tests/requirements-testing.txt
Labels: dependencies, python, ready for review

#2557 refactor: change pydantic dataclass decorator
  changes/2557-PrettyWood.md
  docs/examples/dataclasses_config.py
  docs/examples/dataclasses_stdlib_run_validation.py
  docs/examples/dataclasses_stdlib_to_pydantic.py
  docs/usage/dataclasses.md
  docs/usage/model_config.md
  pydantic/__init__.py
  pydantic/config.py
  pydantic/dataclasses.py
  pydantic/fields.py
  pydantic/main.py
  pydantic/schema.py
  pydantic/types.py
  pydantic/version.py
  tests/mypy/outputs/plugin-fail-strict.txt
  tests/mypy/outputs/plugin-fail.txt
  tests/test_dataclasses.py
Labels: ready for review

#3133 Allow ellipsis on Fields inside Annotated
  changes/3133-ezegomez.md
  pydantic/fields.py
  tests/test_annotated_types.py
Labels: ready for review

#3304 fix(secret): uppercase in filename on linux
  changes/3273-JeanArhancet.md
  pydantic/env_settings.py
  tests/test_settings.py
Labels: ready for review

#3112 fix int_validator not catching overflows
  changes/3112-ojii.md
  pydantic/validators.py
  tests/test_validators.py
Labels: awaiting author revision

#3349 fix(PostgresDsn): Add support for multiple hosts in PostgresDsn #3337
  changes/3337-rglsk.md
  docs/usage/types.md
  pydantic/networks.py
  tests/test_networks.py
Labels: ready for review

#3413 bug: Add annotation to ModelField for use in BaseModel.__signature__
  changes/3413-fix-inspect-signature.md
  pydantic/fields.py
  pydantic/utils.py
  tests/test_model_signature.py
Labels: awaiting author revision

#3473 new `to_lower_camel()` function
  changes/3463-schlerp.md
  docs/usage/model_config.md
  pydantic/utils.py
  tests/test_utils.py
Labels: awaiting author revision

#2768 Add ability to use Final in a field type annotation
  changes/2766-uriyyo.md
  pydantic/fields.py
  pydantic/main.py
  pydantic/typing.py
  tests/test_main.py
Labels: Feedback Wanted, ready for review

#3430 Add mypy static checking for default and default_factory
  changes/3430-klaa97.md
  docs/mypy_plugin.md
  pydantic/mypy.py
  tests/mypy/modules/plugin_fail.py
  tests/mypy/modules/plugin_success.py
  tests/mypy/outputs/plugin-fail-strict.txt
  tests/mypy/outputs/plugin-fail.txt
Labels: ready for review

#3019 Alias support in decorator validate_arguments
  changes/3019-MAD-py.md
  docs/examples/validation_decorator_field_alias.py
  docs/usage/validation_decorator.md
  pydantic/decorator.py
  tests/test_decorator.py
Labels: awaiting author revision

#3216 Validator decorator field check. Closes #3215
  changes/3215-SunsetOrange.md
  pydantic/class_validators.py
  tests/test_validators.py
Labels: awaiting author revision

#3646 Add Color comparison method
  changes/3646-aminalaee.md
  pydantic/color.py
  tests/test_color.py
Labels: ready for review

#3674 support `kw_only` on dataclasses
  changes/3670-detachhead.md
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Labels: awaiting author revision

#3687 Add ability to use `TypedDict` `Required/NotRequired`
  pydantic/annotated_types.py
  pydantic/fields.py
  pydantic/typing.py
  setup.py
  tests/test_annotated_types.py
Labels: ready for review

#3847 fix: access discriminator field on BaseModel instance using key
  changes/3846-chornsby.md
  pydantic/fields.py
  tests/test_discrimated_union.py
Labels: ready for review

#3909 Fix #3899: add correct handling for negative time deltas
  changes/3899-07pepa.md
  pydantic/json.py
  tests/test_json.py
Labels: ready for review

#3935 fix: allow submodels to overwrite extra field info
  changes/3934-PrettyWood.md
  pydantic/fields.py
  tests/test_schema.py
Labels: ready for review

#4005 Fix Json strategy serialization failure
  changes/4005-sergiosim.md
  pydantic/_hypothesis_plugin.py
  tests/test_hypothesis_plugin.py
Labels: ready for review

#4012 Adds reserved word check to signature generation logic.
  changes/4011-strue36.md
  pydantic/utils.py
  tests/test_model_signature.py
Labels: ready for review

#3822 updates to description of the fields option.
  docs/usage/model_config.md
Labels: ready for review

#3907 support overwriting dunder attributes of `BaseModel` instances
  changes/3777-PrettyWood.md
  pydantic/main.py
  pydantic/utils.py
  tests/test_main.py
Labels: ready for review

#4086 mypy plugin: More precisely detect when fields are required.
  changes/4086-richardxia.md
  pydantic/mypy.py
  tests/mypy/modules/fail_defaults.py
  tests/mypy/outputs/fail_defaults.txt
  tests/mypy/test_mypy.py
Labels: ready for review

#4142 Fix #4041 -- Fix create_model docstring for custom-specified Fields
  pydantic/main.py
Labels: ready for review

#3941 Add nested json encoding
  changes/3941-lilyminium.md
  docs/examples/exporting_models_json_nested_encoders.py
  docs/usage/exporting_models.md
  pydantic/main.py
  tests/test_json.py
Labels: ready for review

#4155 Fix schema for set and frozenset with default value
  changes/4155-aminalaee.md
  docs/build/schema_mapping.py
  pydantic/schema.py
  tests/test_schema.py
Labels: ready for review

#4165 Add to upper function for strings and bytes
  changes/4165-satheler.md
  docs/examples/types_constrained.py
  docs/usage/model_config.md
  docs/usage/types.md
  pydantic/config.py
  pydantic/types.py
  pydantic/validators.py
  tests/test_types.py
Labels: ready for review

#4225 feat: pass config to NamedTuple fields
  changes/4219-synek.md
  pydantic/validators.py
  tests/test_annotated_types.py
Labels: ready for review

#3294 Adds `assert_never` helper
  pydantic/utils.py
Labels: awaiting author revision

#4234 Fix sub-model link in usage/models docs
  docs/usage/models.md
Labels: documentation, ready for review

#4249 Resolve ForwardRef on Field.outer_type_
  changes/4249-JacobHayes.md
  pydantic/typing.py
  tests/test_forward_ref.py
Labels: ready for review

#4241 Update to PEP 681 dataclasses
  changes/4241-multimeric.md
  pydantic/dataclasses.py
  pydantic/main.py
Labels: ready for review

#4293 fix main.BaseModel.(dict, json) fields types
  pydantic/main.py
Labels: ready for review

#4341 Change path in validation_decorator_types example to a relative path
  docs/examples/validation_decorator_types.py
Labels: ready for review

#3717 Added abstract SecretField class for secret fields
  changes/3409-expobrain.md
  pydantic/__init__.py
  pydantic/types.py
  tests/test_types.py
Labels: ready for review

#4102 Teach mypy plugin that validator methods are classmethods
  changes/4102-DMRobertson.md
  pydantic/mypy.py
  tests/mypy/modules/plugin_fail.py
  tests/mypy/modules/plugin_success.py
  tests/mypy/outputs/plugin-fail-strict.txt
  tests/mypy/outputs/plugin-fail.txt
Labels: ready for review

#4357 Test Python 3.11.0-rc.1
  .github/workflows/ci.yml
Labels: github_actions, python, ready for review

#3824 Don't override `__init__` method in MyPy plugin if it already exists
  changes/3824-patrick91.md
  pydantic/mypy.py
  tests/mypy/modules/custom_constructor.py
  tests/mypy/outputs/custom_constructor.txt
  tests/mypy/test_mypy.py
Labels: ready for review

#4093 allow for shallow copies
  .github/workflows/ci.yml
  changes/4093-timkpaine.md
  docs/requirements.txt
  pydantic/config.py
  pydantic/main.py
  tests/test_main.py
Labels: ready for review

#3946 create_model support generics model
  changes/3945-hot123s.md
  pydantic/main.py
  tests/test_create_model.py
Labels: ready for review

#3975 Fix #3807: matching characters in nested env delimeter and env prefix
  changes/3975-arsenron.md
  pydantic/env_settings.py
  tests/test_settings.py
Labels: ready for review

#4361 Fix __post_init_post_parse__ is incorrectly passed keyword arguments when no __post_init__ is defined
  changes/4361-hramezani.md
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Labels: ready for review

#4335 Discriminated union schemas use oneOf instead of anyOf
  changes/4335-MaxwellPayne.md
  pydantic/schema.py
  tests/test_dataclasses.py
  tests/test_forward_ref.py
  tests/test_schema.py
Labels: ready for review

#4191 Fix #4192 bug with BaseModel.construct and aliased Fields
  changes/4192-kylebamos.md
  pydantic/main.py
  tests/test_aliases.py
Labels: Feedback Wanted, ready for review

#4354 fix "extra fields not permitted" error when dataclass with `Extra.forbid` is validated multiple times
  changes/4343-detachhead.md
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Labels: ready for review

#4358 Fix imports indirectly from pydantic typing
  changes/4358-aminalaee.md
  pydantic/fields.py
  pydantic/schema.py
  pydantic/typing.py
  pydantic/validators.py
  tests/mypy/modules/success.py
  tests/test_forward_ref.py
  tests/test_utils.py
Labels: ready for review

#4154 Allow BaseModel schema to have fields of type Type
  changes/4051-aminalaee.md
  pydantic/schema.py
  tests/test_schema.py
Labels: ready for review

#4367 Revert "Add nested json encoding"
  changes/3941-lilyminium.md
  docs/examples/exporting_models_json_nested_encoders.py
  docs/usage/exporting_models.md
  pydantic/main.py
  tests/test_json.py
Labels: ready for review

#4366 Add support for `re.Pattern`
  changes/4366-hramezani.md
  pydantic/fields.py
  pydantic/schema.py
  pydantic/validators.py
  tests/test_types.py
Labels: ready for review

#3222 feat: add support multiple dotenv files (#1497)
  changes/3222-rekyungmin.md
  docs/usage/settings.md
  pydantic/env_settings.py
  tests/test_settings.py
Labels: awaiting author revision

#3783 Fix mypy version check
  changes/3783-KotlinIsland.md
  pydantic/mypy.py
  tests/mypy/test_mypy.py
Labels: awaiting author revision

#3740 Initial implementation of ConstrainedDate, condate
  changes/3740-hottwaj.md
  docs/usage/types.md
  pydantic/__init__.py
  pydantic/_hypothesis_plugin.py
  pydantic/types.py
  tests/test_datetime_parse.py
  tests/test_hypothesis_plugin.py
  tests/test_schema.py
Labels: awaiting author revision

#4339 Generate docs exampels for Python 3.10 and above
  .github/workflows/ci.yml
  .gitignore
  Makefile
  changes/4339-Bobronium.md
  docs/build/exec_examples.py
  docs/build/main.py
  docs/build/schema_mapping.py
  docs/datamodel_code_generator.md
  docs/examples/generate_models_person_model.py
  docs/examples/index_error.py
  docs/examples/postponed_annotations_broken.py
  docs/examples/postponed_annotations_main.py
  docs/examples/postponed_annotations_works.py
  docs/examples/settings_disable_source.py
  docs/examples/types_bare_type.py
  docs/examples/types_infinite_generator_validate_first.py
  docs/examples/validation_decorator_async.py
  docs/hypothesis_plugin.md
  docs/index.md
  docs/mypy_plugin.md
  docs/requirements.txt
  docs/usage/dataclasses.md
  docs/usage/devtools.md
  docs/usage/exporting_models.md
  docs/usage/model_config.md
  docs/usage/models.md
  docs/usage/mypy.md
  docs/usage/postponed_annotations.md
  docs/usage/schema.md
  docs/usage/settings.md
  docs/usage/types.md
  docs/usage/validation_decorator.md
  docs/usage/validators.md
  mkdocs.yml
  setup.cfg
Labels: ready for review

#4371 Fix the behavior change in `.json()` documentation
  HISTORY.md
  docs/usage/exporting_models.md
Labels: ready for review

#4375 Add support for bare `type`
  changes/4375-hramezani.md
  pydantic/typing.py
  tests/test_main.py
Labels: ready for review

#4379 Update HISTORY.md to add `Breaking Change` to change log
  HISTORY.md
Labels: ready for review

#3921 BaseModel: Document and test structural pattern matching
  .github/workflows/ci.yml
  changes/3920-irgolic.md
  docs/examples/models_structural_pattern_matching.py
  docs/usage/models.md
  tests/test_structural_pattern_matching.py
Labels: ready for review

#4384 fix pattern matching version
  docs/examples/models_structural_pattern_matching.py
Labels: ready for review

#4383 fix: strictbytes-max-length
  changes/4380-JeanArhancet.md
  pydantic/schema.py
  tests/test_types.py
Labels: ready for review

#4388 Fix `StrictStr` does not raise `ValidationError` when `max_length` is present in `Field`
  changes/4388-hramezani.md
  pydantic/schema.py
  tests/test_types.py
Labels: ready for review

#4399 feat: Make SecretStr hashable
  changes/4387-chbndrhnns.md
  pydantic/types.py
  tests/test_types.py
Labels: ready for review

#4224 Fix `AnyUrl.build` doesn't do percent encoding (#3061)
  changes/3061-FaresAhmedb.md
  docs/examples/types_url_building.py
  docs/usage/types.md
  pydantic/networks.py
  tests/test_networks.py
Labels: ready for review

#4356 fix dataclass containing `Any`
  changes/4356-DetachHead.md
  pydantic/config.py
  pydantic/dataclasses.py
  pydantic/typing.py
  tests/mypy/configs/mypy-plugin-strict-no-any.ini
  tests/mypy/modules/no_any.py
  tests/mypy/test_mypy.py
Labels: ready for review

#4405 Rename `master` to `main`
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  README.md
  changes/4405-hramezani.md
  docs/index.md
  docs/install.md
  docs/usage/models.md
  pydantic/datetime_parse.py
  tests/test_datetime_parse.py
Labels: deferred, ready for review

#4407 Fix PEP487 `__set_name__` protocol in BaseModel
  changes/4407-tlambert03.md
  pydantic/main.py
  tests/test_create_model.py
Labels: awaiting author revision

#4410 Fix duplicate calls to `__set_name__` for non-private attributes in `BaseModel.__new__`
  changes/4407-tlambert03.md
  pydantic/main.py
  tests/test_create_model.py
Labels: awaiting author revision

#3994 ✨ Add JSON-compatible float constraints for NaN and Inf
  changes/3994-tiangolo.md
  docs/usage/model_config.md
  docs/usage/types.md
  pydantic/__init__.py
  pydantic/config.py
  pydantic/errors.py
  pydantic/fields.py
  pydantic/schema.py
  pydantic/types.py
  pydantic/validators.py
  tests/mypy/test_mypy.py
  tests/test_types.py
Labels: ready for review

#4413 add Explosion AI and AWS to sponsors
  docs/extra/tweaks.css
  docs/index.md
  docs/sponsor_logos/aws.png
  docs/sponsor_logos/explosion_ai.png
Labels: ready for review

#4432 Warn and ignore `__slots__` argument to `create_model`
  changes/4432-samuelcolvin.md
  pydantic/main.py
  pydantic/typing.py
  tests/test_create_model.py
Labels: ready for review

#4450 fix type hints in `BaseSettings.Config`
  changes/4450-samuelcolvin.md
  docs/mypy_plugin.md
  pydantic/env_settings.py
  tests/mypy/modules/settings_config.py
  tests/mypy/test_mypy.py
Labels: ready for review

#4455 Add __hash__ operator to Color class
  changes/4455-czaki.md
  pydantic/color.py
  tests/test_color.py
Labels: ready for review
