Repository pydantic/pydantic, pull requests merged in 2022-11, with the labels that each got.

#4734 Fix improper parsing of Enum document
  pydantic/schema.py
  tests/test_schema.py
Labels: awaiting author revision, cherry-pick-v1

#4764 fix typo in docs
  docs/usage/types.md
Labels: cherry-pick-v1

#4758 Renaming BaseModel
  docs/examples/models_orm_mode_reserved_name.py
Labels: cherry-pick-v1

#4781 [1.10.x] Properly encode model and dataclass default for schema
  changes/4781-Bobronium.md
  pydantic/schema.py
  tests/test_schema.py
Labels: ready for review

#4799 Remove trailing "```" from docs
  docs/usage/schema.md
Labels: documentation, cherry-pick-v1
