Repository pydantic/pydantic, pull requests merged in 2022-12, with the labels that each got.

#4818 Moving docs to `docs.pydantic.dev`
  .github/workflows/ci.yml
  HISTORY.md
  Makefile
  README.md
  docs/blog/pydantic-v2.md
  mkdocs.yml
  pydantic/_hypothesis_plugin.py
  pydantic/schema.py
  pyproject.toml
  tests/test_networks.py
Labels: cherry-pick-v1

#4802 Add newline before `Outputs:` when printing json output in docs
  docs/build/exec_examples.py
Labels: documentation, ready for review, cherry-pick-v1

#4825 Fix typo in types usage documentation.
  docs/usage/types.md
Labels: documentation, ready for review, cherry-pick-v1

#4860 Replace deprecated `get_event_loop` with `asyncio.run` (#4859)
  tests/test_decorator.py
Labels: from-cherry-pick

#4876 Fixed datetime format specifier in docs
  docs/usage/types.md
Labels: documentation, cherry-pick-v1

#4880 fix: support assignment on `DataclassProxy`
  changes/4695-PrettyWood.md
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Labels: ready for review

#4493 fix: avoid multiple calls of `__post_init__` when dataclasses are inherited
  changes/4487-PrettyWood.md
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Labels: ready for review

#4884 fix: Parsing of custom root models
  changes/4883-gou177.md
  pydantic/main.py
  tests/test_parse.py
Labels: awaiting author revision

#4878 fix: use dataclasses proxy for frozen or empty dataclasses
  changes/4878-PrettyWood.md
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Labels: ready for review
