Repository pydantic/pydantic, pull requests merged in 2022-09, with the labels that each got.

#4471 fix mypy with `default_factory=list` etc.
  changes/4457-samuelcolvin.md
  pydantic/mypy.py
  tests/mypy/modules/plugin_default_factory.py
  tests/mypy/outputs/plugin-fail-strict.txt
  tests/mypy/outputs/plugin-fail.txt
  tests/mypy/outputs/plugin_default_factory.txt
  tests/mypy/test_mypy.py
Labels: ready for review

#4470 Revert percent encoding in URLs.
  changes/4470-samuelcolvin.md
  docs/examples/types_url_building.py
  docs/usage/types.md
  pydantic/networks.py
  tests/test_networks.py
Labels: ready for review

#4480 prevent long strings as int inputs
  changes/1477-samuelcolvin.md
  pydantic/validators.py
  tests/test_edge_cases.py
Labels: ready for review

#4482 Basic fix of GenericModel cache to detect order of arguments in Union models
  changes/4474-sveinugu.md
  pydantic/generics.py
  tests/test_generics.py
Labels: ready for review

#4484 fix: dataclass wrapper was not always called
  changes/4477-PrettyWood.md
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Labels: awaiting author revision

#4473 Remove Cython & Move to `pyproject.toml`
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/combine-dependabot.yml
  .pre-commit-config.yaml
  HISTORY.md
  LICENSE
  MANIFEST.in
  Makefile
  README.md
  docs/blog/pydantic-v2.md
  docs/hypothesis_plugin.md
  docs/index.md
  docs/install.md
  docs/mypy_plugin.md
  docs/pycharm_plugin.md
  docs/requirements.txt
  docs/usage/devtools.md
  docs/usage/model_config.md
  docs/usage/models.md
  docs/usage/types.md
  docs/visual_studio_code.md
  mkdocs.yml
  pydantic/__init__.py
  pydantic/config.py
  pydantic/dataclasses.py
  pydantic/mypy.py
  pydantic/typing.py
  pydantic/utils.py
  pydantic/version.py
  pyproject.toml
  requirements.txt
  requirements/all.txt
  requirements/docs.in
  requirements/docs.txt
  requirements/linting.in
  requirements/linting.txt
  requirements/pyproject-all.txt
  requirements/pyproject-min.txt
  requirements/testing-extra.in
  requirements/testing-extra.txt
  requirements/testing.in
  requirements/testing.txt
  setup.cfg
  setup.py
  tests/conftest.py
  tests/mypy/outputs/fail1.txt
  tests/mypy/outputs/fail2.txt
  tests/mypy/outputs/fail3.txt
  tests/mypy/outputs/fail4.txt
  tests/mypy/test_mypy.py
  tests/requirements-linting.txt
  tests/requirements-testing.txt
  tests/test_edge_cases.py
  tests/test_utils.py
  tests/test_version.py
Labels: ready for review

#4501 Use `field_specifiers` on `dataclass_transform`
  changes/4500-samuelcolvin.md
  pydantic/dataclasses.py
  pydantic/main.py
Labels: ready for review

#988 Email tweaks
  changes/988-samuelcolvin.md
  pydantic/errors.py
  pydantic/networks.py
  tests/test_networks.py
  tests/test_types.py
Labels: deferred, awaiting author revision

#4513 fix: missing file extension in model_config.md link (#4512)
  docs/usage/validation_decorator.md
Labels: ready for review

#4543 tiny tweak to docs
  docs/index.md
Labels: cherry-pick-v1

#4545 Remove repeat newline in docs (again)
  docs/hypothesis_plugin.md
Labels: cherry-pick-v1

#4533 v2 docs broken link fix
  docs/blog/pydantic-v2.md
Labels: awaiting author revision, cherry-pick-v1

#4542 Remove superfluous (???) files from sdist
  pyproject.toml
Labels: ready for review
