Repository pydantic/pydantic, pull requests merged in 2022-07, with the labels that each got.

#4145 Fix typo in models.md
  docs/usage/models.md
Labels: ready for review

#4207 Add Hasan Ramezani(hramezani) to label-assign workflow reviewers
  .github/workflows/label-assign.yml
Labels: ready for review

#4143 Tweak documentation
  HISTORY.md
  docs/contributing.md
  docs/index.md
  docs/install.md
  docs/mypy_plugin.md
  docs/usage/dataclasses.md
  docs/usage/devtools.md
  docs/usage/models.md
  docs/usage/postponed_annotations.md
  docs/usage/settings.md
  docs/usage/types.md
  docs/usage/validation_decorator.md
  mkdocs.yml
  setup.cfg
  tests/requirements-testing.txt
Labels: ready for review

#4153 Add docs for defining upper-case variables on nested Settings models
  docs/usage/settings.md
Labels: awaiting author revision

#4214 Add Pyupgrade
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  pydantic/color.py
  pydantic/generics.py
  pydantic/mypy.py
  tests/requirements-linting.txt
  tests/test_dataclasses.py
  tests/test_json.py
  tests/test_orm_mode.py
  tests/test_schema.py
  tests/test_types.py
Labels: ready for review

#3857 Fix typo on unique_items param of Field doc
  pydantic/fields.py
Labels: awaiting author revision

#4150 Update docs for dotenv env_file not checking parent directories
  docs/usage/settings.md
Labels: ready for review

#4231 Improved example
  docs/usage/models.md
Labels: documentation, awaiting author revision

#3995 Fix mypy error in models_recursive.py example.
  docs/examples/models_recursive.py
Labels: ready for review

#4267 ci: add python 3.11.0b4
  .github/workflows/ci.yml
  pydantic/schema.py
  pydantic/typing.py
  pydantic/validators.py
  setup.cfg
  tests/test_edge_cases.py
Labels: ready for review
