Repository pydantic/pydantic, pull requests merged in 2023-07, with the labels that each got.

#6334 Allow `__modify_schema__` to co-exist `__get_pydantic_json_schema__`
  pydantic/_internal/_generate_schema.py
  tests/test_deprecated.py
Labels: ready for review

#6340 Fix tagged unions multiple processing in submodels
  changes/6340-suharnikov.md
  pydantic/_internal/_discriminated_union.py
  tests/test_discriminated_union.py
Labels: ready for review

#6315 Unpack json schema refs for custom types
  changes/6343-adriangb.md
  pydantic/_internal/_core_metadata.py
  pydantic/_internal/_generate_schema.py
  pydantic/functional_validators.py
  pydantic/json_schema.py
  tests/test_json_schema.py
Labels: ready for review

#6347 Fix typo in `create_model` function
  pydantic/main.py
  tests/test_create_model.py
Labels: ready for review

#6370 Fix `validate_call` schema generation and doc error for `TypedDict`
  docs/usage/errors.md
  pydantic/_internal/_validate_call.py
  tests/test_validate_call.py
Labels: ready for review

#6364 Fix import of create_model in tools.py
  changes/6361-SharathHuddar.md
  pydantic/tools.py
Labels: ready for review

#6367 :memo: Include `Mac Address` documentation
  docs/usage/types/extra_types/extra_types.md
  docs/usage/types/extra_types/mac_address.md
  mkdocs.yml
Labels: ready for review

#6377 Remove warning from top of `docs/usage/types/encoded.md`
  docs/usage/types/encoded.md
Labels: ready for review

#6378 Remove datamodel code generator not working warning from doc
  docs/integrations/datamodel_code_generator.md
Labels: ready for review

#6373 Fix some uses of `Field` inside of `Annotated`
  pydantic/_internal/_generate_schema.py
  tests/test_json_schema.py
  tests/test_type_alias_type.py
Labels: ready for review

#6344 🔨 Include `pydantic-extra-types` to integration tests
  .github/workflows/integration.yml
  Makefile
  tests/test_pydantic_extra_types.sh
Labels: ready for review

#6389 Update pydantic-core to 2.0.2
  pdm.lock
  pyproject.toml
  tests/test_discriminated_union.py
Labels: ready for review

#6382 🐛 Don't call `repr()` on qualname retrieval
  pydantic/_internal/_core_utils.py
  tests/test_validate_call.py
Labels: ready for review

#6391 Do not recommend raising `TypeError` in validators
  docs/usage/validators.md
Labels: ready for review

#6399 Remove --verbose flag from docs build to clean up CI logs
  .github/workflows/ci.yml
Labels: ready for review

#6398 Allow combining `Field` annotations by merging them
  pydantic/_internal/_generate_schema.py
  pydantic/fields.py
  tests/test_annotated.py
Labels: ready for review

#6401 BaseSettings moved, not removed
  docs/migration.md
Labels: documentation

#6414 🐛 Add `__hash__` for `WithJsonSchema` and `Examples`
  pydantic/json_schema.py
  tests/test_json_schema.py
Labels: ready for review

#6384 🐛 Fix generic tuple cannot have more than one item
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_generics.py
  tests/test_generics.py
  tests/test_json_schema.py
  tests/test_types_namedtuple.py
Labels: ready for review

#6396 Upate mypy plugin to consider pydantic-settings model
  pdm.lock
  pydantic/mypy.py
  pyproject.toml
  tests/mypy/modules/pydantic_settings.py
  tests/mypy/outputs/1.0.1/mypy-default_ini/pydantic_settings.py
  tests/mypy/outputs/1.0.1/mypy-plugin_ini/pydantic_settings.py
  tests/mypy/outputs/1.0.1/pyproject-default_toml/pydantic_settings.py
  tests/mypy/outputs/1.0.1/pyproject-plugin_toml/pydantic_settings.py
  tests/mypy/outputs/1.1.1/mypy-default_ini/pydantic_settings.py
  tests/mypy/outputs/1.1.1/mypy-plugin_ini/pydantic_settings.py
  tests/mypy/outputs/1.1.1/pyproject-default_toml/pydantic_settings.py
  tests/mypy/outputs/1.1.1/pyproject-plugin_toml/pydantic_settings.py
  tests/mypy/test_mypy.py
Labels: ready for review

#6417 Improve `BaseModel.__getattr__` to raise a better error in case of AttributeError in model property
  pydantic/main.py
  tests/test_main.py
Labels: ready for review

#6427 Update Pydantic V1 to 1.10.11
  HISTORY.md
  pydantic/v1/_hypothesis_plugin.py
  pydantic/v1/tools.py
  pydantic/v1/version.py
Labels: ready for review

#6437 💚 Insert the version without double quotes on tweet
  .github/workflows/ci.yml
Labels: ready for review

#6445 Fix the changelog address on pyproject.toml
  pyproject.toml
Labels: ready for review

#6408 Fix list indentation
  docs/usage/validators.md
Labels: documentation

#6428 👷 Require change files
  pyproject.toml
Labels: ready for review

#6434 💚 Fix git usage in FastAPI integration tests
  Makefile
  tests/test_fastapi.sh
Labels: ready for review

#6468 Revise the section on required / optional / nullable fields.
  changes/6468-ybressler.md
  docs/migration.md
Labels: awaiting author revision

#6479 Warn if a type hint is not in fact a type
  changes/6479-adriangb.md
  pydantic/_internal/_generate_schema.py
  tests/test_main.py
Labels: ready for review

#6484 Replace TransformSchema with GetPydanticSchema
  pydantic/__init__.py
  pydantic/types.py
  tests/test_types.py
Labels: ready for review

#6480 Fix the un-hashability of various annotation types, for use in caching generic containers
  pydantic/functional_serializers.py
  pydantic/functional_validators.py
  tests/test_serialize.py
  tests/test_types.py
Labels: ready for review

#6490 PYD-164: Rework custom types docs
  docs/usage/types/custom.md
Labels: ready for review

#6507 Fix ci
  .github/workflows/ci.yml
Labels: ready for review

#6511 Fix forward ref in generic
  pydantic/_internal/_generate_schema.py
  tests/test_forward_ref.py
Labels: ready for review

#6520 Document `alias_priority`
  docs/usage/fields.md
  docs/usage/model_config.md
Labels: documentation, ready for review

#6513 Add redirect for types documentation
  changes/6513-tpdorsey.md
  mkdocs.yml
Labels: documentation, ready for review

#6516 Defer evaluation of return type hints for serializer functions
  pydantic/_internal/_annotated_handlers.py
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_decorators.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_schema_generation_shared.py
  pydantic/_internal/_typing_extra.py
  pydantic/fields.py
  pydantic/functional_serializers.py
  pydantic/json_schema.py
  tests/test_computed_fields.py
  tests/test_serialize.py
Labels: ready for review

#6552 Disable E501 from Ruff and rely on just Black
  pyproject.toml
  tests/test_discriminated_union.py
Labels: ready for review

#6492 Update JSON Schema documentation for V2
  changes/6492-tpdorsey.md
  docs/usage/json_schema.md
Labels: documentation, ready for review

#6493 Add documentation of cyclic reference handling
  docs/usage/postponed_annotations.md
Labels: documentation

#6556 Remove the need for change files
  .github/ISSUE_TEMPLATE/bug-v2.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  changes/6456-slafs.md
  changes/6468-ybressler.md
  changes/6479-adriangb.md
  changes/6492-tpdorsey.md
  changes/6513-tpdorsey.md
  changes/README.md
  changes/make_history.py
  pyproject.toml
Labels: ready for review

#6547 add "north star" benchmark
  .gitignore
  Makefile
  pdm.lock
  pyproject.toml
  tests/benchmarks/__init__.py
  tests/benchmarks/generate_north_star_data.py
  tests/benchmarks/test_north_star.py
Labels: ready for review

#6586 Deque's maxlen property dropped on V1 validation
  changes/6581-maciekglowka.md
  pydantic/fields.py
  tests/test_types.py
Labels: ready for review

#6470 Update Dataclasses docs
  changes/6470-tpdorsey.md
  docs/migration.md
  docs/usage/dataclasses.md
  pydantic/dataclasses.py
Labels: documentation, ready for review

#6595 ♻️ Use different error message on v1 redirects
  pydantic/_migration.py
  tests/test_migration.py
Labels: ready for review

#6589 ⬆ Upgrade `pydantic-core` to v2.2.0
  docs/errors/errors.md
  pdm.lock
  pyproject.toml
  tests/test_assert_in_validators.py
  tests/test_dataclasses.py
  tests/test_docs.py
  tests/test_generics.py
  tests/test_json_schema.py
  tests/test_types.py
  tests/test_validators.py
  tests/test_validators_dataclass.py
Labels: ready for review

#6602 Improve CI by using PDM instead of pip to install typing-extensions
  .github/workflows/ci.yml
Labels: ready for review

#6559 🐛 Fix `max_length` for unicode strings
  tests/test_types.py
Labels: ready for review

#6604 Add documentation for accessing features via `pydantic.v1`
  docs/migration.md
Labels: documentation

#6562 Include extra when iterating over a model
  pydantic/main.py
  tests/test_main.py
Labels: ready for review

#6514 Fix typing of model_validator
  docs/usage/dataclasses.md
  docs/usage/validators.md
  pydantic/functional_validators.py
  tests/test_dataclasses.py
  tests/test_generics.py
  tests/test_root_model.py
  tests/test_validators.py
  tests/test_validators_dataclass.py
Labels: ready for review

#6608 Review json_schema.md
  docs/usage/json_schema.md
Labels: documentation, ready for review

#6569 Make validate_call work on basemodel methods
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_validate_call.py
  tests/test_validate_call.py
Labels: ready for review

#6616 Fix pydantic dataclass problem with dataclasses.field default_factory
  pydantic/_internal/_fields.py
  tests/test_dataclasses.py
Labels: ready for review

#6617 Fixed mypy type inferrence for TypeAdapter
  pydantic/type_adapter.py
Labels: ready for review

#6568 Make it work to use `$ref` as an alias
  pydantic/json_schema.py
  tests/test_json_schema.py
Labels: ready for review

#6618 add note to migration guide about changes to `AnyUrl` etc
  docs/migration.md
Labels: awaiting author revision

#6622 🐛 Support defining `json_schema_extra` on `RootModel` using `Field`
  pydantic/json_schema.py
  tests/test_root_model.py
Labels: ready for review

#6627 Fix PDM CI for python 3.7 on MacOS/windows
  .github/workflows/ci.yml
Labels: ready for review

#6638 Updates to Url types for Pydantic V2
  docs/usage/types/urls.md
Labels: documentation, ready for review

#6651 Update TypedDict schema generation docstring
  pydantic/_internal/_generate_schema.py
Labels: ready for review

#6634 Ignore unrecognized fields from dataclasses metadata
  pydantic/fields.py
  tests/test_dataclasses.py
Labels: ready for review

#6648 Update pydantic-core to 2.3.0
  .github/workflows/ci.yml
  pdm.lock
  pyproject.toml
  tests/test_computed_fields.py
  tests/test_datetime.py
  tests/test_serialize.py
  tests/test_types.py
  tests/test_validate_call.py
  tests/test_validators.py
Labels: ready for review

#6664 Use OrderedDict from typing_extensions
  pydantic/_internal/_std_types_schema.py
Labels: ready for review

#6659 Fix typehint for JSON schema extra callable
  pydantic/config.py
  pydantic/json_schema.py
Labels: ready for review

#6605 Add StringConstraints for use as Annotated metadata
  docs/usage/types/strict_types.md
  pydantic/__init__.py
  pydantic/_internal/_fields.py
  pydantic/types.py
  tests/test_types.py
Labels: ready for review

#6683 Try to fix intermittently failing CI
  .github/workflows/ci.yml
Labels: ready for review

#6676 Remove redundant example of optional vs default.
  docs/migration.md
Labels: ready for review

#6679 Remove the Validate always section in validator docs
  docs/usage/validators.md
Labels: ready for review

#6720 Fix recursion error in json schema generation
  pydantic/_internal/_generate_schema.py
  tests/test_json_schema.py
Labels: ready for review

#6730 Fix incorrect subclass check for secretstr
  pydantic/types.py
  tests/test_types.py
Labels: ready for review

#6755 unpin pdm on more CI jobs
  .github/workflows/docs-update.yml
Labels: ready for review

#6754 Assume builtins don't accept an info argument
  pydantic/_internal/_decorators.py
  tests/test_validators.py
Labels: ready for review

#6753 Fix mypy plugin handling of @model_validator(mode="after")
  pydantic/mypy.py
  tests/mypy/modules/plugin_success.py
  tests/mypy/outputs/1.0.1/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.0.1/mypy-plugin-strict_ini/plugin_success.py
  tests/mypy/outputs/1.0.1/mypy-plugin_ini/plugin_success.py
  tests/mypy/outputs/1.0.1/pyproject-plugin-strict_toml/plugin_success.py
  tests/mypy/outputs/1.0.1/pyproject-plugin_toml/plugin_success.py
  tests/mypy/outputs/1.1.1/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.2.0/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.4.1/mypy-default_ini/plugin_success.py
Labels: ready for review

#6756 update pydantic-core to 2.3.1
  pdm.lock
  pyproject.toml
Labels: ready for review

#6715 Use contentSchema keyword for JSON schema
  pydantic/json_schema.py
  tests/test_generics.py
  tests/test_json_schema.py
  tests/test_types.py
Labels: ready for review

#6769 fast-path checking finite decimals
  pydantic/_internal/_std_types_schema.py
Labels: ready for review

#6772 Improve json schema doc
  docs/usage/json_schema.md
Labels: ready for review

#6695 Update validator docs
  docs/usage/validators.md
Labels: ready for review

#6628 🐛 Fix validation warning for unions of Literal and other type
  tests/test_edge_cases.py
Labels: ready for review

#6685 Update documentation for generics support in V2
  docs/usage/dataclasses.md
  docs/usage/models.md
Labels: documentation, ready for review

#6785 add pydantic-core build info to `version_info()`
  pydantic/version.py
  tests/test_version.py
Labels: ready for review

#6653 ✨ Add `SkipJsonSchema` annotation
  pydantic/json_schema.py
  tests/test_json_schema.py
Labels: ready for review

#6776 Add GenericModel to MOVED_IN_V2
  pydantic/_migration.py
Labels: awaiting author revision

#6803 Remove unused code from `docs/usage/types/custom.md`
  docs/usage/types/custom.md
Labels: ready for review

#6810 Fix float -> Decimal coercion precision loss
  pydantic/_internal/_std_types_schema.py
  tests/test_edge_cases.py
  tests/test_types.py
Labels: ready for review

#6816 remove email validation from the north star benchmark
  tests/benchmarks/generate_north_star_data.py
  tests/benchmarks/test_north_star.py
Labels: ready for review

#6780 Improve API documentation, in particular more links between usage and API docs
  docs/api/alias_generators.md
  docs/api/base_model.md
  docs/api/color.md
  docs/api/config.md
  docs/api/fields.md
  docs/api/main.md
  docs/api/mypy.md
  docs/api/pydantic_core.md
  docs/api/version.md
  docs/errors/errors.md
  docs/errors/usage_errors.md
  docs/errors/validation_errors.md
  docs/help_with_pydantic.md
  docs/plugins/griffe_doclinks.py
  docs/usage/computed_fields.md
  docs/usage/dataclasses.md
  docs/usage/fields.md
  docs/usage/model_config.md
  docs/usage/models.md
  docs/usage/serialization.md
  docs/usage/type_adapter.md
  docs/usage/validation_decorator.md
  mkdocs.yml
  pydantic/config.py
  pydantic/dataclasses.py
  pydantic/fields.py
  pydantic/functional_validators.py
  pydantic/json_schema.py
  pydantic/main.py
  pydantic/type_adapter.py
  pydantic/validate_call.py
  tests/test_docs.py
Labels: ready for review

#6825 Prepare release 1.10.12
  HISTORY.md
  changes/6581-maciekglowka.md
  pydantic/version.py
  tests/test_fastapi.sh
Labels: ready for review

#6809 Fix annotated_types.MaxLen validator for custom sequence types
  pydantic/_internal/_validators.py
  tests/test_types.py
Labels: ready for review

#6833 Update V1
  HISTORY.md
  pydantic/v1/fields.py
  pydantic/v1/version.py
Labels: ready for review

#6798 Make it so callable JSON schema extra works
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/fields.py
  tests/test_json_schema.py
Labels: ready for review

#6829 Fix serialization issue with InstanceOf
  pydantic/functional_validators.py
  tests/test_types.py
Labels: ready for review

#6811 Add back support for `json_encoders`
  pydantic/_internal/_config.py
  pydantic/_internal/_generate_schema.py
  pydantic/config.py
  tests/test_config.py
  tests/test_json.py
Labels: ready for review

#6838 Update field annotations when building the schema
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_generics.py
  pydantic/main.py
  tests/test_forward_ref.py
Labels: ready for review

#6823 Add `config.defer_build` to optionally make model building lazy
  pydantic/_internal/_config.py
  pydantic/_internal/_mock_validator.py
  pydantic/_internal/_model_construction.py
  pydantic/config.py
  pydantic/main.py
  tests/test_config.py
Labels: ready for review

#6850 delegate UUID serialization to pydantic-core
  pydantic/_internal/_std_types_schema.py
  tests/test_json.py
Labels: ready for review

#6686 Fix error message for staticmethod/classmethod order with validate_call
  pydantic/validate_call.py
  tests/test_validate_call.py
Labels: ready for review

#6847 Improve documentation for config
  docs/api/config.md
  docs/usage/validators.md
  pydantic/config.py
  pydantic/deprecated/config.py
Labels: ready for review

#6851 Update serialization doc to mention `Field.exclude` takes priority over call-time `include/exclude`
  docs/usage/serialization.md
Labels: ready for review

#6737 Allow customizing core schema generation by making `GenerateSchema` public
  pydantic/__init__.py
  pydantic/_internal/_config.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_schema_generation_shared.py
  pydantic/config.py
  tests/mypy/modules/dataclass_no_any.py
  tests/mypy/outputs/1.0.1/mypy-plugin-strict-no-any_ini/dataclass_no_any.py
  tests/test_config.py
  tests/test_dataclasses.py
  tests/test_forward_ref.py
  tests/test_generics.py
  tests/test_main.py
  tests/test_types_typeddict.py
Labels: ready for review

#6873 releasing: add configuration to ignore PRs from changelog
  .github/release.yml
Labels: ready for review, ignore-for-release

#6852 Deprecate `Field.include`
  docs/usage/fields.md
  docs/usage/serialization.md
  pydantic/deprecated/copy_internals.py
  pydantic/fields.py
  tests/test_deprecated.py
Labels: ready for review

#6880 Fix typo in default factory error msg
  pydantic/_internal/_std_types_schema.py
  tests/test_types.py
Labels: ready for review

#6878 Added note on private attrs and field func
  docs/usage/models.md
Labels: ignore-for-release

#6881 Update TypedDict docs to correct min Python version
  docs/usage/types/dicts_mapping.md
  docs/usage/types/types_fields.md
Labels: ready for review, ignore-for-release

#6883 Re-enable fastapi tests in CI
  .github/workflows/ci.yml
  .github/workflows/integration.yml
  Makefile
  tests/test_fastapi.sh
Labels: ready for review

#6886 Fix list rendering in Validators documentation
  docs/usage/validators.md
Labels: ready for review

#6891 Fix some minor issues
  docs/usage/validation_decorator.md
  pydantic/_internal/_std_types_schema.py
  pydantic/main.py
Labels: ready for review

#6919 Fix `ForwardRef` wrapper for py 3.10.0 (shim until bpo-45166)
  pydantic/_internal/_typing_extra.py
Labels: ready for review

#6892 remove parts of docs about i64 limits applying to python ints
  docs/errors/validation_errors.md
  docs/plugins/conversion_table.py
Labels: awaiting author revision, ignore-for-release

#6918 Fix misbehavior related to copying of RootModel
  pydantic/root_model.py
  tests/test_root_model.py
Labels: ready for review

#6923 Fix issue with recursion error caused by ParamSpec
  pydantic/_internal/_generics.py
  tests/test_generics.py
Labels: ready for review

#6924 Add section about Constrained classes to the Migration Guide
  docs/migration.md
Labels: ready for review

#6930 Update pip commands to install 1.10
  changes/6930-chbndrhnns.md
  docs/contributing.md
  docs/install.md
Labels: awaiting author revision

#6921 Make the v1 mypy plugin work with both v1 and v2
  pydantic/v1/mypy.py
Labels: ready for review

#6947 doc: Fix small typo
  docs/usage/models.md
Labels: ignore-for-release
