Repository pydantic/pydantic, pull requests merged in 2023-02, with the labels that each got.

#4977 Handle X | Y union in GenericModel
  changes/4146-thenx.md
  pydantic/generics.py
  tests/test_generics.py
Labels: ready for review

#4963 Dataclass deepcopy 1.10
  changes/4949-mbillingr.md
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Labels: ready for review

#4870 Error definitions
  pydantic/__init__.py
  pydantic/errors.py
Labels: awaiting author revision

#5007 Invalidate mypy cache if config changes
  changes/5007-cdce8p.md
  pydantic/mypy.py
Labels: cherry-pick-v1

#5010 follow pep593 by preserving unknown metadata in annotation
  pydantic/_internal/_generate_schema.py
  tests/test_annotated.py
Labels: awaiting author revision

#5077 Fix mypy plugin for 1.1.0
  changes/5077-cdce8p.md
  pydantic/mypy.py
Labels: cherry-pick-v1
