Repository pydantic/pydantic, pull requests merged in 2023-06, with the labels that each got.

#5955 Improve test coverage for pydantic.functional_validator
  pydantic/functional_validators.py
  tests/test_validators.py
Labels: ready for review

#5948 🐛 Fix `RootModel` equality logic
  pydantic/main.py
  tests/test_root_model.py
Labels: ready for review

#5964 Improve test coverage for pydantic._migration
  tests/test_migration.py
Labels: ready for review

#5963 Increase coverage for `json_schema.py`
  pydantic/json_schema.py
  tests/test_json_schema.py
  tests/test_validate_call.py
Labels: ready for review

#5928 [cherry-pick] Fix mypy plugin for 1.4.0 (#5927)
  changes/5928-cdce8p.md
  pydantic/mypy.py
Labels: bug V1, ready for review

#5850 Add future and past date hypothesis strategies
  changes/5850-bschoenmaeckers.md
  pydantic/_hypothesis_plugin.py
  tests/test_hypothesis_plugin.py
Labels: bug V1, ready for review

#5962 Fix Decimal trailing zero handling
  pydantic/_internal/_std_types_schema.py
  tests/test_types.py
Labels: ready for review

#5968 [Backport] Fix Decimal trailing zero handling
  changes/5968-hramezani.md
  pydantic/types.py
  tests/test_types.py
Labels: ready for review

#5973 Improve test coverage for pydantic.dataclasses
  tests/test_dataclasses.py
Labels: ready for review

#5977 ✅ Improve coverage for `pydantic/main.py`
  tests/test_create_model.py
  tests/test_main.py
  tests/test_root_model.py
Labels: ready for review

#5966 Increase coverage for `_generate_schema.py`
  docs/usage/errors.md
  pydantic/_internal/_generate_schema.py
  pydantic/errors.py
  pydantic/json_schema.py
  tests/test_deprecated.py
  tests/test_model_validator.py
Labels: ready for review

#5976 Docstrings for main
  pydantic/main.py
Labels: documentation, ready for review

#5975 Increase coverage for `_generate_schema.py`
  pydantic/_internal/_fields.py
  pydantic/_internal/_forward_ref.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_generics.py
  pydantic/main.py
  tests/test_generics.py
  tests/test_types.py
  tests/test_validate_call.py
  tests/test_validators.py
Labels: ready for review

#5985 Add from_attributes to BaseModel.validate_python
  pydantic/main.py
  tests/test_main.py
Labels: ready for review

#5986 Prepare for v2.0b2
  HISTORY.md
  pydantic/version.py
Labels: ready for review

#5987 Fix SchemaError when multiple computed fields point to the same type
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_generate_schema.py
  tests/test_computed_fields.py
Labels: ready for review

#5990 Fix bug in BaseModel __signature__ generation when a field uses Annotated
  pydantic/fields.py
  tests/test_main.py
Labels: ready for review

#5988 Fix json schema for single empty tuple
  pydantic/json_schema.py
  tests/test_json_schema.py
Labels: ready for review

#5994 Fix test_extra_used_as_enum to use pytest.warns()
  tests/test_deprecated.py
Labels: awaiting author revision

#5978 Improve test coverage of pydantic._internal._typing_extra
  pydantic/_internal/_typing_extra.py
  tests/test_typing.py
Labels: ready for review

#6003 🗑️ Deprecate `Color` and `PaymentCardNumber`
  docs/plugins/main.py
  docs/usage/types/color_types.md
  docs/usage/types/extra_types/color_types.md
  docs/usage/types/extra_types/payment_cards.md
  docs/usage/types/payment_cards.md
  docs/usage/types/types.md
  mkdocs.yml
  pydantic/color.py
  pydantic/types.py
  tests/test_color.py
  tests/test_deprecated.py
  tests/test_rich_repr.py
  tests/test_types_payment_card_number.py
  tests/test_utils.py
Labels: ready for review

#6008 Allow `__pydantic_config__` to be used on vanilla dataclasses
  pydantic/dataclasses.py
  tests/test_dataclasses.py
  tests/test_types_typeddict.py
Labels: ready for review

#6009 Give nicer error when using a bare root_validator
  pydantic/deprecated/class_validators.py
  tests/test_validators.py
Labels: ready for review

#6012 Fix bug with model_construct when extra=allow
  pydantic/main.py
  tests/test_construction.py
Labels: ready for review

#6005 Add more types to conversion table
  docs/plugins/conversion_table.py
Labels: ready for review

#6021 📝 Add documentation for `model_config`
  docs/usage/model_config.md
  mkdocs.yml
  pydantic/main.py
Labels: ready for review

#5951 📦 Import `RootModel` dynamically when accessed directly only
  pydantic/__init__.py
  pydantic/main.py
  pydantic/root_model.py
  tests/test_exports.py
Labels: ready for review

#6019 Improve usage models doc
  docs/usage/models.md
Labels: ready for review

#6030 Improve docs/usage/exporting_models doc
  docs/usage/exporting_models.md
Labels: ready for review

#5982 Add tests for mypy inspection of metaclass arguments
  changes/5982-cpratt34.md
  tests/mypy/configs/mypy-plugin-very-strict.ini
  tests/mypy/modules/metaclass_args.py
  tests/mypy/outputs/latest/metaclass_args_no_plugin.txt
  tests/mypy/outputs/latest/metaclass_args_plugin.txt
  tests/mypy/test_mypy.py
Labels: ready for review

#6034 Prepare for 1.10.9
  HISTORY.md
  changes/5845-lig.md
  changes/5850-bschoenmaeckers.md
  changes/5928-cdce8p.md
  changes/5968-hramezani.md
  pydantic/version.py
Labels: ready for review

#6043 Sort produced json schemas
  docs/blog/pydantic-v2-alpha.md
  docs/migration.md
  docs/usage/dataclasses.md
  docs/usage/model_config.md
  docs/usage/models.md
  docs/usage/schema.md
  docs/usage/types/custom.md
  pydantic/json_schema.py
  tests/test_json_schema.py
Labels: ready for review

#6044 Add 1.10 releases to HISTORY.md
  HISTORY.md
Labels: ready for review

#6046 Improve docs/usage/dataclasses.md
  docs/usage/dataclasses.md
Labels: ready for review

#6048 📝 Update `postponed_annotations.md` documentation
  docs/usage/postponed_annotations.md
Labels: ready for review

#6050 📝 Add API documentation for `pydantic-extra-types`
  docs/api/pydantic_extra_types_color.md
  docs/api/pydantic_extra_types_country.md
  docs/api/pydantic_extra_types_payment.md
  docs/api/pydantic_extra_types_phone_numbers.md
  docs/api/pydantic_extra_types_routing_number.md
  mkdocs.yml
  pdm.lock
  pyproject.toml
Labels: ready for review

#6053 📝 Add docstrings for top level modules
  pydantic/__init__.py
  pydantic/deprecated/config.py
  pydantic/errors.py
  pydantic/fields.py
  pydantic/functional_serializers.py
  pydantic/functional_validators.py
  pydantic/networks.py
  pydantic/type_adapter.py
  pydantic/types.py
Labels: ready for review

#6057 📝 Update documentation for the color module
  docs/api/color.md
  docs/usage/types/extra_types/extra_types.md
  docs/usage/types/types.md
  mkdocs.yml
  pydantic/color.py
  pydantic/types.py
  tests/test_color.py
  tests/test_deprecated.py
  tests/test_types_payment_card_number.py
Labels: ready for review

#6061 Update datetime.md
  docs/usage/types/datetime.md
Labels: ready for review

#6058 Improve `docs/usage/types/string_types.md`
  docs/usage/types/string_types.md
Labels: ready for review

#6063 Docstring formatting fixes for dataclasses and functional_validators
  pydantic/functional_validators.py
Labels: documentation

#6067 Add `pydocstyle` ruff rules
  pydantic/_internal/_annotated_handlers.py
  pydantic/_internal/_config.py
  pydantic/_internal/_core_metadata.py
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_decorators.py
  pydantic/_internal/_decorators_v1.py
  pydantic/_internal/_discriminated_union.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_forward_ref.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_generics.py
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_repr.py
  pydantic/_internal/_schema_generation_shared.py
  pydantic/_internal/_std_types_schema.py
  pydantic/_internal/_typing_extra.py
  pydantic/_internal/_utils.py
  pydantic/_internal/_validate_call.py
  pydantic/_internal/_validators.py
  pydantic/alias_generators.py
  pydantic/class_validators.py
  pydantic/color.py
  pydantic/dataclasses.py
  pydantic/datetime_parse.py
  pydantic/decorator.py
  pydantic/deprecated/class_validators.py
  pydantic/deprecated/config.py
  pydantic/deprecated/decorator.py
  pydantic/deprecated/json.py
  pydantic/deprecated/tools.py
  pydantic/env_settings.py
  pydantic/error_wrappers.py
  pydantic/errors.py
  pydantic/fields.py
  pydantic/functional_serializers.py
  pydantic/functional_validators.py
  pydantic/generics.py
  pydantic/json.py
  pydantic/json_schema.py
  pydantic/main.py
  pydantic/mypy.py
  pydantic/networks.py
  pydantic/parse.py
  pydantic/root_model.py
  pydantic/schema.py
  pydantic/tools.py
  pydantic/type_adapter.py
  pydantic/types.py
  pydantic/typing.py
  pydantic/utils.py
  pydantic/validate_call.py
  pydantic/validators.py
  pyproject.toml
  tests/test_docs.py
Labels: ready for review

#6062 Specify members to appear in documentation for pydantic_core
  docs/api/pydantic_core_init.md
Labels: documentation, ready for review

#6069 📝 Update docstings on `networks.py`
  pydantic/networks.py
  pyproject.toml
Labels: ready for review

#6070 📝 Add docstrings on `version.py`
  pydantic/version.py
  pyproject.toml
Labels: ready for review

#6071 📝 Update `install.md` documentation
  docs/install.md
Labels: ready for review

#6072 Create `fields.md` on the documentation
  docs/index.md
  docs/usage/fields.md
  docs/usage/json_schema.md
  docs/usage/model_config.md
  docs/usage/models.md
  docs/usage/types/custom.md
  docs/usage/types/number_types.md
  docs/usage/types/standard_types.md
  docs/usage/validation_decorator.md
  mkdocs.yml
Labels: ready for review

#6075 Fix broken and incorrectly formatting internal links
  docs/integrations/mypy.md
  docs/integrations/visual_studio_code.md
  docs/usage/dataclasses.md
  docs/usage/exporting_models.md
  docs/usage/model_config.md
  docs/usage/models.md
  docs/usage/types/standard_types.md
  docs/usage/types/types_fields.md
  pydantic/config.py
Labels: documentation, ready for review

#6081 Document docstring requirements with examples
  docs/contributing.md
  mkdocs.yml
Labels: documentation, ready for review

#6084 ✅ Update installation of FastAPI for tests
  changes/6084-tiangolo.md
  tests/test_fastapi.sh
Labels: ready for review

#6066 Improve config docstring
  pydantic/_internal/_config.py
  pydantic/config.py
Labels: ready for review

#6007 Allow applying serializers and constraints to named/ref schemas
  docs/usage/json_schema.md
  pydantic/_internal/_annotated_handlers.py
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_discriminated_union.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_schema_generation_shared.py
  pydantic/_internal/_std_types_schema.py
  pydantic/json_schema.py
  pydantic/type_adapter.py
  tests/test_json.py
  tests/test_json_schema.py
  tests/test_main.py
  tests/test_parse.py
  tests/test_root_model.py
  tests/test_type_alias_type.py
  tests/test_types_typeddict.py
Labels: ready for review

#6086 Improve `pydantic/_internal/_annotated_handlers.py` docstring
  pydantic/_internal/_annotated_handlers.py
Labels: ready for review

#6092 📝 Add docstrings for `functional_serializers.py`
  pydantic/functional_serializers.py
  pyproject.toml
Labels: ready for review

#6077 Update datetime usage docs
  docs/usage/types/datetime.md
Labels: ready for review

#6098 Improve `docs/usage/errors.md` docs
  docs/usage/errors.md
Labels: ready for review

#6091 📝 Add docstrings to `types.py`
  pydantic/types.py
  pyproject.toml
Labels: awaiting author revision

#6088 📝 Improve `fields.py` docstring
  pydantic/fields.py
  pyproject.toml
Labels: ready for review

#5935 Update generic custom type example in `docs/usage/types/custom.md`
  docs/usage/types/custom.md
Labels: ready for review

#5958 Update pydantic-core
  Makefile
  pdm.lock
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_discriminated_union.py
  pydantic/json_schema.py
  pyproject.toml
  tests/test_discriminated_union.py
  tests/test_json_schema.py
Labels: ready for review

#6100 Fix `__get_pydantic_core_schema__` for Enum
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_std_types_schema.py
  tests/test_types.py
Labels: ready for review

#6103 Fix racy doctests
  docs/build/exec_examples.py
Labels: ready for review

#6105 Improve `pydantic/_internal/_dataclasses.py` docstring
  pydantic/_internal/_config.py
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_generate_schema.py
  pyproject.toml
Labels: ready for review

#6107 Replace `deprecated-kwargs` with `removed-kwargs`
  docs/usage/errors.md
  pydantic/errors.py
  pydantic/fields.py
  pydantic/types.py
Labels: ready for review

#6108 📝 Improve "Config Model" documentation
  docs/usage/dataclasses.md
  docs/usage/model_config.md
  docs/usage/models.md
  docs/usage/types/types_fields.md
  docs/usage/validation_decorator.md
  docs/usage/validation_errors.md
  pydantic/config.py
  pydantic/deprecated/config.py
Labels: ready for review

#6109 📝 Add docstrings to `type_adapter.py`
  pydantic/json_schema.py
  pydantic/type_adapter.py
  pyproject.toml
Labels: ready for review

#6110 📝 Move "Arbitrary Types Allowed" section to "Model Config" page
  docs/usage/model_config.md
  docs/usage/types/custom.md
  pydantic/config.py
Labels: ready for review

#6102 Simplify our usage of `handler.generate_schema()` to simplify explaining it in the docs
  docs/usage/types/custom.md
  pydantic/_internal/_generate_schema.py
  pydantic/types.py
  tests/test_generics.py
  tests/test_json.py
  tests/test_json_schema.py
  tests/test_types.py
Labels: ready for review

#6089 Improve `pydantic/_internal/_core_metadata.py` docstring
  pydantic/_internal/_core_metadata.py
  pydantic/json_schema.py
  tests/test_json_schema.py
Labels: ready for review

#6114 Improve `pydantic/_internal/_decorators.py` docstring
  pydantic/_internal/_decorators.py
Labels: ready for review

#6122 Document the behavior of non-hashable default values
  docs/usage/models.md
Labels: ready for review

#6115 Fix extra fields behavior for TypedDict and make additionalProperties explicit in JSON schema
  docs/usage/models.md
  pydantic/_internal/_generate_schema.py
  pydantic/json_schema.py
  tests/test_json_schema.py
  tests/test_types_typeddict.py
Labels: ready for review

#6131 Skip test `test_del_model_attr_error` to run on PyPy < 3.9
  tests/test_create_model.py
Labels: ready for review

#6123 Update docs related to postponed annotations
  docs/usage/postponed_annotations.md
Labels: ready for review

#6121 Improve documentation related to model_construct
  docs/integrations/mypy.md
  docs/usage/models.md
Labels: ready for review

#6126 Remove default factory call results from the JSON schema
  docs/usage/dataclasses.md
  pydantic/json_schema.py
  tests/test_dataclasses.py
  tests/test_json_schema.py
Labels: ready for review

#6074 Landing page fix links and minor edits
  docs/index.md
Labels: documentation, ready for review

#6125 Improve the regex used for NameEmail validation
  pydantic/networks.py
  tests/test_networks.py
Labels: ready for review

#6055 📝 Update `union.md` documentation
  docs/usage/types/unions.md
  pydantic/alias_generators.py
Labels: ready for review

#6076 Update booleans.md and bytesize.md
  docs/usage/models.md
  docs/usage/types/booleans.md
  docs/usage/types/bytesize.md
Labels: ready for review

#6141 🐛 Remove dataclass field with `init_var` from `__pydantic__fields__`
  pydantic/_internal/_fields.py
  tests/test_fields.py
Labels: ready for review

#6138 Improve `pydantic/_internal/_fields.py` docstring
  pydantic/_internal/_fields.py
Labels: ready for review

#6148 Fix typo in `pydantic._internal._fields`
  pydantic/_internal/_fields.py
Labels: ready for review

#6153 Skip `test_del_model_attr_error` on PyPy
  tests/test_create_model.py
Labels: ready for review

#6146 Remove not needed code from `pydantic/_internal/_forward_ref.py`
  pydantic/_internal/_forward_ref.py
Labels: ready for review

#6155 Improve `pydantic/_internal/_known_annotated_metadata.py` docstring
  pydantic/_internal/_known_annotated_metadata.py
Labels: ready for review

#6151 Improve `pydantic/_internal/_generics.py` docstring
  pydantic/_internal/_generics.py
Labels: ready for review

#6104 🐛 Fix RootModel json schema meta info
  docs/usage/models.md
  pydantic/_internal/_generate_schema.py
  tests/test_json_schema.py
  tests/test_root_model.py
Labels: awaiting author revision

#6144 Fix definitions unpacking and registering when building a schema that uses a model
  pydantic/__init__.py
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_mock_validator.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_schema_generation_shared.py
  pydantic/_internal/_std_types_schema.py
  pydantic/errors.py
  pydantic/main.py
  tests/test_dataclasses.py
  tests/test_json.py
  tests/test_json_schema.py
  tests/test_main.py
Labels: ready for review

#6160 Add additional links and notes regarding extra types
  docs/plugins/main.py
  docs/usage/types/extra_types/extra_types.md
  docs/usage/types/types.md
Labels: documentation, ready for review

#6161 PYD-92: Add custom type docs for Annotated and TypeAliasType
  docs/usage/types/custom.md
  pydantic/types.py
Labels: ready for review

#6162 Add SerializeAsAny for opt-in duck typed serialization
  pydantic/__init__.py
  pydantic/types.py
  tests/test_serialize.py
Labels: ready for review

#6149 Improve `pydantic/_internal/_generate_schema.py` docstring
  pydantic/_internal/_generate_schema.py
Labels: ready for review

#6152 Improve `pydantic/_internal/_internal_dataclass.py` docstring
  pydantic/_internal/_internal_dataclass.py
Labels: ready for review

#6164 correct `PrivateAttr` docs
  pydantic/fields.py
Labels: ready for review

#6139 Allow setting type for values in `__pydantic_extra__`
  docs/usage/models.md
  pydantic/_internal/_generate_schema.py
  pydantic/json_schema.py
  tests/test_main.py
Labels: ready for review

#6166 Improve `pydantic/_internal/_model_construction.py` docstring
  pydantic/_internal/_model_construction.py
Labels: ready for review

#6168 Improve `pydantic/_internal/_schema_generation_shared.py` docstring
  pydantic/_internal/_schema_generation_shared.py
Labels: ready for review

#6169 Improve `pydantic/functional_validators.py` docstring
  pydantic/functional_validators.py
Labels: ready for review

#6006 V2 migration guide updates
  docs/migration.md
  docs/usage/exporting_models.md
  docs/usage/models.md
  docs/usage/types/custom.md
  docs/usage/validators.md
Labels: documentation

#6137 📝 Improve documentation on `fields.md`
  docs/usage/fields.md
  pydantic/dataclasses.py
  pydantic/fields.py
Labels: awaiting author revision

#6179 📝 Don't recomend to use `TypeError` on validators
  docs/errors/errors.md
Labels: ready for review

#6182 📝 Add docs about custom error messages
  docs/errors/errors.md
Labels: ready for review

#6185 Ignore deprecated methods of `pydantic.main` in pydocstyle check
  pydantic/main.py
  pyproject.toml
Labels: ready for review

#6165 Another solution to custom getattr/delattr
  pydantic/_internal/_model_construction.py
  pydantic/main.py
  tests/test_create_model.py
  tests/test_main.py
Labels: ready for review

#5949 🐛 Fix `RootModel` default values
  pdm.lock
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/fields.py
  pydantic/main.py
  pydantic/root_model.py
  pyproject.toml
  tests/test_annotated.py
  tests/test_construction.py
  tests/test_private_attributes.py
  tests/test_root_model.py
  tests/test_utils.py
Labels: ready for review

#6186 Improve conversion_table
  docs/plugins/conversion_table.py
Labels: ready for review

#6193 Complete `pydantic/root_model.py` docstring
  pydantic/root_model.py
  pyproject.toml
Labels: ready for review

#6191 Complete `pydantic/functional_validators.py` docstrings
  pydantic/functional_validators.py
  pyproject.toml
Labels: ready for review

#6170 💚 Use the same conditions on `send_tweet` as `release`
  .github/workflows/ci.yml
Labels: ready for review

#6207 Improve `pydantic/mypy.py` docstring
  pydantic/mypy.py
  pyproject.toml
Labels: ready for review

#6211 📝 Update documentation about "Number Types"
  docs/usage/types/number_types.md
Labels: ready for review

#6218 Add documentation for strict types
  docs/usage/types/strict_types.md
  docs/usage/types/types.md
  mkdocs.yml
Labels: documentation

#6216 Update serialization decorator documentation
  docs/usage/computed_fields.md
  docs/usage/exporting_models.md
  pydantic/fields.py
  pydantic/functional_serializers.py
Labels: documentation, ready for review

#6220 Update docs for sequence_iterable
  docs/usage/types/sequence_iterable.md
Labels: ready for review

#6221 👷 Add Integration CI workflow for `pydantic-settings`
  .github/workflows/ci.yml
  .github/workflows/integration.yml
Labels: ready for review

#6201 🐛 Fix crash on serializing a union of RootModel and BaseModel
  tests/test_root_model.py
Labels: ready for review

#6175 Run docstring tests
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_generics.py
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/functional_validators.py
  pydantic/main.py
  pydantic/v1/dataclasses.py
  tests/test_docs.py
Labels: ready for review

#6230 Add documentation for PlainSerializer and WrapSerializer
  docs/usage/exporting_models.md
  pydantic/functional_serializers.py
Labels: documentation, ready for review

#6226 Improve mypy documentation
  docs/integrations/mypy.md
Labels: ready for review

#6229 🚸 Improve error message when BaseSettings is imported
  pydantic/_migration.py
  tests/test_migration.py
Labels: ready for review

#6228 correct deprecation warning for parse_file
  pydantic/main.py
Labels: ready for review

#6157 Bug fix for forward refs in generics
  changes/6130-mark-todd.md
  pydantic/generics.py
Labels: ready for review

#6224 PYD-124: improve docs for `__get_pydantic_core_schema__`
  docs/usage/types/custom.md
  tests/test_types.py
Labels: ready for review

#6238 Minor edits from review of Enum docs
  docs/usage/types/enums.md
  docs/usage/types/number_types.md
Labels: documentation, ready for review

#6239 Update and consolidate links in number types
  docs/usage/types/number_types.md
Labels: documentation, ready for review

#6242 Update V2 vs V1 section in README.md
  README.md
Labels: ready for review

#6243 Add type key to enums
  pydantic/_internal/_dataclasses.py
  pydantic/json_schema.py
  tests/test_json_schema.py
Labels: ready for review

#6246 🐛 Restrict range on Python version for `_make_forward_ref`
  pydantic/_internal/_typing_extra.py
Labels: ready for review

#6247 💚 Add timeout on `publish_docs` job
  .github/workflows/ci.yml
Labels: ready for review

#6257 docs: use _pydantic_core.pyi as only docs source for now
  docs/api/pydantic_core_init.md
Labels: ready for review

#6252 Improve file type docs
  docs/usage/types/file_types.md
Labels: ready for review

#6264 🔧 Add `assignees` list to the hooky config
  pyproject.toml
Labels: ready for review

#6258 Document "wrap" validators
  docs/usage/validators.md
Labels: documentation

#6255 Update validate_call documentation
  docs/usage/validation_decorator.md
Labels: documentation, ready for review

#6266 📝 Update docs about hypothesis
  docs/integrations/hypothesis.md
Labels: ready for review

#6262 Update docs for validation errors
  docs/plugins/conversion_table.py
  docs/usage/validation_errors.md
  pydantic/_internal/_generate_schema.py
  tests/test_docs.py
Labels: ready for review

#6267 📝 Improve docstrings on `json_schema.py`
  pydantic/json_schema.py
  pydantic/main.py
  tests/test_private_attributes.py
Labels: ready for review

#6271 Update internal links to be compatible with versions
  docs/contributing.md
  docs/usage/errors.md
  docs/usage/exporting_models.md
  docs/usage/fields.md
  docs/usage/types/unions.md
  pydantic/color.py
  pydantic/config.py
  pydantic/v1/_hypothesis_plugin.py
Labels: documentation, ready for review

#6272 Update pydantic-core to 0.42.0
  pdm.lock
  pyproject.toml
  tests/test_docs.py
  tests/test_root_model.py
  tests/test_types.py
Labels: ready for review

#6269 📝 Add documentation on Special Types
  docs/usage/types/custom.md
  docs/usage/validators.md
Labels: ready for review

#6274 Fix deduplication of Enum refs in CoreSchema
  pydantic/_internal/_core_utils.py
  tests/test_edge_cases.py
  tests/test_internal.py
Labels: ready for review

#6285 Fix relative links for logos
  docs/index.md
Labels: documentation

#6282 🐛 Fix `TypeError` on mixed discriminated unions
  pydantic/_internal/_discriminated_union.py
  pydantic/root_model.py
  tests/test_root_model.py
Labels: ready for review

#6288 Defer building discriminated unions until after all schemas are defined
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_discriminated_union.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_validate_call.py
  pydantic/type_adapter.py
  tests/test_discriminated_union.py
Labels: ready for review

#6283 🐛 Fix `RootModel.construct()` and `RootModel.__init__()` results aren't equal
  pydantic/main.py
  tests/test_root_model.py
Labels: ready for review

#6275 Improve the rendering of the conversion table
  docs/extra/tweaks.css
  docs/plugins/conversion_table.py
  docs/plugins/main.py
  docs/usage/conversion_table.md
Labels: ready for review

#6180 💥 Use custom `PydanticDeprecationWarning` warning instead of the generic one
  pydantic/__init__.py
  pydantic/_internal/_config.py
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_model_construction.py
  pydantic/color.py
  pydantic/config.py
  pydantic/deprecated/class_validators.py
  pydantic/deprecated/config.py
  pydantic/deprecated/decorator.py
  pydantic/deprecated/json.py
  pydantic/deprecated/parse.py
  pydantic/deprecated/tools.py
  pydantic/fields.py
  pydantic/main.py
  pydantic/types.py
  pydantic/warnings.py
  tests/test_config.py
  tests/test_construction.py
  tests/test_create_model.py
  tests/test_dataclasses.py
  tests/test_deprecated.py
  tests/test_deprecated_validate_arguments.py
  tests/test_edge_cases.py
  tests/test_json_schema.py
  tests/test_root_model.py
  tests/test_tools.py
  tests/test_validators.py
  tests/test_warnings.py
Labels: ready for review

#6294 PYD-140: Fix `use_enum_values` config flag
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_std_types_schema.py
  tests/test_main.py
Labels: ready for review

#6293 PYD-142: Fix use of Annotated + Field for dataclasses
  pydantic/fields.py
  tests/test_annotated.py
  tests/test_dataclasses.py
Labels: ready for review
