Repository pydantic/pydantic, pull requests merged in 2023-04, with the labels that each got.

#5250 Use constraints files for requirements
  Makefile
  requirements/README.md
  requirements/all.in
  requirements/docs-constrained.in
  requirements/linting-constrained.in
  requirements/pyproject.toml-constrained.in
  requirements/pyproject.toml-extras-constrained.in
  requirements/rebuild.sh
  requirements/refresh.sh
  requirements/testing-constrained.in
  requirements/testing-extra-constrained.in
Labels: ready for review

#5322 Implement frozen and extra_behavior for dataclasses
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_generate_schema.py
  pydantic/config.py
  pydantic/json_schema.py
  pyproject.toml
  requirements/linting.txt
  requirements/pyproject-all.txt
  requirements/pyproject-min.txt
  tests/test_dataclasses.py
  tests/test_edge_cases.py
Labels: ready for review

#5303 Get all dataclasses JSON schema tests passing
  docs/usage/models.md
  docs/usage/schema.md
  pydantic/_internal/_core_metadata.py
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_discriminated_union.py
  pydantic/dataclasses.py
  pydantic/json_schema.py
  pydantic/main.py
  tests/test_dataclasses.py
  tests/test_forward_ref.py
  tests/test_json_schema.py
Labels: awaiting author revision

#5288 Combine plugins and integration notes under Integrations
  .gitignore
  docs/img/rich_pydantic.png
  docs/index.md
  docs/integrations/datamodel_code_generator.md
  docs/integrations/devtools.md
  docs/integrations/hypothesis.md
  docs/integrations/mypy.md
  docs/integrations/pycharm.md
  docs/integrations/rich.md
  docs/integrations/visual_studio_code.md
  docs/usage/dataclasses.md
  docs/usage/models.md
  docs/usage/mypy.md
  mkdocs.yml
  requirements/docs.in
  requirements/docs.txt
  tests/test_docs.py
Labels: documentation, awaiting author revision

#5312 Add deprecated v1 methods to BaseModel
  docs/usage/models.md
  docs/usage/schema.md
  pydantic/deprecated/copy_internals.py
  pydantic/deprecated/parse.py
  pydantic/main.py
  pyproject.toml
  tests/test_construction.py
  tests/test_edge_cases.py
  tests/test_json_schema.py
  tests/test_orm_mode.py
Labels: awaiting author revision

#5308 Replace Validator with AnalyzedType
  docs/usage/models.md
  docs/usage/schema.md
  pydantic/__init__.py
  pydantic/analyzed_type.py
  pydantic/json_schema.py
  pydantic/main.py
  pydantic/tools.py
  tests/test_dataclasses.py
  tests/test_discriminated_union.py
  tests/test_edge_cases.py
  tests/test_json_schema.py
  tests/test_validator.py
Labels: ready for review

#5327 Config migration warning
  pydantic/config.py
  pydantic/dataclasses.py
  pydantic/decorator.py
  pydantic/main.py
  tests/test_config.py
  tests/test_decorator.py
  tests/test_edge_cases.py
  tests/test_private_attributes.py
Labels: awaiting author revision

#5331 rename `serializer` to `field_serializer`
  docs/usage/exporting_models.md
  docs/usage/types.md
  pydantic/__init__.py
  pydantic/_internal/_decorators.py
  pydantic/decorators.py
  tests/test_json.py
  tests/test_serialize.py
Labels: ready for review

#5335 Config cleanup
  docs/usage/dataclasses.md
  docs/usage/model_config.md
  pydantic/__init__.py
  pydantic/_internal/_generate_schema.py
  pydantic/analyzed_type.py
  pydantic/config.py
  pydantic/deprecated/json.py
  pydantic/json_schema.py
  pydantic/main.py
  tests/mypy/modules/dataclass_no_any.py
  tests/mypy/test_mypy.py
  tests/test_edge_cases.py
  tests/test_json.py
  tests/test_json_schema.py
  tests/test_main.py
Labels: ready for review

#5346 Make requirements/rebuild.sh and requirements/refresh.sh executable
  requirements/rebuild.sh
  requirements/refresh.sh
Labels: ready for review

#5345 Add strict and context arguments to validation functions
  pydantic/analyzed_type.py
  pydantic/main.py
  tests/test_main.py
  tests/test_validator.py
Labels: ready for review

#5340 [ALPHA] Update tests to show how to define root models in v2
  pydantic/_internal/_std_types_schema.py
  pydantic/_internal/_utils.py
  tests/test_deprecated.py
  tests/test_parse.py
Labels: ready for review

#5355 Convert schema_of to use AnalyzedType
  pydantic/tools.py
Labels: ready for review

#5371 Remove apparently-unnecessary model_rebuild
  pydantic/main.py
  tests/test_generics.py
Labels: ready for review

#5343 [ALPHA] V2 Alpha Blog Post
  HISTORY.md
  docs/blog/pydantic-v2-alpha.md
  docs/img/terrencedorsey.jpg
  docs/theme/announce.html
  docs/theme/main.html
  mkdocs.yml
Labels: documentation

#5324 Add auto generate conversion table to doc
  docs/blog/pydantic-v2.md
  docs/plugins/conversion_table.py
  docs/plugins/main.py
  docs/usage/conversion_table.md
  mkdocs.yml
  requirements/all.txt
  requirements/docs.in
  requirements/docs.txt
  tests/test_types.py
  tests/test_types_typeddict.py
  tests/test_validators.py
Labels: documentation, ready for review

#5384 Remove contuple from types
  pydantic/types.py
Labels: ready for review

#5378 Prevent multiple field serializers for a field in same class
  pydantic/_internal/_decorators.py
  tests/test_serialize.py
Labels: ready for review

#5362 Handle functools.partial/partialmethod in validators
  pydantic/_internal/_decorators.py
  pydantic/decorators.py
  tests/test_serialize.py
  tests/test_validators.py
Labels: ready for review

#5366 Add support for frozen and final fields
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_typing_extra.py
  pydantic/fields.py
  tests/test_edge_cases.py
  tests/test_main.py
  tests/test_types.py
  tests/test_validators.py
Labels: ready for review

#5392 Make types hashable
  pydantic/__init__.py
  pydantic/types.py
  tests/test_types.py
Labels: ready for review

#5390 Fix root validators & subclasses
  pydantic/_internal/_decorators.py
  pydantic/_internal/_generate_schema.py
  tests/test_json.py
  tests/test_serialize.py
  tests/test_validators.py
Labels: ready for review

#5382 Only call __pydantic_post_init__ with positional arguments
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/main.py
  tests/test_main.py
Labels: ready for review

#5361 Move generic metadata into a typeddict
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_generics.py
  pydantic/_internal/_model_construction.py
  pydantic/main.py
  tests/test_generics.py
Labels: ready for review

#5385 Add _types_namespace argument to model_rebuild
  pydantic/main.py
  tests/test_main.py
Labels: ready for review

#5372 Break out types into individual topics
  docs/usage/booleans.md
  docs/usage/bytesize.md
  docs/usage/callables.md
  docs/usage/color_types.md
  docs/usage/custom.md
  docs/usage/datetime.md
  docs/usage/dicts_mapping.md
  docs/usage/enums.md
  docs/usage/filetypes.md
  docs/usage/json.md
  docs/usage/list_types.md
  docs/usage/number_types.md
  docs/usage/payment_cards.md
  docs/usage/secrets.md
  docs/usage/sequence_iterable.md
  docs/usage/set_types.md
  docs/usage/standard_types.md
  docs/usage/string_types.md
  docs/usage/types.md
  docs/usage/types_fields.md
  docs/usage/typevars.md
  docs/usage/unions.md
  docs/usage/urls.md
  docs/usage/uuids.md
  mkdocs.yml
Labels: documentation, ready for review

#5403 Add pre-commit hooks installation to Contribute page
  docs/contributing.md
Labels: documentation

#5415 fix type checking for python 3.7 and simplify ForwardRef wrapper
  .github/workflows/ci.yml
  pydantic/_internal/_generics.py
  pydantic/_internal/_typing_extra.py
  pydantic/deprecated/copy_internals.py
  pydantic/main.py
Labels: ready for review

#5386 Add __pydantic_init_subclass__ classmethod
  pydantic/main.py
  tests/test_main.py
Labels: awaiting author revision

#5379 Add `@model_validator`
  pydantic/_internal/_decorators.py
  pydantic/_internal/_generate_schema.py
  pydantic/decorators.py
  tests/test_model_validator.py
Labels: ready for review

#5364 Implement Annotated validators
  docs/usage/validators.md
  pydantic/_internal/_decorators.py
  pydantic/_internal/_generate_schema.py
  pydantic/annotated_arguments.py
  pydantic/decorators.py
  tests/test_serialize.py
  tests/test_validators.py
Labels: ready for review

#5431 Make Extra a literal
  docs/usage/model_config.md
  docs/usage/types_fields.md
  pydantic/_internal/_config.py
  pydantic/_internal/_model_construction.py
  pydantic/config.py
  pydantic/decorator.py
  pydantic/main.py
  tests/mypy/modules/plugin_fail.py
  tests/mypy/modules/success.py
  tests/test_aliases.py
  tests/test_config.py
  tests/test_create_model.py
  tests/test_dataclasses.py
  tests/test_decorator.py
  tests/test_deprecated.py
  tests/test_edge_cases.py
  tests/test_json_schema.py
  tests/test_main.py
  tests/test_model_signature.py
  tests/test_private_attributes.py
  tests/test_validators.py
Labels: ready for review

#5429 Add Migration Guide page
  docs/migration.md
  mkdocs.yml
Labels: documentation

#5428 Clean up and add tests for extra and serialization
  tests/test_deprecated.py
  tests/test_main.py
  tests/test_serialize.py
Labels: ready for review

#5410 Remove unused fixture and args in test_serializer.py
  tests/test_serialize.py
Labels: ready for review

#5438 Add substance to migration guide section on validator decorators
  docs/migration.md
  docs/usage/validators.md
Labels: ready for review

#5425 Clean up Field parameters
  docs/usage/errors.md
  pydantic/_internal/_utils.py
  pydantic/_internal/_validators.py
  pydantic/errors.py
  pydantic/fields.py
  pydantic/networks.py
  tests/test_deprecated.py
  tests/test_main.py
  tests/test_networks_ipaddress.py
Labels: ready for review

#5433 Fix aliases and add `validation_alias` and `serialization_alias` to `Field`
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/fields.py
  tests/test_aliases.py
Labels: ready for review

#5455 Fix more tests
  tests/test_dataclasses.py
Labels: ready for review

#5427 Build API docs with mkdocstrings
  docs/api/analyzed_type.md
  docs/api/color.md
  docs/api/config.md
  docs/api/dataclasses.md
  docs/api/decorator.md
  docs/api/decorators.md
  docs/api/errors.md
  docs/api/fields.md
  docs/api/json_schema.md
  docs/api/main.md
  docs/api/mypy.md
  docs/api/networks.md
  docs/api/tools.md
  docs/api/types.md
  docs/api/version.md
  mkdocs.yml
  pydantic/analyzed_type.py
  pydantic/color.py
  pydantic/config.py
  pydantic/decorators.py
  pydantic/fields.py
  requirements/docs.in
  requirements/docs.txt
Labels: documentation, ready for review

#5458 Preserve maxlen attribute on validated deques
  pydantic/_internal/_std_types_schema.py
  pydantic/_internal/_validators.py
  tests/test_types.py
Labels: ready for review

#5462 Defer evaluation of dataclasses for test 2162
  tests/test_dataclasses.py
Labels: ready for review

#5467 Remove `__all__` from private modules
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_std_types_schema.py
  pydantic/_internal/_typing_extra.py
  pydantic/_internal/_utils.py
Labels: ready for review

#5479 Add `BaseConfig` back to the `pydantic.config` module
  pydantic/config.py
Labels: ready for review

#5459 Docs page for validation errors
  docs/usage/validation_errors.md
  mkdocs.yml
Labels: documentation, ready for review

#5485 Use cached BaseModel core schema to hopefully improve model building performance when a model is reused
  pydantic/_internal/_core_utils.py
  pydantic/main.py
Labels: ready for review

#5472 Split `__get_pydantic_core_schema__` into `__modify_pydantic_core_schema__` and `__get_pydantic_core_schema__`
  docs/usage/schema.md
  pydantic/_internal/_generate_schema.py
  pydantic/types.py
  tests/test_json_schema.py
  tests/test_serialize.py
Labels: ready for review

#5473 Refactor dataclasses, and get simple generics working
  docs/usage/dataclasses.md
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_forward_ref.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_generics.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_typing_extra.py
  pydantic/dataclasses.py
  pydantic/fields.py
  pydantic/main.py
  tests/test_dataclasses.py
Labels: ready for review

#5471 Add docstring coverage for dataclasses
  pydantic/dataclasses.py
Labels: documentation, ready for review

#5491 Move logic from _generate_schema.py to annotated_arguments.py
  pydantic/_internal/_generate_schema.py
  pydantic/annotated_arguments.py
Labels: ready for review

#5490 Rework `__get_pydantic_core_schema__` APIs
  docs/usage/exporting_models.md
  docs/usage/schema.md
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/annotated_arguments.py
  pydantic/color.py
  pydantic/main.py
  pydantic/networks.py
  pydantic/types.py
  tests/test_annotated.py
  tests/test_edge_cases.py
  tests/test_json_schema.py
  tests/test_serialize.py
Labels: ready for review

#5499 tweak type annotations
  pydantic/types.py
Labels: ready for review

#5500 Add AliasPath and AliasPathChoices and use them in validation_alias type
  pydantic/__init__.py
  pydantic/fields.py
  tests/test_aliases.py
Labels: awaiting author revision

#5494 Uprev pydantic-core to 0.24.1
  pydantic/_internal/_validate_call.py
  pyproject.toml
  requirements/all.txt
  requirements/docs.txt
  requirements/linting.txt
  requirements/pyproject-all.txt
  requirements/pyproject-min.txt
  tests/test_discriminated_union.py
  tests/test_types.py
  tests/test_validate_call.py
  tests/test_validators.py
Labels: ready for review

#5501 feat: allow accessing attributes as strings
  changes/5501-dijonkitchen.md
  pydantic/main.py
  tests/test_main.py
Labels: ready for review

#5469 Add docstring coverage for fields
  pydantic/fields.py
Labels: documentation, ready for review

#5506 No case enum
  docs/usage/enums.md
  pydantic/_internal/_std_types_schema.py
  tests/test_discriminated_union.py
  tests/test_generics.py
  tests/test_types.py
Labels: ready for review

#5503 Fix / rewrite xfail tests in docs
  docs/usage/models.md
  docs/usage/schema.md
Labels: ready for review

#5482 Add docstring coverage for errors
  pydantic/errors.py
Labels: documentation, awaiting author revision

#5525 docs: fix spelling and wording
  requirements/README.md
Labels: ready for review

#5502 Computed Fields
  docs/usage/computed_fields.md
  mkdocs.yml
  pydantic/__init__.py
  pydantic/_internal/_decorators.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/decorators.py
  pydantic/fields.py
  pydantic/main.py
  pyproject.toml
  requirements/all.txt
  requirements/docs.txt
  requirements/linting.txt
  requirements/pyproject-all.txt
  requirements/pyproject-min.txt
  tests/mypy/modules/computed_fields.py
  tests/mypy/outputs/latest/computed_fields.txt
  tests/mypy/test_mypy.py
  tests/pyright/pyright_example.py
  tests/test_computed_fields.py
  tests/test_private_attributes.py
Labels: ready for review

#5480 Add migration error messages to V2
  docs/usage/errors.md
  pydantic/__init__.py
  pydantic/_migration.py
  pydantic/class_validators.py
  pydantic/config.py
  pydantic/dataclasses.py
  pydantic/decorator.py
  pydantic/deprecated/config.py
  pydantic/deprecated/decorator.py
  pydantic/deprecated/json.py
  pydantic/deprecated/parse.py
  pydantic/deprecated/tools.py
  pydantic/env_settings.py
  pydantic/error_wrappers.py
  pydantic/errors.py
  pydantic/generics.py
  pydantic/json.py
  pydantic/main.py
  pydantic/networks.py
  pydantic/parse.py
  pydantic/schema.py
  pydantic/tools.py
  pydantic/types.py
  pydantic/typing.py
  pydantic/utils.py
  pydantic/validators.py
  tests/mypy/test_mypy.py
  tests/test_deprecated.py
  tests/test_docs.py
  tests/test_json.py
  tests/test_migration.py
  tests/test_parse.py
  tests/test_tools.py
Labels: ready for review

#5489 Add support for Hashable
  pydantic/_internal/_generate_schema.py
  tests/test_dataclasses.py
  tests/test_edge_cases.py
  tests/test_validators_dataclass.py
Labels: ready for review

#5538 Change errors URL for next release
  pydantic/errors.py
  tests/test_errors.py
Labels: ready for review

#5559 Add `pydantic.typing.evaluate_forwardref` on the REMOVED_IN_V2 list
  pydantic/_migration.py
Labels: ready for review

#5556 Move types documentation to usage/types and fix links
  docs/usage/model_config.md
  docs/usage/models.md
  docs/usage/types/booleans.md
  docs/usage/types/bytesize.md
  docs/usage/types/callables.md
  docs/usage/types/color_types.md
  docs/usage/types/custom.md
  docs/usage/types/datetime.md
  docs/usage/types/dicts_mapping.md
  docs/usage/types/enums.md
  docs/usage/types/file_types.md
  docs/usage/types/json.md
  docs/usage/types/list_types.md
  docs/usage/types/number_types.md
  docs/usage/types/payment_cards.md
  docs/usage/types/secrets.md
  docs/usage/types/sequence_iterable.md
  docs/usage/types/set_types.md
  docs/usage/types/standard_types.md
  docs/usage/types/string_types.md
  docs/usage/types/types.md
  docs/usage/types/types_fields.md
  docs/usage/types/typevars.md
  docs/usage/types/unions.md
  docs/usage/types/urls.md
  docs/usage/types/uuids.md
  docs/usage/validation_decorator.md
  mkdocs.yml
Labels: documentation, ready for review

#5505 update `AnyClassMethod` for change in python/typeshed#9771
  changes/5505-ITProKyle.md
  pydantic/typing.py
Labels: awaiting author revision

#5554 Fix bug caused by builtin generics not converting str to ForwardRef
  pydantic/_internal/_generate_schema.py
  tests/test_edge_cases.py
Labels: ready for review

#5565 Add docstrings for decorators.py
  pydantic/decorators.py
Labels: documentation

#5552 Bump typing-extensions minimum version to 4.5.0
  pyproject.toml
  requirements/all.txt
  requirements/docs.txt
Labels: ready for review

#5577 Fix reviewer name on pyproject.toml
  pyproject.toml
Labels: ready for review

#5576 Use only relative imports
  pydantic/_internal/_config.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_generics.py
  pydantic/deprecated/copy_internals.py
Labels: ready for review

#5591 Change bare-enum behavior for strict json
  pydantic/_internal/_std_types_schema.py
  tests/test_construction.py
  tests/test_types.py
Labels: ready for review

#5570 Json schema modify function as middleware
  docs/migration.md
  docs/usage/model_config.md
  docs/usage/schema.md
  docs/usage/types/custom.md
  pydantic/_internal/_core_metadata.py
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_json_schema_shared.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_std_types_schema.py
  pydantic/color.py
  pydantic/json_schema.py
  pydantic/main.py
  pydantic/networks.py
  pydantic/types.py
  tests/test_json_schema.py
  tests/test_parse.py
Labels: ready for review

#5555 Fix bug with recursive models with multiple references to the same type
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_generate_schema.py
  tests/test_main.py
Labels: ready for review

#5564 Support UUID serialization to JSON
  pydantic/_internal/_std_types_schema.py
  tests/test_types.py
Labels: ready for review

#5603 Support more complex typing structures with `Annotated`
  pydantic/annotated_arguments.py
  tests/test_serialize.py
  tests/test_validators.py
Labels: ready for review

#5609 Make it possible to have a plain BaseModel field annotation
  pydantic/main.py
  tests/test_edge_cases.py
Labels: ready for review

#5589 Support `PathLike`
  pydantic/_internal/_std_types_schema.py
  pydantic/_internal/_validators.py
  tests/test_types.py
Labels: ready for review

#5526 Add test for exotic approaches to forward refs
  tests/test_edge_cases.py
Labels: ready for review

#5605 Add tests for date types
  pydantic/version.py
  tests/test_datetime.py
  tests/test_json_schema.py
Labels: ready for review

#5610 Use PDM for lockfiles & env management
  .github/workflows/ci.yml
  .github/workflows/dependencies-check.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  docs/contributing.md
  pdm.lock
  pydantic/networks.py
  pyproject.toml
  requirements/README.md
  requirements/all.in
  requirements/all.txt
  requirements/docs-constrained.in
  requirements/docs.in
  requirements/docs.txt
  requirements/linting-constrained.in
  requirements/linting.in
  requirements/linting.txt
  requirements/pyproject-all.txt
  requirements/pyproject-min.txt
  requirements/pyproject.toml-constrained.in
  requirements/pyproject.toml-extras-constrained.in
  requirements/rebuild.sh
  requirements/refresh.sh
  requirements/testing-constrained.in
  requirements/testing-extra-constrained.in
  requirements/testing-extra.in
  requirements/testing-extra.txt
  requirements/testing-mypy-constrained.in
  requirements/testing-mypy.in
  requirements/testing-mypy.txt
  requirements/testing.in
  requirements/testing.txt
  tests/test_edge_cases.py
  tests/test_networks.py
  tests/test_types.py
Labels: ready for review

#5617 Add `datetime_parse` module to the migration logic
  pydantic/_migration.py
  pydantic/datetime_parse.py
Labels: ready for review

#5624 Fix dataclass module name
  pydantic/_internal/_dataclasses.py
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Labels: ready for review

#5619 Create a GetCoreSchemaHandler class
  docs/usage/exporting_models.md
  docs/usage/schema.md
  pydantic/_internal/_core_metadata.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_schema_generation_shared.py
  pydantic/_internal/_std_types_schema.py
  pydantic/annotated.py
  pydantic/annotated_arguments.py
  pydantic/color.py
  pydantic/json_schema.py
  pydantic/networks.py
  pydantic/types.py
  tests/test_annotated.py
  tests/test_edge_cases.py
  tests/test_json_schema.py
Labels: ready for review

#5633 Add model_validator to `pydantic.__all__`
  pydantic/__init__.py
Labels: ready for review

#5628 Add mike to V1 docs
  .github/workflows/ci.yml
  docs/requirements.txt
  mkdocs.yml
Labels: documentation, awaiting author revision

#5626 using "mike" for documenting multiple versions
  .github/workflows/ci.yml
  docs/plugins/main.py
  mkdocs.yml
  pdm.lock
  pyproject.toml
Labels: documentation

#5634 Add make help command
  Makefile
Labels: awaiting author revision

#5627 Backport update to email-validator>=2.0.0.post2
  changes/5627-adriangb.md
  pydantic/networks.py
  requirements.txt
  tests/requirements-testing.txt
Labels: awaiting author revision

#5653 remove unused info arguments from validator functions
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_std_types_schema.py
  pydantic/_internal/_validators.py
Labels: ready for review
