Repository pydantic/pydantic, pull requests merged in 2023-12, with the labels that each got.

#8284 Uprev core to 2.14.5
  pdm.lock
  pyproject.toml
Labels: ready for review, relnotes-packaging

#8286 Added tests for the case JsonValue contains subclassed primitive values
  pydantic/types.py
  tests/test_types.py
Labels: relnotes-fix

#8285 Fix `mypy` error on free before validator (classmethod)
  pydantic/functional_validators.py
  tests/mypy/modules/success.py
  tests/mypy/outputs/1.0.1/mypy-default_ini/success.py
  tests/mypy/outputs/1.0.1/pyproject-default_toml/success.py
Labels: ready for review, mypy, relnotes-fix

#8319 Update docs to indicate after model validators should return the instance
  docs/concepts/validators.md
Labels: relnotes-ignore

#8316 Fix `to_snake` conversion
  pydantic/alias_generators.py
  tests/test_utils.py
Labels: relnotes-fix

#8322 Update performance.md: remove stray "==="
  docs/concepts/performance.md
Labels: relnotes-ignore

#8305 Fix type annotation of `ModelMetaclass.__prepare__`
  pydantic/_internal/_model_construction.py
Labels: ready for review, relnotes-fix

#8334 Fix: emoji update to fix failing docs build
  pdm.lock
Labels: ready for review, relnotes-ignore

#8268 Make `@validate_call` return a function instead of a custom descriptor - fixes binding issue with inheritance and adds `self/cls` argument to validation errors
  pydantic/_internal/_validate_call.py
  pydantic/validate_call_decorator.py
  tests/test_validate_call.py
Labels: relnotes-change

#8356 Fix typos
  pydantic/_internal/_generics.py
  pydantic/fields.py
  pydantic/v1/fields.py
  tests/test_main.py
  tests/test_types_typeddict.py
Labels: relnotes-ignore

#8357 Remove fastapi changes patch in test-fastapi make command
  tests/test_fastapi.sh
  tests/test_fastapi_changes.patch
Labels: ready for review, relnotes-ignore

#8352 Exclude `BaseModel` docstring from JSON schema description
  pydantic/_internal/_generate_schema.py
  tests/test_json_schema.py
Labels: ready for review, relnotes-change

#8365 Disallow `config` specification when initializing a `TypeAdapter` when the annotated type has config already
  pydantic/type_adapter.py
  tests/test_type_adapter.py
Labels: ready for review, relnotes-fix

#8345 Add Pydantic People Page
  .github/actions/people/action.yml
  .github/actions/people/people.py
  .github/workflows/update-pydantic-people.yml
  docs/extra/tweaks.css
  docs/plugins/main.py
  docs/plugins/people.yml
  docs/pydantic_people.md
  mkdocs.yml
Labels: relnotes-feature

#8376 Add a test demonstrating why we don't reset the parent namespace in `create_model`
  pydantic/main.py
  tests/test_create_model.py
Labels: relnotes-ignore

#8372 Fix various minor issues in docstrings
  pydantic/annotated_handlers.py
  pydantic/config.py
  pydantic/dataclasses.py
  pydantic/deprecated/class_validators.py
  pydantic/fields.py
  pydantic/json_schema.py
  pydantic/main.py
  pydantic/type_adapter.py
  pydantic/v1/class_validators.py
Labels: relnotes-ignore

#8389 Fix a naming issue with JSON schema for generics parametrized by recursive type aliases
  pydantic/_internal/_repr.py
  tests/test_type_alias_type.py
Labels: relnotes-fix

#8395 Update Mypy docs with correct output from Mypy
  docs/contributing.md
  docs/integrations/mypy.md
Labels: relnotes-ignore

#8386 Fix ImportString documentation about default value validation
  pydantic/types.py
  tests/test_types.py
Labels: relnotes-ignore

#8402 fix: type annotation
  docs/plugins/main.py
Labels: ready for review, relnotes-fix

#8404 prepping for yyyy-MM-DD datetime support
  docs/concepts/models.md
  docs/errors/validation_errors.md
  tests/test_datetime.py
  tests/test_docs.py
  tests/test_types.py
Labels: relnotes-feature

#8387 Add support for field alias in dataclass signature
  pydantic/_internal/_constructor_signature_generators.py
  tests/test_dataclasses.py
Labels: awaiting author revision, relnotes-fix

#8420 2.5.3 patch release with new pydantic-core
  pdm.lock
  pydantic/functional_serializers.py
  pydantic/functional_validators.py
  pydantic/version.py
  pyproject.toml
  tests/test_fastapi.sh
  tests/test_fastapi_changes.patch
Labels: relnotes-ignore

#8423 Add history for 2.5.3
  HISTORY.md
Labels: relnotes-ignore

#8424 Fix history
  HISTORY.md
Labels: relnotes-ignore

#8425 Fix pydantic-core version in history
  HISTORY.md
Labels: relnotes-ignore

#8442 Update docstrings for secret types
  pydantic/types.py
Labels: relnotes-ignore
