Repository pydantic/pydantic, pull requests merged in 2023-08, with the labels that each got.

#6965 add field_serializer to computed_field
  pydantic/_internal/_decorators.py
  pydantic/_internal/_generate_schema.py
  tests/test_computed_fields.py
  tests/test_serialize.py
Labels: ready for review

#6981 Fix inherited typeddict attributes / config
  pydantic/_internal/_generate_schema.py
  tests/test_types_typeddict.py
Labels: ready for review

#7014 Update test-fastapi deselected tests
  tests/test_fastapi.sh
Labels: ready for review

#7015 Fix validator doc format
  docs/usage/validators.md
Labels: ready for review

#7032 Fix typo in docstring of model_json_schema
  pydantic/main.py
Labels: ready for review

#7030 Add benchmark representing FastAPI startup time
  pyproject.toml
  tests/benchmarks/test_fastapi_startup.py
Labels: ready for review

#7029 Fix json_encoders for Enum subclasses
  pydantic/_internal/_generate_schema.py
  tests/test_json.py
Labels: ready for review

#7052 Update docstring of `ser_json_bytes` regarding base64 encoding
  pydantic/config.py
Labels: ready for review

#7046 Allow `@validate_call` to work on async methods
  pydantic/_internal/_validate_call.py
  tests/test_validate_call.py
Labels: ready for review

#7002 Fix: mypy error with `Settings` and `SettingsConfigDict`
  pydantic/mypy.py
  tests/mypy/modules/pydantic_settings.py
  tests/mypy/outputs/1.0.1/mypy-default_ini/pydantic_settings.py
  tests/mypy/outputs/1.0.1/mypy-plugin_ini/pydantic_settings.py
  tests/mypy/outputs/1.0.1/pyproject-default_toml/pydantic_settings.py
  tests/mypy/outputs/1.0.1/pyproject-plugin_toml/pydantic_settings.py
  tests/mypy/outputs/1.1.1/mypy-default_ini/pydantic_settings.py
  tests/mypy/outputs/1.1.1/mypy-plugin_ini/pydantic_settings.py
  tests/mypy/outputs/1.1.1/pyproject-default_toml/pydantic_settings.py
  tests/mypy/outputs/1.1.1/pyproject-plugin_toml/pydantic_settings.py
  tests/mypy/outputs/1.4.1/mypy-plugin_ini/pydantic_settings.py
  tests/mypy/outputs/1.4.1/pyproject-plugin_toml/pydantic_settings.py
Labels: ready for review

#7063 Fix some typos (repeated words and it's/its)
  docs/errors/usage_errors.md
  docs/integrations/mypy.md
  docs/integrations/visual_studio_code.md
  docs/usage/model_config.md
  pydantic/_internal/_annotated_handlers.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/v1/datetime_parse.py
  pydantic/v1/fields.py
  pyproject.toml
  tests/test_json.py
  tests/test_root_model.py
Labels: ready for review

#7062 Fix the typo in docstring
  pydantic/_internal/_generate_schema.py
Labels: ready for review

#6995 Docs: Fix broken URL in the pydantic-settings package recommendation
  pydantic/_migration.py
Labels: awaiting author revision

#6951 Handle constraints being applied to schemas that don't accept it
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/_internal/_validators.py
  pydantic/fields.py
  tests/test_annotated.py
  tests/test_json_schema.py
  tests/test_main.py
  tests/test_serialize.py
  tests/test_types.py
Labels: ready for review

#7082 Replace almost_equal_floats with math.isclose
  pydantic/_internal/_utils.py
  pydantic/color.py
Labels: awaiting author revision

#7113 📝 Add usage link to `RootModel`
  docs/usage/models.md
  pydantic/root_model.py
Labels: ready for review

#7116 Revert "Fix default port for mongosrv DSNs (#6827)"
  pydantic/networks.py
  tests/test_networks.py
Labels: ready for review

#6950 Clarify validate_default and _Unset handling in usage docs and migration guide
  docs/migration.md
  docs/usage/validators.md
  pydantic/fields.py
Labels: awaiting author revision

#7086 Tweak documentation of `Field.exclude`
  pydantic/fields.py
Labels: ready for review

#7103 Do not require `validate_assignment` to use `Field.frozen`
  docs/errors/validation_errors.md
  docs/usage/fields.md
  pydantic/main.py
  tests/test_main.py
Labels: ready for review

#7040 tweaks to `_core_utils`
  pydantic/_internal/_core_utils.py
  tests/benchmarks/test_fastapi_startup.py
Labels: ready for review

#7126 Make DefaultDict working with set
  pydantic/_internal/_std_types_schema.py
  tests/test_types.py
Labels: ready for review

#7119 Don't always require typing.Generic as a base for partially parametrized models
  pydantic/_internal/_model_construction.py
  tests/test_generics.py
Labels: ready for review

#7131 classify error `loc` as allowed breakage
  docs/version-compatibility.md
Labels: ready for review, ignore-for-release

#7020 Fix issue with JSON schema incorrectly using parent class core schema
  pydantic/json_schema.py
  tests/test_json_schema.py
Labels: ready for review

#6940 Fix xfailed test related to TypedDict and alias_generator
  tests/test_types_typeddict.py
Labels: ready for review

#6939 Improve error message for NameEmail
  pydantic/networks.py
  tests/test_networks.py
Labels: ready for review

#7144 Reflect namedtuple default values during validation
  pydantic/_internal/_generate_schema.py
  tests/test_types_namedtuple.py
Labels: ready for review

#7150 Update dependencies, fix pydantic-core usage, fix CI issues
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pdm.lock
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_discriminated_union.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_generics.py
  pydantic/_internal/_typing_extra.py
  pydantic/json_schema.py
  pyproject.toml
  tests/test_docs.py
  tests/test_json_schema.py
Labels: ready for review

#7118 Add mypy 1.5.0
  .github/workflows/ci.yml
  Makefile
Labels: ready for review

#7101 Relax signature checks to better support builtins and C extension functions as validators
  pydantic/_internal/_decorators.py
  tests/test_validators.py
Labels: ready for review

#7124 Include an error message hint for inherited ordering
  pydantic/_internal/_model_construction.py
  tests/test_generics.py
Labels: ready for review

#7136 Include Field extra keys name in warning
  pydantic/fields.py
  tests/test_deprecated.py
Labels: ready for review

#7168 🔥 Remove orphaned changes file from repo
  changes/6632-jvllmr.md
Labels: ready for review

#7190 Add copy button on documentation
  mkdocs.yml
Labels: ready for review

#7212 add 2.2.1 to changelog
  HISTORY.md
Labels: ready for review

#7193 Make shadowing attributes a warning instead of an error
  pydantic/_internal/_fields.py
  tests/test_main.py
Labels: ready for review

#7192 Document `Base64Str` and `Base64Bytes`
  docs/usage/types/encoded.md
  pydantic/types.py
Labels: ready for review

#7024 Fix `config.defer_build` for serialization first cases
  Makefile
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_mock_val_ser.py
  pydantic/_internal/_mock_validator.py
  pydantic/_internal/_model_construction.py
  pydantic/json_schema.py
  pydantic/main.py
  tests/test_config.py
  tests/test_dataclasses.py
Labels: ready for review

#7210 clean Model docstrings in JSON Schema
  docs/usage/json_schema.md
  pydantic/_internal/_generate_schema.py
  tests/test_json_schema.py
Labels: ready for review

#7019 ✅ Implement `tzinfo.fromutc` method for `TzInfo` in `pydantic-core`
  .pre-commit-config.yaml
  pdm.lock
  pyproject.toml
  tests/test_datetime.py
Labels: ready for review

#7231 Prepare for 2.3.0 release
  HISTORY.md
  pdm.lock
  pydantic/version.py
  pyproject.toml
Labels: ready for review

#7233 Fix PR links in HISTORY.md for v2.3.0
  HISTORY.md
Labels: ready for review

#7213 Move function is_pydantic_dataclass from pydantic._internal._dataclasses to pydantic.dataclasses
  docs/usage/dataclasses.md
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_generate_schema.py
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Labels: ready for review

#7244 Release improvements
  .pre-commit-config.yaml
  pydantic/config.py
  pydantic/dataclasses.py
  pydantic/fields.py
  pydantic/functional_validators.py
  pydantic/main.py
  pydantic/root_model.py
  pydantic/type_adapter.py
  pydantic/validate_call.py
  pyproject.toml
  release/README.md
  release/make_history.py
  tests/check_usage_docs.py
Labels: ready for review

#7272 Fix config detection for TypedDict from grandparent classes
  pydantic/_internal/_generate_schema.py
  tests/test_types_typeddict.py
Labels: ready for review

#7274 Fix hash function generation for frozen models with unusual MRO
  pydantic/_internal/_decorators.py
  pydantic/_internal/_model_construction.py
  tests/test_generics.py
  tests/test_types_typeddict.py
Labels: ready for review

#7282 Fixes for `install` and `docs` targets when contributing on Windows
  docs/plugins/main.py
  pdm.lock
  pyproject.toml
Labels: ready for review

#7281 Make strict config overridable in field for Path
  pydantic/_internal/_std_types_schema.py
  tests/test_types.py
Labels: ready for review

#7277 Update pydantic-core to latest version
  docs/usage/types/custom.md
  pdm.lock
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_generate_schema.py
  pydantic/json_schema.py
  pydantic/v1/main.py
  pyproject.toml
  tests/test_json_schema.py
  tests/test_utils.py
Labels: ready for review

#7288 Fix pydantic-settings to underscore in docs
  docs/migration.md
Labels: ready for review
