Repository pydantic/pydantic, pull requests merged in 2023-11, with the labels that each got.

#7983 Add CallableDiscriminator and Tag
  docs/api/standard_library_types.md
  docs/concepts/fields.md
  docs/concepts/performance.md
  docs/concepts/validators.md
  docs/errors/usage_errors.md
  pydantic/__init__.py
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_discriminated_union.py
  pydantic/_internal/_generate_schema.py
  pydantic/errors.py
  pydantic/fields.py
  pydantic/types.py
  tests/test_discriminated_union.py
Labels: relnotes-feature

#8005 Adding necessary changes to `pdm.lock`, oversight in previous ruff update
  pdm.lock
  pyproject.toml
Labels: ready for review, relnotes-ignore

#7972 Fix plurals in validation error messages (in tests)
  tests/test_main.py
  tests/test_types.py
Labels: awaiting author revision, relnotes-fix

#8000 Improve type hints in json_schema module
  pydantic/json_schema.py
Labels: relnotes-ignore

#8004 `PrivateAttr` is passed from `Annotated` default position
  pydantic/_internal/_model_construction.py
  tests/test_annotated.py
Labels: relnotes-fix

#8012 Don't decode bytes (which may not be UTF8) when displaying SecretBytes
  pydantic/types.py
  tests/test_types.py
Labels: ready for review, relnotes-fix

#8015 Increase test coverage a bit
  pydantic/_internal/_config.py
  pydantic/_internal/_model_construction.py
  tests/test_annotated.py
  tests/test_plugins.py
Labels: ready for review, relnotes-ignore

#8024 Fix failing docs deploy test
  .github/workflows/docs-update.yml
  pyproject.toml
Labels: relnotes-ignore

#8023 Clearer error on invalid Plugin
  pydantic/plugin/_schema_validator.py
Labels: relnotes-fix

#8025 Union docs
  docs/api/standard_library_types.md
  docs/concepts/unions.md
  mkdocs.yml
  pydantic/types.py
Labels: relnotes-ignore

#8027 Correct pydantic dataclasses import
  pydantic/__init__.py
  pydantic/_migration.py
  tests/conftest.py
  tests/test_exports.py
  tests/test_migration.py
Labels: relnotes-fix

#8001 Make union case tags affect union error messages
  docs/concepts/unions.md
  docs/migration.md
  pydantic/_internal/_generate_schema.py
  pydantic/types.py
  tests/test_types.py
Labels: relnotes-feature

#8013 Add `examples` and `json_schema_extra` to `@computed_field`
  pydantic/_internal/_generate_schema.py
  pydantic/fields.py
  tests/test_computed_fields.py
Labels: ready for review, relnotes-feature

#7998 Add `JsonValue` type
  pydantic/__init__.py
  pydantic/types.py
  tests/test_types.py
Labels: relnotes-feature

#8032 Cleanup concepts/models(generic) example
  docs/concepts/models.md
Labels: ready for review, relnotes-ignore

#8034 Quick fix - moving `JsonValue` docs
  pydantic/types.py
Labels: relnotes-ignore

#8029 Bump `pydantic-core` to `2.12.0`
  docs/concepts/models.md
  pdm.lock
  pyproject.toml
  tests/test_fastapi_changes.patch
  tests/test_main.py
  tests/test_serialize.py
  tests/test_types.py
Labels: relnotes-packaging

#8041 Fix formatting in new union docs
  docs/concepts/unions.md
Labels: documentation

#8046 Add more of the team to `authors` list
  pyproject.toml
Labels: ready for review, relnotes-ignore

#8045 uprev pydantic-core to v2.13.0
  pdm.lock
  pyproject.toml
Labels: relnotes-packaging

#8047 Allow str as argument to `Discriminator`
  docs/concepts/fields.md
  docs/concepts/unions.md
  docs/errors/usage_errors.md
  pydantic/__init__.py
  pydantic/_internal/_discriminated_union.py
  pydantic/_internal/_generate_schema.py
  pydantic/fields.py
  pydantic/types.py
  tests/test_discriminated_union.py
Labels: relnotes-feature

#8050 Fix misbehavior for models referencing redefined type aliases
  pydantic/_internal/_core_utils.py
  tests/test_type_alias_type.py
Labels: relnotes-fix

#8059 Add `TypeAdapter` section to `concepts` page of docs
  docs/api/type_adapter.md
  docs/concepts/type_adapter.md
  mkdocs.yml
  pydantic/type_adapter.py
Labels: relnotes-ignore

#8042 Improvements to discriminated union docs
  docs/concepts/unions.md
  pydantic/types.py
Labels: relnotes-ignore

#8067 bump pydantic-core to 2.14.0
  pdm.lock
  pyproject.toml
Labels: ready for review, relnotes-packaging

#8069 bump pydantic-core to 2.14.1
  pdm.lock
  pyproject.toml
Labels: relnotes-packaging

#8063 WIP: prep for `2.5.0b1` release
  HISTORY.md
  pydantic/dataclasses.py
  pydantic/fields.py
  pydantic/functional_validators.py
  pydantic/main.py
  pydantic/plugin/__init__.py
  pydantic/root_model.py
  pydantic/validate_call_decorator.py
  pydantic/version.py
  release/README.md
  tests/test_annotated.py
  tests/test_types.py
Labels: relnotes-packaging

#8070 Update union documentation for reimplemented "smart" mode
  docs/concepts/unions.md
Labels: documentation

#8077 Add deprecation warning + make `mkdocs build` strict
  Makefile
  mkdocs.yml
  pydantic/types.py
Labels: relnotes-ignore

#8075 Update to `pyright==1.1.335`
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pydantic/_internal/_utils.py
  pydantic/deprecated/parse.py
  pydantic/fields.py
  pydantic/type_adapter.py
Labels: ready for review, relnotes-packaging

#8018 Simplify ConfigWrapperStack.push context manager
  pydantic/_internal/_config.py
Labels: ready for review, relnotes-ignore

#8082 Cross link API docs and concepts docs more throughly
  docs/concepts/fields.md
  docs/concepts/json_schema.md
  docs/concepts/models.md
  docs/concepts/strict_mode.md
  docs/concepts/types.md
  docs/concepts/unions.md
  pydantic/functional_validators.py
  pydantic/json_schema.py
  pydantic/types.py
Labels: ready for review, relnotes-ignore

#8091 `v2.5.0` release
  HISTORY.md
  pydantic/version.py
  release/make_history.py
Labels: relnotes-ignore

#7183 fix: move getattr warning in deprecated BaseConfig
  pydantic/deprecated/config.py
Labels: relnotes-fix

#6874 Add NATS DSN
  pydantic/__init__.py
  pydantic/networks.py
  tests/test_networks.py
Labels: relnotes-feature

#7786 Only hash model_fields, not whole __dict__
  pydantic/_internal/_model_construction.py
  tests/test_main.py
Labels: relnotes-fix

#8054 Add Codspeed profiling Actions workflow.
  .github/workflows/codspeed.yml
  pyproject.toml
Labels: ready for review, relnotes-performance

#7411 Fix mishandling of unions while freezing types in the mypy plugin
  pydantic/mypy.py
  tests/mypy/configs/mypy-plugin-strict-no-any.ini
  tests/mypy/modules/plugin_success.py
  tests/mypy/outputs/1.0.1/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.0.1/mypy-plugin-strict_ini/plugin_success.py
  tests/mypy/outputs/1.0.1/mypy-plugin_ini/plugin_success.py
  tests/mypy/outputs/1.0.1/pyproject-plugin-strict_toml/plugin_success.py
  tests/mypy/outputs/1.0.1/pyproject-plugin_toml/plugin_success.py
  tests/mypy/outputs/1.1.1/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.2.0/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.4.1/mypy-default_ini/plugin_success.py
  tests/mypy/test_mypy.py
Labels: relnotes-fix

#8097 Move the package description limit in HISTORY.md
  HISTORY.md
Labels: relnotes-ignore

#7188 Drop Python3.7 support
  .github/workflows/ci.yml
  .github/workflows/dependencies-check.yml
  README.md
  docs/contributing.md
  docs/index.md
  docs/install.md
  mkdocs.yml
  pdm.lock
  pydantic/_internal/_decorators.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_generics.py
  pydantic/_internal/_typing_extra.py
  pydantic/fields.py
  pydantic/json_schema.py
  pyproject.toml
  tests/mypy/modules/plugin_success.py
  tests/mypy/outputs/1.0.1/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.0.1/mypy-plugin-strict_ini/plugin_success.py
  tests/mypy/outputs/1.0.1/mypy-plugin_ini/plugin_success.py
  tests/mypy/outputs/1.0.1/pyproject-plugin-strict_toml/plugin_success.py
  tests/mypy/outputs/1.0.1/pyproject-plugin_toml/plugin_success.py
  tests/mypy/outputs/1.1.1/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.2.0/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.4.1/mypy-default_ini/plugin_success.py
  tests/mypy/test_mypy.py
  tests/test_dataclasses.py
  tests/test_deprecated_validate_arguments.py
  tests/test_fields.py
  tests/test_generics.py
  tests/test_main.py
  tests/test_types.py
  tests/test_typing.py
  tests/test_validate_call.py
  tests/test_validators.py
Labels: relnotes-change

#8110 Fixes to add to `2.5.1`
  HISTORY.md
  pydantic/_internal/_validate_call.py
Labels: relnotes-fix

#8120 uprev pydantic-core to 2.14.3
  pdm.lock
  pyproject.toml
Labels: relnotes-packaging

#8121 uprev pydantic-core to 2.14.3
  pdm.lock
  pyproject.toml
Labels: relnotes-packaging

#8132 Prepare release 2.5.1
  HISTORY.md
  pdm.lock
  pydantic/version.py
  pyproject.toml
Labels: ready for review, relnotes-ignore

#8140 Add 2.5.1 changes to HISTORY.md
  HISTORY.md
Labels: ready for review, relnotes-ignore

#8141 Fix `model_validator` example usage code
  pydantic/functional_validators.py
Labels: relnotes-ignore

#8144 Update `from_json` docs
  docs/api/pydantic_core.md
  docs/concepts/json.md
Labels: ready for review, relnotes-ignore

#8138 Fix mypy error on untyped ClassVar
  pydantic/mypy.py
  tests/mypy/modules/success.py
  tests/mypy/outputs/1.0.1/mypy-default_ini/success.py
  tests/mypy/outputs/1.0.1/pyproject-default_toml/success.py
Labels: relnotes-fix

#8145 Adding short commit to `version_info`
  pydantic/_internal/_git.py
  pydantic/version.py
  tests/test_version.py
Labels: ready for review, relnotes-ignore

#7825 Only compare pydantic fields in `BaseModel.__eq__` instead of whole `__dict__`
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_utils.py
  pydantic/main.py
  tests/benchmarks/basemodel_eq_performance.py
  tests/test_edge_cases.py
  tests/test_main.py
Labels: ready for review, relnotes-fix

#8072 Use positional-only `self` in `BaseModel` constructor, so no field name can ever conflict with it.
  docs/concepts/validators.md
  pydantic/_internal/_generate_schema.py
  pydantic/main.py
  pydantic/mypy.py
  pydantic/root_model.py
  tests/test_edge_cases.py
Labels: ready for review, relnotes-change

#8159 Add `ConfigDict.ser_json_inf_nan`
  docs/concepts/json_schema.md
  pydantic/_internal/_config.py
  pydantic/config.py
  tests/test_types.py
Labels: relnotes-feature

#8169 prep for 2.5.2 release
  HISTORY.md
  pydantic/version.py
Labels: relnotes-ignore

#8184 Fix doc example in `model_validator`
  pydantic/functional_validators.py
Labels: relnotes-ignore

#8190 Fix: `JsonValue` `bool` serialization
  pydantic/types.py
  tests/test_types.py
Labels: relnotes-fix

#8191 Fix order of fields in field validators example
  docs/concepts/validators.md
Labels: ready for review, relnotes-ignore

#8197 Remove unneeded `TypeVar` in docs example
  docs/concepts/types.md
Labels: relnotes-ignore

#8222 Add types.OnErrorOmit
  pydantic/__init__.py
  pydantic/types.py
  tests/test_types.py
Labels: relnotes-feature

#8223 Update strict docstring in model_validate method.
  pydantic/main.py
Labels: ready for review, relnotes-fix

#8227 Fix overload position of `computed_field`
  pydantic/fields.py
Labels: relnotes-fix

#8231 Update docs for integrations/datamodel_code_generator
  docs/integrations/datamodel_code_generator.md
Labels: awaiting author revision, relnotes-ignore

#8171 updating docs with more SkipJsonSchema info
  docs/concepts/fields.md
  docs/concepts/json_schema.md
  pdm.lock
  pydantic/fields.py
  pydantic/json_schema.py
Labels: ready for review, relnotes-ignore

#8236 Minor refactoring -- no behavioral changes
  pydantic/_internal/_constructor_signature_generators.py
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/fields.py
  pydantic/mypy.py
Labels: ready for review, relnotes-ignore

#8066 Fix custom type type casting used in multiple attributes
  pydantic/_internal/_generate_schema.py
  tests/test_json_schema.py
Labels: ready for review, relnotes-fix

#6033 check for email-validator version >= 2.0
  pydantic/networks.py
Labels: relnotes-packaging

#8255 Add `pydantic_extra_types.mac_address` docs reference
  docs/api/pydantic_extra_types_mac_address.md
Labels: ready for review, relnotes-ignore

#8249 Fix issue not allowing validate_call decorator to be dynamically assigned to a class method.
  pydantic/_internal/_validate_call.py
  tests/test_validate_call.py
Labels: relnotes-fix

#8256 Remove hash check from northstar benchmark
  tests/benchmarks/test_north_star.py
Labels: relnotes-ignore

#8263 Remove negative language from Models documentation
  docs/concepts/models.md
Labels: relnotes-ignore
