Repository pydantic/pydantic, pull requests merged in 2023-10, with the labels that each got.

#7683 Add support for instance method reassignment when `extra='allow'`
  pydantic/main.py
  tests/test_main.py
Labels: ready for review, relnotes-change

#7723 add tests for 7715 fix
  tests/test_validators.py
Labels: relnotes-fix

#7729 Fix failure to load `SecretStr` from JSON (regression in v2.4)
  .github/workflows/ci.yml
  .github/workflows/docs-update.yml
  pydantic/types.py
  tests/test_types.py
Labels: ready for review, relnotes-fix

#7736 Fix `defer_build` behavior with `TypeAdapter`
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_mock_val_ser.py
  tests/test_config.py
Labels: ready for review, relnotes-fix

#7742 Improve compatibility with legacy mypy versions
  pydantic/mypy.py
Labels: relnotes-fix

#7719 fix: update typevar handling when default is not set
  pydantic/_internal/_generate_schema.py
  tests/test_generics.py
Labels: ready for review, relnotes-fix

#7761 Support specification of `strict` on `Enum` type fields
  pydantic/_internal/_known_annotated_metadata.py
  tests/test_types.py
Labels: ready for review, relnotes-fix

#7764 Minor documentation updates requested in recent issues
  docs/migration.md
  pydantic/types.py
Labels: ready for review, relnotes-ignore

#7739 Deploy docs to dev not dev-v2
  .github/workflows/docs-update.yml
Labels: relnotes-ignore

#7740 Update v1 fixes ci to only deploy docs on release
  .github/workflows/ci.yml
  tests/test_fastapi.sh
Labels: relnotes-ignore

#7783 Updating docs for `model_validate` with new example including `revalidate_instances`
  docs/concepts/models.md
Labels: documentation

#7780 Wrap `weakref.ref` instead of subclassing to fix `cloudpickle` serialization
  pydantic/_internal/_model_construction.py
  tests/test_pickle_pydantic_weakref.py
Labels: relnotes-fix

#7775 Keep values of private attributes set within `model_post_init` in subclasses
  pydantic/_internal/_model_construction.py
  tests/test_main.py
Labels: relnotes-fix

#7799 Refactoring schema-related code
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_validate_call.py
  pydantic/type_adapter.py
Labels: awaiting author revision, relnotes-ignore

#7806 Allow plugins to catch non ValidationError errors
  pydantic/plugin/__init__.py
  pydantic/plugin/_schema_validator.py
  tests/test_plugins.py
Labels: ready for review, relnotes-feature

#7803 Add more specific type for non-callable `json_schema_extra`
  pydantic/_internal/_config.py
  pydantic/config.py
  pydantic/fields.py
  pydantic/json_schema.py
  tests/mypy/test_mypy.py
  tests/test_config.py
Labels: ready for review, relnotes-fix

#7800 Raise an error when deleting frozen (model) fields
  docs/errors/validation_errors.md
  pydantic/main.py
  tests/test_main.py
Labels: ready for review, relnotes-fix

#7812 Add test for enum as dict key re definition-ref bug fix
  tests/test_serialize.py
Labels: relnotes-fix

#7816 Minor docs updates based on issues with docs flags
  docs/concepts/json_schema.md
  docs/concepts/models.md
  pydantic/config.py
  pydantic/type_adapter.py
Labels: ready for review, relnotes-ignore

#7817 Fix schema sorting bug with default values
  pydantic/json_schema.py
  tests/test_json_schema.py
Labels: ready for review, relnotes-fix

#7818 Docs update: keeping model_fields_set defs consistent and adding explanation for model_rebuild changes
  docs/concepts/models.md
  docs/migration.md
  pydantic/main.py
Labels: ready for review, relnotes-ignore

#7751 Updated migration.md to add description of how to push down Field constraints to generics
  docs/migration.md
Labels: ready for review, relnotes-ignore

#7750 Add Python 3.12 classifier
  pyproject.toml
Labels: ready for review, relnotes-ignore

#7830 Update the right python doc link for `typing.Annotated`
  docs/why.md
Labels: relnotes-ignore

#7826 Adding test for raising `ValidationError` with `bool` input and `coerce_numbers_to_str=True`
  tests/test_types.py
Labels: relnotes-ignore

#7802 Use generated alias for aliases that are not specified otherwise
  pydantic/_internal/_generate_schema.py
  tests/test_aliases.py
Labels: ready for review, relnotes-fix

#7848 Fixed `Makefile`'s PDM install link
  Makefile
Labels: ready for review, relnotes-ignore

#7850 Add docs for unexpected_keyword_argument on dataclass
  docs/errors/validation_errors.md
Labels: documentation, ready for review

#7865 Support strict specification for UUID types
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/types.py
  tests/test_types.py
Labels: relnotes-fix

#7852 Update `pydantic-core` to 2.11.0
  pdm.lock
  pyproject.toml
  tests/test_serialize.py
  tests/test_types.py
  tests/test_validators.py
Labels: relnotes-packaging

#7870 Fix invalid reference inside Fields/Immutability documentation
  docs/concepts/fields.md
Labels: ready for review, relnotes-ignore

#7878 fix(docs): make function call argument correspond to signature
  docs/concepts/validation_decorator.md
Labels: ready for review, relnotes-ignore

#7863 Support __doc__ argument in create_model()
  pydantic/main.py
  tests/test_create_model.py
Labels: relnotes-feature

#7827 fix: support `pydantic.Field(kw_only=True)` with inherited dataclasses
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Labels: ready for review, relnotes-fix

#7883 Support validate call decorator for methods in classes with `__slots__`
  pydantic/_internal/_validate_call.py
  tests/test_validate_call.py
Labels: ready for review, relnotes-fix

#7898 Fix pydantic dataclass problem with dataclasses.field default
  pydantic/_internal/_fields.py
  tests/test_dataclasses.py
Labels: ready for review, relnotes-fix

#7899 Fix schema generation for generics with union type bounds
  pydantic/_internal/_generate_schema.py
  tests/test_generics.py
Labels: ready for review, relnotes-fix

#7904 Fix version for `importlib_metadata` on python 3.7
  pyproject.toml
Labels: ready for review, relnotes-fix

#7900 Minor docs update
  docs/concepts/json_schema.md
  docs/errors/usage_errors.md
  pydantic/type_adapter.py
Labels: ready for review, relnotes-ignore

#7876 Add tests for `pickle` and `cloudpickle` serializability of model definitions
  pdm.lock
  pyproject.toml
  tests/test_pickle.py
  tests/test_pickle_pydantic_weakref.py
Labels: ready for review, relnotes-ignore

#7892 Support `|` operator (Union) in PydanticRecursiveRef
  pydantic/_internal/_forward_ref.py
  tests/test_forward_ref.py
Labels: ready for review, relnotes-fix

#7889 Save return type generated from type annotation in ComputedFieldInfo
  pydantic/_internal/_generate_schema.py
  tests/test_computed_fields.py
Labels: ready for review, relnotes-feature

#7744 Update fields.md
  docs/concepts/fields.md
Labels: ready for review, relnotes-ignore

#7924 Add mention of `computed_field` in `model_dump` usage explanation
  docs/concepts/serialization.md
Labels: ready for review, relnotes-ignore

#7927 Support json schema generation for `Enum` types with no cases.
  pydantic/_internal/_std_types_schema.py
  tests/test_types.py
Labels: ready for review, relnotes-change

#7929 Fix `display_as_type` for `TypeAliasType` in python 3.12
  pydantic/_internal/_repr.py
  tests/test_type_alias_type.py
Labels: relnotes-fix

#7932 Add support for `NotRequired` generics in `TypedDict`
  pydantic/_internal/_generics.py
  tests/test_generics.py
Labels: ready for review, relnotes-fix

#7893 Make generic TypeAliasType specifications produce different schema definitions
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_typing_extra.py
  tests/test_type_alias_type.py
Labels: ready for review, relnotes-fix

#7930 Adopting `ruff` formatter
  Makefile
  docs/contributing.md
  pdm.lock
  pydantic/_internal/_model_construction.py
  pydantic/color.py
  pydantic/deprecated/class_validators.py
  pydantic/main.py
  pydantic/networks.py
  pyproject.toml
  tests/check_usage_docs.py
  tests/test_discriminated_union.py
  tests/test_edge_cases.py
  tests/test_generics.py
  tests/test_main.py
  tests/test_networks.py
  tests/test_plugins.py
  tests/test_private_attributes.py
  tests/test_types.py
Labels: awaiting author revision, relnotes-feature

#7925 Added fix for signature of inherited dataclass
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  tests/test_dataclasses.py
Labels: awaiting author revision, relnotes-fix

#7626 Added validation_error_cause to config.
  pydantic/_internal/_config.py
  pydantic/config.py
  tests/test_config.py
Labels: ready for review, relnotes-feature

#7947 Use `__getattr__` for all package imports, improve import time
  docs/api/validate_call.md
  docs/concepts/strict_mode.md
  docs/concepts/validation_decorator.md
  mkdocs.yml
  pydantic/__init__.py
  pydantic/_internal/_decorators.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_validators.py
  pydantic/_migration.py
  pydantic/fields.py
  pydantic/main.py
  pydantic/types.py
  pydantic/validate_call_decorator.py
  pydantic/version.py
  tests/test_exports.py
Labels: ready for review, relnotes-performance

#7891 Warn if a class inherits from Generic before BaseModel
  pydantic/_internal/_model_construction.py
  pydantic/warnings.py
  tests/test_annotated.py
  tests/test_generics.py
Labels: ready for review, relnotes-change

#7881 Make the model name generation more robust in JSON schema
  pydantic/json_schema.py
  tests/conftest.py
  tests/test_json_schema.py
Labels: relnotes-fix

#7969 Minor docs update -- `regex_engine` and `GenerateJsonSchema` examples.
  docs/concepts/json_schema.md
  docs/migration.md
Labels: ready for review, relnotes-ignore

#7959 Add tests for union serialization fix
  tests/test_serialize.py
Labels: ready for review, relnotes-fix

#7976 add functional_validators.py::model_validator docs with link to usage docs
  pydantic/functional_validators.py
Labels: relnotes-ignore

#7861 Make path of the item to validate available in plugin
  docs/concepts/models.md
  docs/concepts/plugins.md
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_validate_call.py
  pydantic/main.py
  pydantic/plugin/__init__.py
  pydantic/plugin/_schema_validator.py
  pydantic/type_adapter.py
  pydantic/types.py
  tests/plugin/example_plugin.py
  tests/test_create_model.py
  tests/test_json_schema.py
  tests/test_plugins.py
Labels: ready for review, relnotes-feature
