Repository pydantic/pydantic, pull requests merged in 2023-03, with the labels that each got.

#5133 test on pypy, change mypy testing
  .github/workflows/ci.yml
  .github/workflows/upload-previews.yml
  pyproject.toml
  requirements/docs.txt
  requirements/linting.txt
  requirements/pyproject-all.txt
  requirements/pyproject-min.txt
  requirements/testing-extra.in
  requirements/testing-extra.txt
  requirements/testing.txt
  tests/conftest.py
  tests/mypy/test_mypy.py
  tests/test_main.py
  tests/test_private_attributes.py
  tests/test_types.py
Labels: ready for review

#5142 Enforce using typing_extensions.TypedDict for Python < 3.11
  pydantic/_internal/_generate_schema.py
  tests/test_types_typeddict.py
Labels: awaiting author revision

#5145 Introduce Validator for arbitrary non-model types
  pydantic/__init__.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_typing_extra.py
  pydantic/main.py
  tests/test_validator.py
Labels: ready for review

#5051 Add discriminated union support (v2)
  pydantic/_internal/_discriminated_union.py
  pydantic/_internal/_generate_schema.py
  pydantic/json_schema.py
  tests/test_discrimated_union.py
  tests/test_discriminated_union.py
  tests/test_forward_ref.py
  tests/test_json_schema.py
Labels: ready for review

#5151 Fix up more of the test_edge_cases.py tests
  tests/test_edge_cases.py
Labels: ready for review

#5138 Use RecursiveRefSchema to handle recursive TypedDict
  pydantic/_internal/_generate_schema.py
  tests/test_types_typeddict.py
Labels: ready for review

#5202 Complete #5138 feedback
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_generate_schema.py
  tests/test_types_typeddict.py
Labels: ready for review

#5009 Dataclasses
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_generics.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_utils.py
  pydantic/dataclasses.py
  pydantic/fields.py
  pydantic/json_schema.py
  pydantic/main.py
  pydantic/types.py
  pyproject.toml
  requirements/linting.txt
  requirements/pyproject-all.txt
  requirements/pyproject-min.txt
  tests/test_dataclasses.py
  tests/test_edge_cases.py
  tests/test_forward_ref.py
  tests/test_json.py
  tests/test_tools.py
  tests/test_utils.py
  tests/test_validators_dataclass.py
Labels: awaiting author revision

#5206 skip analyzing pydantic-core via mypy configs
  .github/workflows/ci.yml
  tests/mypy/configs/mypy-default.ini
  tests/mypy/configs/mypy-plugin-strict-no-any.ini
  tests/mypy/configs/mypy-plugin-strict.ini
  tests/mypy/configs/mypy-plugin.ini
  tests/mypy/configs/pyproject-default.toml
  tests/mypy/configs/pyproject-plugin-bad-param.toml
  tests/mypy/configs/pyproject-plugin-strict.toml
  tests/mypy/configs/pyproject-plugin.toml
  tests/mypy/modules/success.py
Labels: awaiting author revision

#5209 Fix double parametrization issue
  pydantic/_internal/_fields.py
  tests/test_generics.py
Labels: ready for review

#5197 Fix some issues with private attrs
  pydantic/_internal/_model_construction.py
  pydantic/main.py
  tests/test_generics.py
  tests/test_private_attributes.py
Labels: ready for review

#5207 Mypy plugin: Add implicit defaults for Field with no default argument
  changes/5190-dmontagu.md
  pydantic/mypy.py
  tests/mypy/modules/plugin_success.py
Labels: ready for review

#5020 Handle custom collections that are subclasses of list, set, frozenset
  pydantic/_internal/_generate_schema.py
  tests/test_generics.py
  tests/test_types.py
Labels: ready for review

#5199 Fix classvars
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/main.py
  tests/test_forward_ref.py
  tests/test_private_attributes.py
Labels: ready for review

#5208 Fix mypy plugin crash (1.10.X-fixes)
  changes/5191-dmontagu.md
  pydantic/mypy.py
Labels: ready for review

#5216 Fix mypy plugin crash (main)
  pydantic/mypy.py
Labels: ready for review

#5221 Support instance method serializers
  pydantic/__init__.py
  pydantic/_internal/_decorators.py
  pydantic/_internal/_generate_schema.py
  pydantic/decorators.py
  pyproject.toml
  tests/test_serialize.py
Labels: awaiting author revision

#5238 Improve classvars collection code/documentation/error messages
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/main.py
  tests/test_private_attributes.py
Labels: ready for review

#5214 working on init_self
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/main.py
  pyproject.toml
  requirements/linting.txt
  requirements/pyproject-all.txt
  requirements/pyproject-min.txt
  tests/test_forward_ref.py
  tests/test_main.py
  tests/test_parse.py
  tests/test_validators.py
Labels: ready for review

#5233 Get more JSON schema tests passing
  pydantic/json_schema.py
  tests/test_json_schema.py
Labels: ready for review

#5196 Get alias generator working
  pydantic/_internal/_model_construction.py
  pydantic/fields.py
  tests/test_aliases.py
  tests/test_json_schema.py
Labels: ready for review

#5247 Add DeepChainMap and re-add LimitedDict
  pydantic/_internal/_generics.py
  tests/test_generics.py
Labels: ready for review

#5253 Upgrade mypy
  .github/workflows/ci.yml
  pydantic/_internal/_generate_schema.py
  pydantic/mypy.py
  requirements/linting.in
  requirements/linting.txt
  tests/mypy/modules/plugin_success.py
  tests/mypy/modules/plugin_success_baseConfig.py
  tests/mypy/modules/success.py
  tests/mypy/outputs/latest/custom_constructor.txt
  tests/mypy/outputs/latest/fail1.txt
  tests/mypy/outputs/latest/fail2.txt
  tests/mypy/outputs/latest/fail3.txt
  tests/mypy/outputs/latest/fail4.txt
  tests/mypy/outputs/latest/fail_defaults.txt
  tests/mypy/outputs/latest/plugin-fail-baseConfig.txt
  tests/mypy/outputs/latest/plugin-fail-strict-baseConfig.txt
  tests/mypy/outputs/latest/plugin-fail-strict.txt
  tests/mypy/outputs/latest/plugin-fail.txt
  tests/mypy/outputs/latest/plugin-success-strict-baseConfig.txt
  tests/mypy/outputs/latest/plugin-success-strict.txt
  tests/mypy/outputs/latest/plugin_default_factory.txt
  tests/mypy/outputs/latest/plugin_success.txt
  tests/mypy/outputs/latest/plugin_success_baseConfig.txt
  tests/mypy/outputs/plugin-success-strict-baseConfig.txt
  tests/mypy/outputs/plugin_success_baseConfig.txt
  tests/mypy/outputs/v1.0.1/fail1.txt
  tests/mypy/outputs/v1.0.1/fail2.txt
  tests/mypy/outputs/v1.0.1/plugin_success.txt
  tests/mypy/outputs/v1.0.1/plugin_success_baseConfig.txt
  tests/mypy/test_mypy.py
Labels: ready for review

#5215 Dunder copy
  pydantic/decorator.py
  pydantic/main.py
  tests/mypy/modules/success.py
  tests/test_config.py
  tests/test_construction.py
  tests/test_edge_cases.py
  tests/test_types.py
Labels: ready for review

#5258 Add tests checking the behavior of constraints on generic classes
  tests/test_generics.py
Labels: ready for review

#5235 Fix validator tests
  docs/examples/validators_root.py
  pydantic/__init__.py
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_decorators.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/decorator.py
  pydantic/decorators.py
  pydantic/main.py
  pydantic/mypy.py
  tests/mypy/modules/plugin_fail.py
  tests/mypy/modules/plugin_fail_baseConfig.py
  tests/mypy/modules/plugin_success.py
  tests/mypy/modules/plugin_success_baseConfig.py
  tests/mypy/modules/success.py
  tests/test_assert_in_validators.py
  tests/test_create_model.py
  tests/test_dataclasses.py
  tests/test_edge_cases.py
  tests/test_generics.py
  tests/test_json_schema.py
  tests/test_types.py
  tests/test_validators.py
  tests/test_validators_dataclass.py
Labels: awaiting author revision

#5254 Get nearly all remaining tools tests passing
  pydantic/tools.py
  tests/test_parse.py
  tests/test_tools.py
Labels: ready for review

#5243 Get invalid schema constraints tests passing
  tests/test_json_schema.py
  tests/test_types.py
Labels: ready for review

#5167 Don't apply dataclass transform twice with plugin + mypy 1.1.1 (#5162)
  changes/5167-cdce8p.md
  docs/mypy_plugin.md
  pydantic/mypy.py
  tests/mypy/configs/mypy-plugin-strict-no-any.ini
  tests/mypy/configs/mypy-plugin-strict.ini
  tests/mypy/configs/pyproject-plugin-strict.toml
  tests/mypy/modules/plugin_success.py
  tests/mypy/modules/plugin_success_baseConfig.py
  tests/mypy/outputs/latest/plugin-fail-baseConfig.txt
  tests/mypy/outputs/latest/plugin-fail-strict-baseConfig.txt
  tests/mypy/outputs/latest/plugin-fail-strict.txt
  tests/mypy/outputs/latest/plugin-fail.txt
  tests/mypy/outputs/latest/plugin-success-strict-baseConfig.txt
  tests/mypy/outputs/latest/plugin-success-strict.txt
  tests/mypy/outputs/latest/plugin_success.txt
  tests/mypy/outputs/v1.0.1/plugin_success.txt
Labels: ready for review

#5264 Improve xfail reasons for test_dataclasses
  tests/test_dataclasses.py
Labels: ready for review

#5257 Improve implementation of dunder equals
  pydantic/main.py
  tests/test_construction.py
  tests/test_edge_cases.py
  tests/test_forward_ref.py
  tests/test_main.py
  tests/test_types.py
Labels: ready for review

#5273 Update remaining test xfail reasons
  pydantic/_internal/_fields.py
  tests/test_dataclasses.py
  tests/test_edge_cases.py
  tests/test_forward_ref.py
  tests/test_generics.py
  tests/test_json_schema.py
  tests/test_main.py
  tests/test_model_signature.py
  tests/test_parse.py
  tests/test_tools.py
  tests/test_types.py
  tests/test_validators.py
Labels: ready for review

#5272 Allow serializers to ignore the info argument
  pydantic/_internal/_decorators.py
  pydantic/_internal/_generate_schema.py
  pydantic/decorators.py
  tests/test_serialize.py
Labels: awaiting author revision

#5274 Get generic typed dicts working
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  tests/test_types_typeddict.py
Labels: ready for review

#5177 Add strict schemas for types defined in Python
  pydantic/_internal/_std_types_schema.py
  pydantic/json_schema.py
  tests/test_edge_cases.py
  tests/test_json_schema.py
  tests/test_networks_ipaddress.py
  tests/test_types.py
Labels: ready for review

#5268 Docs navigation using tabs
  docs/index.md
  docs/install.md
  mkdocs.yml
Labels: documentation

#5276 Fix dataclass decorators
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/dataclasses.py
  tests/test_dataclasses.py
  tests/test_docs.py
Labels: ready for review

#5289 Validate always
  docs/usage/validators.md
  pydantic/_internal/_decorators.py
  pydantic/_internal/_generate_schema.py
  pydantic/config.py
  pydantic/decorators.py
  pydantic/fields.py
  tests/test_create_model.py
  tests/test_dataclasses.py
  tests/test_validators.py
Labels: ready for review

#5297 Fix more dataclass xfail tests
  docs/usage/model_config.md
  pydantic/_internal/_dataclasses.py
  tests/test_dataclasses.py
Labels: ready for review

#5310 Make model_dump_json return a str
  docs/usage/exporting_models.md
  pydantic/main.py
  tests/test_construction.py
  tests/test_docs.py
  tests/test_edge_cases.py
  tests/test_json.py
  tests/test_main.py
  tests/test_networks.py
  tests/test_serialize.py
  tests/test_types.py
Labels: ready for review

#5280 Enable announcement bar for docs website
  docs/theme/announce.html
  docs/theme/main.html
  mkdocs.yml
Labels: documentation

#5304 Call default_factory during `model_construct` (finish fixing test_construction.py)
  pydantic/_internal/_model_construction.py
  pydantic/fields.py
  pydantic/main.py
  tests/test_construction.py
Labels: ready for review
