Repository pydantic/pydantic, pull requests merged in 2023-05, with the labels that each got.

#5650 Add error message for `unique_items` parameter in `conlist`
  pydantic/fields.py
  pydantic/types.py
Labels: ready for review

#5658 Update copy_on_model_validation tests
  tests/test_main.py
Labels: ready for review

#5616 Add missing types docs
  docs/usage/types/booleans.md
  docs/usage/types/bytesize.md
  docs/usage/types/callables.md
  docs/usage/types/datetime.md
  docs/usage/types/dicts_mapping.md
  docs/usage/types/enums.md
  docs/usage/types/json.md
  docs/usage/types/list_types.md
  docs/usage/types/number_types.md
  docs/usage/types/payment_cards.md
  docs/usage/types/secrets.md
  docs/usage/types/sequence_iterable.md
  docs/usage/types/set_types.md
  docs/usage/types/string_types.md
  docs/usage/types/types.md
  docs/usage/types/uuids.md
Labels: documentation, ready for review

#5629 Error more eagerly for proper subclasses of generics that we don't know how to validate
  pydantic/_internal/_generate_schema.py
  tests/test_generics.py
Labels: ready for review

#5568 Add alias generators to pydantic
  docs/api/alias_generators.md
  mkdocs.yml
  pydantic/_internal/_utils.py
  pydantic/_migration.py
  pydantic/alias_generators.py
  pydantic/deprecated/decorator.py
  tests/test_utils.py
Labels: ready for review

#5669 Expand alias generator docstrings
  pydantic/alias_generators.py
Labels: documentation

#5670 Expand validate_call docstring
  mkdocs.yml
  pydantic/validate_call.py
Labels: documentation, ready for review

#5662 Delegate equality checks for BaseModel
  pydantic/main.py
  tests/test_main.py
Labels: ready for review

#5567 Add job to create a tweet on release
  .github/workflows/ci.yml
Labels: awaiting author revision

#5657 Add support for `*` to `field_validator`
  pydantic/_internal/_generate_schema.py
  tests/test_validators.py
Labels: ready for review

#5632 Revise models docs to indicate attributes are copied for validation
  docs/usage/dataclasses.md
  docs/usage/models.md
Labels: documentation, ready for review

#5615 ✨ Add `Base64` and a general `Encoded` types
  changes/692-lig.md
  docs/usage/types/encoded.md
  docs/usage/types/types.md
  pydantic/__init__.py
  pydantic/types.py
  tests/test_types.py
Labels: ready for review

#5678 Remove Kludex from hooky temporarily
  pyproject.toml
Labels: ready for review

#5684 rename tests/internal.py -> tests/test_internal.py
  tests/test_internal.py
Labels: ready for review

#5689 Rename AnalyzedType to TypeAdapter
  docs/api/analyzed_type.md
  docs/api/type_adapter.md
  docs/blog/pydantic-v2-alpha.md
  docs/migration.md
  docs/usage/models.md
  docs/usage/schema.md
  mkdocs.yml
  pydantic/__init__.py
  pydantic/deprecated/tools.py
  pydantic/type_adapter.py
  tests/test_computed_fields.py
  tests/test_dataclasses.py
  tests/test_deprecated.py
  tests/test_discriminated_union.py
  tests/test_edge_cases.py
  tests/test_json_schema.py
  tests/test_types.py
  tests/test_types_typeddict.py
  tests/test_validate_call.py
  tests/test_validator.py
Labels: ready for review

#5685 Move errors docs to top nav
  mkdocs.yml
Labels: documentation, ready for review

#5674 Add `__prepare_pydantic_annotations__` for custom types
  pydantic/_internal/_core_metadata.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/_internal/_std_types_schema.py
  pydantic/_internal/_validators.py
  pydantic/types.py
  tests/test_edge_cases.py
  tests/test_prepare_annotations.py
  tests/test_types.py
Labels: awaiting author revision

#5691 🔥 Remove Hypothesis plugin for now
  docs/integrations/hypothesis.md
  pdm.lock
  pydantic/_hypothesis_plugin.py
  pydantic/types.py
  pyproject.toml
  tests/test_docs.py
  tests/test_hypothesis_plugin.py
Labels: ready for review

#5620 Add a test demonstrating how to integrate with a third-party type
  tests/test_types.py
  tests/test_types_payment_card_number.py
Labels: ready for review

#5682 Pydantic settings docs
  docs/usage/errors.md
  docs/usage/pydantic_settings.md
  mkdocs.yml
  pdm.lock
  pyproject.toml
Labels: documentation, ready for review

#5697 Add `UrlConstraints.__hash__`
  pydantic/networks.py
  tests/test_networks.py
Labels: awaiting author revision

#5704 Bump version to 2.0a4
  HISTORY.md
  pydantic/version.py
Labels: ready for review

#5712 Replace deprecated `validator` usage
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_decorators.py
  pydantic/main.py
Labels: ready for review

#5713 Use `typing.Self` for `@classmethod` constructors
  pydantic/errors.py
  pydantic/fields.py
Labels: ready for review

#5699 Improve usage errors
  docs/usage/errors.md
  pydantic/_internal/_decorators.py
  pydantic/_internal/_generate_schema.py
  pydantic/decorators.py
  pydantic/errors.py
  tests/test_serialize.py
  tests/test_validators.py
Labels: ready for review

#5709 ⚡ Speedup `ModelPrivateAttr`
  pydantic/fields.py
Labels: ready for review

#5715 Updates model docstrings
  docs/api/main.md
  mkdocs.yml
  pydantic/main.py
Labels: documentation, ready for review

#5717 Replace TypeError with ValidationError in forzen model
  docs/usage/models.md
  pydantic/main.py
  tests/test_computed_fields.py
  tests/test_construction.py
  tests/test_create_model.py
  tests/test_generics.py
  tests/test_main.py
Labels: ready for review

#5700 ✅ Improve internal validators test coverage
  .gitignore
  Makefile
  pydantic/_internal/_validators.py
  tests/test_types.py
Labels: ready for review

#5707 Generate separate JSON schema for inputs vs. outputs
  docs/usage/schema.md
  pydantic/_internal/_schema_generation_shared.py
  pydantic/_internal/_std_types_schema.py
  pydantic/json_schema.py
  pydantic/main.py
  pydantic/type_adapter.py
  tests/test_json_schema.py
Labels: awaiting author revision

#5720 Add PastDatetime and FutureDatetime types
  docs/usage/errors.md
  docs/usage/types/datetime.md
  pydantic/__init__.py
  pydantic/errors.py
  pydantic/types.py
  tests/mypy/modules/success.py
  tests/test_datetime.py
  tests/test_types.py
Labels: ready for review

#5727 Uprev pydantic-core to 0.31.0
  pdm.lock
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_decorators.py
  pydantic/_internal/_discriminated_union.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_std_types_schema.py
  pydantic/fields.py
  pydantic/json_schema.py
  pyproject.toml
  tests/test_computed_fields.py
  tests/test_edge_cases.py
  tests/test_json_schema.py
  tests/test_types.py
Labels: ready for review

#5734 Fix typo in error message
  pydantic/fields.py
  tests/test_deprecated.py
Labels: ready for review

#5738 Models usage docs revisions
  docs/usage/models.md
Labels: documentation, ready for review

#5737 Don't try to automatically handle subclasses of known types
  docs/usage/dataclasses.md
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_schema_generation_shared.py
  pydantic/_internal/_std_types_schema.py
  pydantic/_internal/_validators.py
  pyproject.toml
  tests/test_annotated.py
  tests/test_edge_cases.py
  tests/test_forward_ref.py
  tests/test_generics.py
  tests/test_json.py
  tests/test_json_schema.py
  tests/test_types.py
Labels: ready for review

#5710 ✅ Improve test coverage
  tests/test_create_model.py
  tests/test_deprecated.py
  tests/test_fields.py
  tests/test_internal.py
  tests/test_main.py
  tests/test_validate_call.py
Labels: ready for review

#5733 Improve validation errors doc
  docs/usage/validation_errors.md
  tests/test_main.py
Labels: ready for review

#5736 Fixes discriminated unions not working on aliased literal fields. Issue #3849.
  changes/5736-benwah.md
  pydantic/fields.py
  tests/test_discrimated_union.py
Labels: ready for review

#5743 Make usage errors code blocks testable.
  docs/usage/errors.md
Labels: ready for review

#5673 Respect config.alias_generator in pydantic dataclass
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  tests/test_dataclasses.py
  tests/test_types_typeddict.py
Labels: ready for review

#5746 updates to errors and fields docstrings
  mkdocs.yml
  pydantic/errors.py
  pydantic/fields.py
Labels: documentation, ready for review

#5753 correct deprecated warning message in _copy_and_set_values method
  pydantic/main.py
Labels: ready for review

#5742 ✅ Improve test coverage
  tests/test_decorators.py
Labels: ready for review

#5754 Eliminate the undefined types warning
  docs/usage/errors.md
  docs/usage/model_config.md
  docs/usage/types/custom.md
  pydantic/_internal/_config.py
  pydantic/_internal/_model_construction.py
  pydantic/config.py
  tests/mypy/modules/plugin_success.py
  tests/mypy/modules/plugin_success_baseConfig.py
  tests/mypy/outputs/latest/plugin_success.txt
  tests/mypy/outputs/latest/plugin_success_baseConfig.txt
  tests/test_edge_cases.py
  tests/test_forward_ref.py
  tests/test_generics.py
  tests/test_main.py
  tests/test_types_typeddict.py
Labels: ready for review

#5744 Do not try to automatically handle subclasses of mappings
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_std_types_schema.py
  tests/test_generics.py
  tests/test_json_schema.py
  tests/test_main.py
  tests/test_types.py
Labels: ready for review

#5759 Add `lig` to the reviewers list
  pyproject.toml
Labels: ready for review

#5706 Generate JSON schema for Sequence[T] as though it was List[T]
  pydantic/_internal/_generate_schema.py
  tests/test_json_schema.py
Labels: ready for review

#5635 enable fastapi testing on 1.10
  .github/workflows/ci.yml
Labels: deferred

#5758 Add pydantic-settings test to CI
  .github/workflows/ci.yml
  Makefile
  tests/test_pydantic_settings.sh
Labels: ready for review

#5740 stop BaseModel inheriting from `_repr.Representation`
  pydantic/_internal/_repr.py
  pydantic/main.py
Labels: ready for review

#5774 Edits for Usage Error documentation
  docs/usage/errors.md
Labels: documentation, ready for review

#5768 Add protected namespaces
  docs/usage/model_config.md
  pydantic/_internal/_config.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_model_construction.py
  pydantic/config.py
  pydantic/main.py
  tests/test_create_model.py
  tests/test_main.py
Labels: ready for review

#5762 More docstrings edits - json schema and functional serializers
  pydantic/functional_serializers.py
  pydantic/json_schema.py
Labels: documentation, ready for review

#5775 Remove dead code
  pydantic/_internal/_validators.py
Labels: ready for review

#5777 Copy edits for validation errors
  docs/usage/validation_errors.md
Labels: documentation, awaiting author revision

#5760 Support recursive dataclasses
  docs/usage/errors.md
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_model_construction.py
  pydantic/dataclasses.py
  pydantic/errors.py
  pydantic/main.py
  tests/test_dataclasses.py
  tests/test_edge_cases.py
  tests/test_forward_ref.py
Labels: awaiting author revision

#5786 Update typo in computed_fields.md
  changes/5786-john-g-g.md
  docs/usage/computed_fields.md
Labels: ready for review

#5776 Use uvicorn-style strings for ImportString
  docs/usage/types/string_types.md
  docs/usage/validation_errors.md
  pydantic/_internal/_validators.py
  pydantic/_migration.py
  tests/test_migration.py
  tests/test_types.py
  tests/test_utils.py
Labels: ready for review

#5780 Add v1 namespace inside pydantic
  Makefile
  pydantic/v1/__init__.py
  pydantic/v1/_hypothesis_plugin.py
  pydantic/v1/annotated_types.py
  pydantic/v1/class_validators.py
  pydantic/v1/color.py
  pydantic/v1/config.py
  pydantic/v1/dataclasses.py
  pydantic/v1/datetime_parse.py
  pydantic/v1/decorator.py
  pydantic/v1/env_settings.py
  pydantic/v1/error_wrappers.py
  pydantic/v1/errors.py
  pydantic/v1/fields.py
  pydantic/v1/generics.py
  pydantic/v1/json.py
  pydantic/v1/main.py
  pydantic/v1/mypy.py
  pydantic/v1/networks.py
  pydantic/v1/parse.py
  pydantic/v1/py.typed
  pydantic/v1/schema.py
  pydantic/v1/tools.py
  pydantic/v1/types.py
  pydantic/v1/typing.py
  pydantic/v1/utils.py
  pydantic/v1/validators.py
  pydantic/v1/version.py
  pyproject.toml
  tests/test_v1.py
  update_v1.sh
Labels: ready for review

#5788 Add a convenience type to override JSON schema
  pydantic/json_schema.py
  pydantic/types.py
  tests/test_json_schema.py
Labels: ready for review

#5787 BaseModel class attributes documented
  docs/usage/models.md
Labels: documentation, ready for review

#5781 Add note about dynamically created model pickling
  docs/usage/models.md
Labels: ready for review

#5799 Replace class Config with model_config
  tests/test_config.py
Labels: ready for review

#5805 Uprev pydantic-core to 0.32.0
  docs/usage/types/custom.md
  docs/usage/types/sequence_iterable.md
  pdm.lock
  pydantic/_internal/_generate_schema.py
  pydantic/main.py
  pyproject.toml
  tests/test_config.py
  tests/test_edge_cases.py
  tests/test_serialize.py
  tests/test_types.py
  tests/test_validators.py
Labels: ready for review

#5802 Make decoratorinfos attributes plural
  pydantic/_internal/_decorators.py
  pydantic/_internal/_generate_schema.py
  tests/test_create_model.py
Labels: ready for review

#5801 Rework `__prepare_pydantic_annotations__` to make it easier to wrap "known" types
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_std_types_schema.py
  pydantic/types.py
  tests/test_prepare_annotations.py
  tests/test_types.py
Labels: ready for review

#5806 Remove various TODO comments
  docs/usage/dataclasses.md
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_generics.py
  pydantic/_internal/_model_construction.py
  pydantic/config.py
  pydantic/errors.py
  pydantic/json_schema.py
  pydantic/types.py
  tests/test_forward_ref.py
  tests/test_generics.py
  tests/test_model_signature.py
  tests/test_parse.py
  tests/test_types_typeddict.py
  tests/test_validators.py
Labels: ready for review

#5583 Add annotation that lets you skip validation
  pydantic/__init__.py
  pydantic/_internal/_generate_schema.py
  pydantic/types.py
  tests/test_types.py
Labels: ready for review

#5765 ✨ Add `RootModel` support
  pdm.lock
  pydantic/__init__.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/main.py
  pyproject.toml
  tests/test_fields.py
  tests/test_json_schema.py
  tests/test_parse.py
  tests/test_root_model.py
  tests/test_types_typeddict.py
Labels: ready for review

#5810 Fix some issues with pydantic extra
  pydantic/deprecated/copy_internals.py
  pydantic/main.py
  tests/test_construction.py
  tests/test_main.py
Labels: ready for review

#5794 Move error handling to Error Messages
  docs/errors/errors.md
  docs/usage/models.md
  mkdocs.yml
Labels: documentation, ready for review

#5808 Fix json type json schema test
  tests/test_generics.py
Labels: ready for review

#5796 Fix tests for create_model title and description
  tests/test_create_model.py
Labels: ready for review

#5800 Improve typechecking, docs, and minor bugs with Field/FieldInfo
  .github/workflows/ci.yml
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/fields.py
  tests/test_aliases.py
Labels: ready for review

#5817 Improve contribution guidelines
  docs/contributing.md
Labels: documentation, ready for review

#5836 Use alias generator with computed fields
  pydantic/_internal/_generate_schema.py
  pydantic/fields.py
  tests/test_computed_fields.py
Labels: ready for review

#5847 Add Pydantic classifier
  setup.py
Labels: ready for review

#5845 📌 Use Cython < v3
  .github/workflows/ci.yml
  changes/5845-lig.md
  docs/install.md
  pydantic/_hypothesis_plugin.py
  pydantic/config.py
  pydantic/typing.py
Labels: ready for review

#5843 Change pydantic to be compatible with typing-extension==4.6.1
  .github/workflows/ci.yml
  pdm.lock
  pydantic/_internal/_typing_extra.py
  pydantic/functional_validators.py
  pydantic/v1/env_settings.py
  pydantic/v1/fields.py
  pydantic/v1/mypy.py
  pydantic/v1/networks.py
  pydantic/v1/schema.py
  pydantic/v1/types.py
  pydantic/v1/typing.py
  pydantic/v1/version.py
  tests/test_types.py
  tests/test_typing.py
Labels: ready for review

#5855 Add note about V1 PRs
  docs/contributing.md
Labels: documentation

#5835 Revise documentation landing page
  docs/index.md
  mkdocs.yml
Labels: documentation, ready for review

#5862 Add Kludex to reviewer list
  pyproject.toml
Labels: ready for review

#5864 Use `duration` instead of `time-delta` type for `timedelta` on JSON schema
  pydantic/json_schema.py
  tests/test_json_schema.py
Labels: ready for review

#5860 Update pydantic-core to 0.34.0
  docs/usage/exporting_models.md
  pdm.lock
  pyproject.toml
  tests/test_edge_cases.py
  tests/test_main.py
  tests/test_types.py
  tests/test_validators.py
Labels: ready for review

#5859 Add a test demonstrating initvar works with inheritance
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Labels: ready for review

#5837 Refactor handling of Enum and IP types to homogenize known type handling
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_std_types_schema.py
  pydantic/json_schema.py
Labels: ready for review

#5865 move `ModelMetaclass` to `_internal._model_construction`
  pydantic/_internal/_model_construction.py
  pydantic/main.py
  pydantic/mypy.py
Labels: ready for review

#5873 Fix kw_only inheritance
  pydantic/_internal/_generate_schema.py
  tests/test_dataclasses.py
Labels: ready for review

#5878 ⚡ Optimize kw_only inheritance
  pydantic/_internal/_generate_schema.py
Labels: ready for review

#5876 Ensure `__get_pydantic_json_schema__` always gets the schema passed down from a wrapping handler
  docs/usage/dataclasses.md
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_schema_generation_shared.py
  tests/test_generics.py
  tests/test_json.py
  tests/test_json_schema.py
  tests/test_types.py
Labels: ready for review

#5879 Add hide_input_in_errors config
  docs/usage/model_config.md
  pydantic/_internal/_config.py
  pydantic/config.py
  tests/test_config.py
  tests/test_errors.py
  tests/test_types.py
  tests/test_validators.py
Labels: ready for review

#5885 ✅ Improve test coverage
  pydantic/_internal/_model_construction.py
  tests/test_create_model.py
  tests/test_deprecated.py
  tests/test_fields.py
  tests/test_json.py
Labels: ready for review

#5886 Allow `__prepare_pydantic_annotations__` to exist without `__get_pydantic_core_schema__`
  pydantic/_internal/_generate_schema.py
  tests/test_prepare_annotations.py
Labels: ready for review

#5887 Bump pyright to 1.1.310
  .pre-commit-config.yaml
Labels: ready for review

#5892 prevent `_internal` objects becoming public
  pydantic/__init__.py
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_schema_generation_shared.py
  pydantic/annotated.py
  pydantic/dataclasses.py
  pydantic/fields.py
  pydantic/functional_serializers.py
  pydantic/functional_validators.py
  pydantic/json_schema.py
  pydantic/main.py
  pydantic/type_adapter.py
  pydantic/types.py
  tests/test_annotated.py
  tests/test_construction.py
  tests/test_exports.py
  tests/test_private_attributes.py
  tests/test_utils.py
Labels: ready for review

#5891 Use `__pydantic_private__` for storing private attributes
  pdm.lock
  pydantic/_internal/_model_construction.py
  pydantic/deprecated/copy_internals.py
  pydantic/fields.py
  pydantic/main.py
  pyproject.toml
  tests/test_config.py
  tests/test_create_model.py
  tests/test_errors.py
  tests/test_private_attributes.py
Labels: ready for review

#5894 fixing xfails
  pydantic/__init__.py
  tests/test_dataclasses.py
  tests/test_deprecated.py
  tests/test_discriminated_union.py
  tests/test_edge_cases.py
  tests/test_forward_ref.py
  tests/test_types.py
  tests/test_validate_call.py
  tests/test_validators.py
Labels: ready for review

#5889 Fix `@model_validator` on nested models
  pydantic/_internal/_generate_schema.py
  pydantic/functional_serializers.py
  tests/mypy/modules/plugin_success.py
  tests/test_model_validator.py
  tests/test_serialize.py
Labels: awaiting author revision

#5895 ✅ Improve test coverage
  pydantic/_internal/_decorators.py
  tests/test_create_model.py
Labels: ready for review

#5883 Enforce constraints on arbitrary types via functional validators
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/_internal/_validators.py
  tests/test_annotated.py
  tests/test_types.py
Labels: ready for review

#5877 Add validators for TypedDict
  pydantic/_internal/_decorators.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_typing_extra.py
  tests/test_types_typeddict.py
Labels: ready for review

#5905 Uprev pydantic-core to 0.37.0
  pdm.lock
  pydantic/_internal/_generate_schema.py
  pydantic/type_adapter.py
  pyproject.toml
  tests/test_edge_cases.py
  tests/test_types.py
  tests/test_validator.py
Labels: ready for review

#5897 🐛 Fix `AttributeError` on deleting a field of a Model having a `PrivateAttr` defined
  pydantic/_internal/_model_construction.py
  tests/test_create_model.py
Labels: ready for review

#5904 💚 Move email tests to "tests with deps" job
  .github/workflows/ci.yml
Labels: ready for review

#5898 Move model before validators
  pydantic/_internal/_generate_schema.py
  pydantic/main.py
  tests/test_dataclasses.py
  tests/test_model_validator.py
  tests/test_root_model.py
  tests/test_validators.py
Labels: ready for review

#5912 add compatibility shim for `__fields__` -> `model_fields`
  pydantic/_internal/_model_construction.py
  pydantic/main.py
  tests/test_deprecated.py
Labels: ready for review

#5915 Complete test coverage pydantic/_internal/_serializers.py
  pydantic/_internal/_serializers.py
  tests/test_serialize.py
Labels: ready for review

#5917 Improve test coverage for pydantic._internal._utils
  pydantic/_internal/_utils.py
  tests/test_utils.py
Labels: ready for review

#5926 Add most used imports to `DEPRECATED_MOVED_IN_V2`
  pydantic/_migration.py
Labels: ready for review

#5927 Fix mypy plugin for 1.4.0
  pydantic/mypy.py
Labels: ready for review

#5861 Support TypeAliasType for generic and recursive type aliases
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_typing_extra.py
  tests/test_type_alias_type.py
Labels: ready for review

#5880 Logo grid for pydantic users
  docs/extra/tweaks.css
  docs/index.md
  docs/logos/adobe_logo.png
  docs/logos/amazon_logo.png
  docs/logos/amd_logo.png
  docs/logos/apple_logo.png
  docs/logos/asml_logo.png
  docs/logos/astrazeneca_logo.png
  docs/logos/broadcom_logo.png
  docs/logos/cisco_logo.png
  docs/logos/comcast_logo.png
  docs/logos/datadog_logo.png
  docs/logos/facebook_logo.png
  docs/logos/fastapi_logo.png
  docs/logos/google_logo.png
  docs/logos/ibm_logo.png
  docs/logos/intel_logo.png
  docs/logos/intuit_logo.png
  docs/logos/ipcc_logo.png
  docs/logos/jpmorgan_logo.png
  docs/logos/jupyter_logo.png
  docs/logos/microsoft_logo.png
  docs/logos/molssi_logo.png
  docs/logos/nasa_logo.png
  docs/logos/netflix_logo.png
  docs/logos/nsa_logo.png
  docs/logos/nvidia_logo.png
  docs/logos/qualcomm_logo.png
  docs/logos/redhat_logo.png
  docs/logos/robusta_logo.png
  docs/logos/salesforce_logo.png
  docs/logos/starbucks_logo.png
  docs/logos/ti_logo.png
  docs/logos/twilio_logo.png
  docs/logos/twitter_logo.png
  docs/logos/ukhomeoffice_logo.png
Labels: documentation, ready for review

#5939 Disallow passing config to TypeAdapter for models and implement config for TypedDict
  docs/usage/errors.md
  pydantic/_internal/_generate_schema.py
  pydantic/errors.py
  pydantic/type_adapter.py
  tests/test_validator.py
Labels: ready for review

#5930 Improve test coverage for pydantic.type_adapter
  tests/test_json_schema.py
  tests/test_serialize.py
Labels: awaiting author revision

#5936 Improve test coverage of pydantic._internal._core_utils
  tests/test_utils.py
Labels: ready for review

#5943 ✅ More `RootModel` tests
  pydantic/main.py
  tests/test_root_model.py
Labels: ready for review

#5950 Improve test coverage for pydantic.types
  pydantic/types.py
  tests/test_deprecated.py
  tests/test_serialize.py
  tests/test_types.py
Labels: ready for review

#5947 Make instanceof schema work with arbitrary types
  pydantic/__init__.py
  pydantic/types.py
  tests/test_json_schema.py
  tests/test_types.py
Labels: ready for review
