Repository pydantic/pydantic, pull requests merged in 2023-01, with the labels that each got.

#4882 config variable to raise UserWarning if model not fully defined
  docs/examples/types_undefined_warning.py
  docs/usage/model_config.md
  docs/usage/types.md
  pydantic/_internal/_model_construction.py
  pydantic/config.py
  tests/test_forward_ref.py
Labels: awaiting author revision

#4911 fix field inheritance
  pydantic/_internal/_model_construction.py
  tests/test_edge_cases.py
  tests/test_json.py
Labels: ready for review

#4931 Fix typo in Field function docstring
  pydantic/fields.py
Labels: cherry-pick-v1

#4912 Support kwargs model configuration in Mypy plugin
  pydantic/mypy.py
  tests/mypy/modules/plugin_fail.py
  tests/mypy/modules/plugin_success.py
  tests/mypy/outputs/plugin-fail-strict.txt
  tests/mypy/outputs/plugin-fail.txt
  tests/mypy/outputs/plugin-success-strict.txt
  tests/mypy/outputs/plugin_success.txt
Labels: ready for review

#4901 Added more detailed documentation plus several code examples for ImportString (Take 2)
  docs/examples/types_import_string_serialization.py
  docs/examples/types_import_string_usage.py
  docs/usage/types.md
Labels: ready for review

#4869 Support CSS 4 space-separated colors
  changes/4869-tiwilliam.md
  pydantic/_hypothesis_plugin.py
  pydantic/color.py
  tests/test_color.py
Labels: awaiting author revision

#4990 chore(feat): Add `MySQL` & `MariaDB` to Pydantic types
  changes/4990-yezz123.md
  docs/usage/types.md
  pydantic/__init__.py
  pydantic/networks.py
  tests/test_networks.py
Labels: ready for review
