Repository pydantic/pydantic, pull requests merged in 2023-09, with the labels that each got.

#7311 Add section about `Annotated` in `Field` usage
  docs/usage/fields.md
Labels: ready for review

#7319 fix: adding a check that alias is validated as an identifier for Python
  pydantic/_internal/_dataclasses.py
  tests/test_dataclasses.py
Labels: awaiting author revision

#7346 Raise an Error When Computed Field Overrides Field
  pydantic/_internal/_fields.py
  tests/test_computed_fields.py
Labels: awaiting author revision

#7347 Get rid of `__prepare_pydantic_annotations__`
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/_internal/_validators.py
  pydantic/types.py
  tests/test_annotated.py
  tests/test_prepare_annotations.py
  tests/test_types.py
Labels: ready for review

#7374 📝 Remove `secrets.md` page
  docs/examples/secrets.md
  docs/usage/types/bytesize.md
  docs/usage/types/secrets.md
  docs/usage/types/types.md
  mkdocs.yml
  pydantic/types.py
Labels: ready for review

#7377 📝 Remove `file_types.md` page
  docs/usage/types/file_types.md
  docs/usage/types/standard_types.md
  docs/usage/types/types.md
  mkdocs.yml
  pydantic/types.py
  tests/test_docs.py
Labels: ready for review

#7381 Fix applying SkipValidation to referenced schemas
  pydantic/functional_validators.py
  tests/test_types.py
Labels: ready for review

#7265 ✅ Enforce behavior of private attributes having double leading underscore
  tests/test_private_attributes.py
Labels: ready for review

#7397 📝 Remove `encoded.md` page
  docs/usage/types/encoded.md
  docs/usage/types/types.md
  mkdocs.yml
  pydantic/types.py
Labels: ready for review

#7406 Remove `computed_fields.md` page
  docs/usage/computed_fields.md
  mkdocs.yml
  pydantic/fields.py
Labels: ready for review

#7302 Do not override `model_post_init` in subclass with private attrs
  pydantic/_internal/_decorators.py
  pydantic/_internal/_model_construction.py
  tests/test_main.py
Labels: ready for review

#7414 Remove `bytesize.md` page
  docs/usage/types/bytesize.md
  docs/usage/types/standard_types.md
  docs/usage/types/strict_types.md
  docs/usage/types/types.md
  mkdocs.yml
  pydantic/types.py
Labels: ready for review

#7415 Standardize `__get_pydantic_core_schema__` signature
  docs/usage/types/custom.md
  pydantic/networks.py
  pydantic/types.py
  tests/test_edge_cases.py
Labels: ready for review

#7419 Fix `model_validate` doc
  docs/usage/models.md
Labels: ready for review

#7465 Document `decimal.Decimal` serialization logic
  docs/usage/types/number_types.md
Labels: ready for review

#7432 Removing `datetime.md` and updating `standard_library_types.md`
  docs/api/standard_library_types.md
  docs/usage/types/datetime.md
  docs/usage/types/standard_types.md
  docs/usage/types/types.md
  mkdocs.yml
Labels: awaiting author revision

#7489 Adding docs to explain behavior when overriding a field with `computed_field`
  pydantic/fields.py
Labels: ready for review

#7469 Add simple FastAPI startup benchmark
  .github/workflows/ci.yml
  pyproject.toml
  tests/benchmarks/test_fastapi_startup_generics.py
  tests/benchmarks/test_fastapi_startup_simple.py
Labels: ready for review

#7497 Remove `urls.md` page
  docs/api/standard_library_types.md
  docs/usage/types/standard_types.md
  docs/usage/types/types.md
  docs/usage/types/urls.md
  mkdocs.yml
  pydantic/networks.py
Labels: ready for review

#7492 Add debug helper function to pretty print core schemas
  pydantic/_internal/_core_utils.py
Labels: ready for review

#7496 fix: type-error on model_validator in wrap mode
  pydantic/functional_validators.py
Labels: ready for review

#7299 Mark `Extra` as deprecated
  pydantic/config.py
  pydantic/deprecated/config.py
Labels: awaiting author revision

#7360 Fixed a regular expression denial of service issue by limiting whites…
  pydantic/networks.py
  tests/test_networks.py
Labels: awaiting author revision

#7396 🐛 Make `EncodedStr` a dataclass
  pydantic/types.py
Labels: ready for review

#7518 Remove `dicts_mapping.md`, `sequence_iterable.md` and `set_types.md` …
  docs/api/standard_library_types.md
  docs/usage/types/dicts_mapping.md
  docs/usage/types/sequence_iterable.md
  docs/usage/types/set_types.md
  docs/usage/types/standard_types.md
  docs/usage/types/types.md
  docs/usage/types/uuids.md
  docs/why.md
  mkdocs.yml
Labels: ready for review

#7524 Move cProfile output of benchmark tests to root directory of repo
  tests/benchmarks/test_fastapi_startup_generics.py
  tests/benchmarks/test_fastapi_startup_simple.py
Labels: ready for review

#7523 Simplify flatteining and inlining of Coreschema
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_validate_call.py
  pydantic/type_adapter.py
  tests/test_dataclasses.py
  tests/test_internal.py
  tests/test_main.py
  tests/test_model_signature.py
  tests/test_root_model.py
Labels: ready for review

#7528 Remove unused copies in CoreSchema walking
  pydantic/_internal/_core_utils.py
Labels: ready for review

#7527 Add caches for collecting definitions and invalid schemas from a CoreSchema
  pydantic/_internal/_core_utils.py
Labels: ready for review

#7529 Eagerly resolve discriminated unions and cache cases where we can't
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_discriminated_union.py
  pydantic/_internal/_generate_schema.py
Labels: ready for review

#7508 ✨ Implement optional `number` to `str` coercion
  docs/migration.md
  docs/usage/model_config.md
  pdm.lock
  pydantic/_internal/_config.py
  pydantic/config.py
  pyproject.toml
  tests/test_types.py
Labels: ready for review

#7530 generate release notes via github api
  release/make_history.py
Labels: ready for review

#7196 add CPython 3.12 and PyPy 3.10 to CI
  .github/workflows/ci.yml
  docs/usage/models.md
  pdm.lock
  pyproject.toml
  tests/test_abc.py
  tests/test_computed_fields.py
  tests/test_edge_cases.py
  tests/test_generics.py
  tests/test_model_signature.py
  tests/test_type_alias_type.py
Labels: ready for review

#7536 Replace dict.get and dict.setdefault with more verbose versions in CoreSchema building hot paths
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_discriminated_union.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_known_annotated_metadata.py
Labels: ready for review

#7535 Cache invalid CoreSchema discovery
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_discriminated_union.py
  pydantic/_internal/_generate_schema.py
  tests/test_generics.py
  tests/test_internal.py
Labels: ready for review

#7541 Add groups to release notes
  .github/release.yml
  .github/workflows/relnotes.yml
  release/README.md
  release/check_relnotes.py
Labels: ready for review, relnotes-ignore

#7551 make documentation an acceptable label to ignore release changes
  .github/release.yml
  release/check_relnotes.py
  release/make_history.py
Labels: ready for review, relnotes-ignore

#7542 Allow access to `field_name` and `data` in all validators if there is data and a field name
  docs/migration.md
  docs/usage/serialization.md
  docs/usage/types/custom.md
  docs/usage/validators.md
  pdm.lock
  pydantic/__init__.py
  pydantic/_internal/_annotated_handlers.py
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_decorators_v1.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_schema_generation_shared.py
  pydantic/_internal/_validate_call.py
  pydantic/color.py
  pydantic/functional_validators.py
  pydantic/networks.py
  pydantic/type_adapter.py
  pydantic/types.py
  pyproject.toml
  tests/test_dataclasses.py
  tests/test_discriminated_union.py
  tests/test_edge_cases.py
  tests/test_exports.py
  tests/test_fastapi.sh
  tests/test_fastapi_changes.patch
  tests/test_json_schema.py
  tests/test_serialize.py
  tests/test_utils.py
  tests/test_validators.py
Labels: ready for review, relnotes-feature

#7552 Add `BaseModel.model_validate_strings` and `TypeAdapter.validate_strings`
  pydantic/main.py
  pydantic/type_adapter.py
  tests/test_dataclasses.py
  tests/test_main.py
  tests/test_root_model.py
  tests/test_type_adapter.py
Labels: awaiting author revision, relnotes-feature

#7483 Improve `loc_by_alias` doc
  pydantic/_internal/_config.py
  pydantic/config.py
Labels: ready for review

#7566 🐛 Fix handling of `UUID` values having `UUID.version=None`
  tests/test_types.py
Labels: ready for review, relnotes-fix

#7565 Allow disabling CoreSchema validation for faster startup times
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_validate_call.py
  pydantic/type_adapter.py
Labels: ready for review, relnotes-performance

#6471 docs: update `root_validator` references to `model_validator` in v2
  pydantic/_internal/_decorators.py
  pydantic/_internal/_utils.py
Labels: awaiting author revision

#7569 move `annoated_handlers` to be public
  docs/api/annotated_handlers.md
  mkdocs.yml
  pydantic/__init__.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/_internal/_schema_generation_shared.py
  pydantic/annotated_handlers.py
  pydantic/functional_serializers.py
  pydantic/functional_validators.py
  pydantic/json_schema.py
  pydantic/main.py
  pydantic/networks.py
  pydantic/types.py
Labels: ready for review, relnotes-change

#7567 Performance docs
  docs/concepts/performance.md
  mkdocs.yml
Labels: documentation

#6820 Pydantic plugins - `entry-point` support
  .github/workflows/ci.yml
  docs/api/plugin.md
  docs/usage/plugins.md
  mkdocs.yml
  pydantic/_internal/_config.py
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_validate_call.py
  pydantic/config.py
  pydantic/main.py
  pydantic/plugin/__init__.py
  pydantic/plugin/_loader.py
  pydantic/plugin/_schema_validator.py
  pydantic/type_adapter.py
  tests/conftest.py
  tests/plugin/example_plugin.py
  tests/plugin/pyproject.toml
  tests/plugin/test_plugin.py
  tests/test_edge_cases.py
  tests/test_generics.py
  tests/test_plugins.py
Labels: awaiting author revision, relnotes-feature

#7570 Fixing `__iter__` returning private `cached_property` info
  pydantic/fields.py
  pydantic/main.py
  tests/test_computed_fields.py
  tests/test_private_attributes.py
Labels: ready for review, relnotes-fix

#7583 Move `API Documentation` menu after `Concepts`
  mkdocs.yml
Labels: relnotes-ignore

#7591 Remove custom findpython
  .github/workflows/ci.yml
Labels: relnotes-ignore

#7592 improve formatting of generated release notes
  release/make_history.py
Labels: relnotes-ignore

#7589 revert plugin performance regression
  pydantic/plugin/_loader.py
  tests/plugin/example_plugin.py
  tests/plugin/test_plugin.py
Labels: ready for review, relnotes-performance

#7590 Small improvements to import performance
  pydantic/__init__.py
  pydantic/_migration.py
  pydantic/config.py
  pydantic/main.py
  tests/test_exports.py
Labels: ready for review, relnotes-performance

#7594 Improvements to version info message
  pydantic/version.py
Labels: ready for review, relnotes-change

#7596 fixing redirects after docs rewrite
  mkdocs.yml
Labels: relnotes-ignore

#7568 Prepare release 2.4.0
  HISTORY.md
  pydantic/dataclasses.py
  pydantic/fields.py
  pydantic/functional_validators.py
  pydantic/main.py
  pydantic/plugin/__init__.py
  pydantic/root_model.py
  pydantic/validate_call.py
  pydantic/version.py
  tests/test_plugins.py
Labels: awaiting author revision, relnotes-ignore

#7603 Add missing @Kludex mention to the `HISTORY.md`
  HISTORY.md
Labels: ready for review, relnotes-ignore

#7602 adding `mkdocs_run_deps` to docs
  .gitignore
  docs/plugins/main.py
  docs/theme/main.html
Labels: relnotes-ignore

#7600 fix unintentional drop of character in HISTORY
  HISTORY.md
  release/make_history.py
Labels: ready for review, relnotes-ignore

#7605 improve HISTORY instructions in release/README.md
  release/README.md
Labels: relnotes-ignore

#7614 Fix ref for conversion table - broken in v2.4 docs
  docs/plugins/main.py
Labels: ready for review, relnotes-ignore

#7619 ✅ Add test for the case from #7611
  tests/test_edge_cases.py
Labels: relnotes-ignore

#7624 Remove schema building caches
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_generate_schema.py
  tests/test_edge_cases.py
Labels: ready for review, relnotes-fix

#7625 Fix an issue where JSON schema extras weren't JSON encoded
  pydantic/_internal/_generate_schema.py
  tests/test_json_schema.py
Labels: relnotes-fix

#7634 Updating docs with removed settings not yet mentioned in migration guide
  docs/migration.md
Labels: ready for review, relnotes-ignore

#7636 update mkdocs material insiders
  .github/workflows/ci.yml
  .github/workflows/docs-update.yml
Labels: relnotes-ignore

#7640 fix positioning of versions script in docs
  docs/theme/main.html
Labels: relnotes-ignore

#7633 Update pydantic-core to 2.10.1
  .github/workflows/ci.yml
  pdm.lock
  pyproject.toml
  tests/test_types.py
Labels: relnotes-packaging

#7641 Prepare release 2.4.1
  HISTORY.md
  pydantic/version.py
Labels: relnotes-ignore

#7647 Fix bug with JSON schema for sequence of discriminated union
  pydantic/_internal/_generate_schema.py
  tests/test_discriminated_union.py
Labels: relnotes-fix

#7646 Fix schema references in discriminated unions
  pydantic/_internal/_discriminated_union.py
  tests/test_discriminated_union.py
Labels: relnotes-fix

#7648 Add test for complicated scenario that was producing schema generation errors
  tests/test_edge_cases.py
Labels: relnotes-ignore

#7652 Correct allowed formats for `datetime.timedelta` parsing in docs
  docs/api/standard_library_types.md
Labels: ready for review, relnotes-fix

#7657 Fix typo in docs for new private dunder pydantic method names
  docs/migration.md
Labels: ready for review, relnotes-ignore

#7662 Revert "Fix typo in docs for new private dunder pydantic method names (#7657)"
  docs/migration.md
Labels: relnotes-ignore

#7653 Fix json schema generation for recursive models
  pydantic/_internal/_generate_schema.py
  tests/test_edge_cases.py
  tests/test_json_schema.py
Labels: relnotes-fix

#7658 Fix xfailed test for generic model signatures
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  tests/test_model_signature.py
Labels: ready for review, relnotes-fix

#7670 Added small note to use ValidationInfo over FieldValidationInfo.
  docs/concepts/validators.md
Labels: relnotes-ignore

#7663 docs: Mixing of V1/V2 models is not supported in generics
  docs/migration.md
Labels: ready for review, relnotes-ignore

#7675 Update Pydantic V1 to 1.10.13
  HISTORY.md
  pydantic/v1/datetime_parse.py
  pydantic/v1/fields.py
  pydantic/v1/main.py
  pydantic/v1/networks.py
  pydantic/v1/version.py
Labels: relnotes-ignore

#7676 Change unconfirmed label to 'pending' for hooky issue labels
  pyproject.toml
Labels: ready for review, relnotes-ignore

#7678 Replacing unconfirmed with pending in github issue templates
  .github/ISSUE_TEMPLATE/bug-v1.yml
  .github/ISSUE_TEMPLATE/bug-v2.yml
Labels: ready for review, relnotes-ignore

#7677 Fix `mypy` issue with subclasses of `RootModel`
  pydantic/mypy.py
  tests/mypy/modules/root_models.py
  tests/mypy/outputs/1.0.1/mypy-plugin_ini/root_models.py
  tests/mypy/test_mypy.py
Labels: ready for review, relnotes-fix

#7684 Revert Docs Theme
  docs/extra/tweaks.css
Labels: ready for review, relnotes-ignore

#7682 Add error customization example
  docs/errors/errors.md
Labels: ready for review, relnotes-ignore

#7699 Fix populate_by_name migration note about old name
  pydantic/config.py
Labels: ready for review, relnotes-ignore

#7694 Update docs theme
  docs/extra/tweaks.css
Labels: ready for review, relnotes-ignore

#7698 Properly rebuild the FieldInfo when a forward ref gets evaluated
  pydantic/_internal/_generate_schema.py
  tests/test_annotated.py
Labels: relnotes-fix
