Repository pydantic/pydantic, pull requests merged in 2024-08, with the labels that each got.

#10013 Using cached internal import for `BaseModel`
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_import_utils.py
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_std_types_schema.py
  pydantic/_internal/_utils.py
  pydantic/deprecated/json.py
  pydantic/main.py
Labels: relnotes-performance

#10018 Refactor application of deque annotations
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_serializers.py
  pydantic/_internal/_std_types_schema.py
Labels: relnotes-fix

#10019 Move `import_module` import in `__getattr__`
  pydantic/__init__.py
Labels: relnotes-fix

#10020 Fix `Mapping` and `MutableMapping` annotations to use mapping schema instead of dict schema
  pydantic/_internal/_generate_schema.py
  tests/test_types.py
Labels: relnotes-fix, relnotes-change

#10006 Clarify `model_serializer(mode="wrap")` usage in documentation
  docs/errors/usage_errors.md
  pydantic/_internal/_decorators.py
  pydantic/functional_serializers.py
  pydantic/functional_validators.py
Labels: documentation

#9770 Add `Config.val_json_bytes`
  docs/errors/validation_errors.md
  pydantic/_internal/_config.py
  pydantic/config.py
  pydantic/json_schema.py
  tests/test_docs.py
  tests/test_json.py
Labels: awaiting author revision, relnotes-feature

#10030 Raise a better user error when failing to evaluate a forward reference
  pdm.lock
  pydantic/_internal/_typing_extra.py
  tests/test_forward_ref.py
  tests/test_typing.py
Labels: awaiting author revision, relnotes-fix

#10057 Bump `pydantic-core` to v2.21.0
  pdm.lock
  pydantic/json_schema.py
  pyproject.toml
  tests/test_discriminated_union.py
  tests/test_docs.py
  tests/test_json.py
Labels: relnotes-performance, relnotes-packaging

#10058 Minor speedup / cleanup for internal `FieldInfo` functions
  pydantic/_internal/_fields.py
  pydantic/_internal/_typing_extra.py
  pydantic/fields.py
Labels: relnotes-ignore

#10059 Simplify internal generics logic - remove generator overhead
  pydantic/_internal/_generics.py
Labels: relnotes-performance

#10063 Removing old typing function
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
Labels: relnotes-ignore

#10070 Fix evaluation of `__pydantic_extra__` annotation in specific circumstances
  pydantic/_internal/_generate_schema.py
  tests/test_forward_ref.py
Labels: relnotes-fix

#10071 Docs update for `types.py`
  pydantic/types.py
Labels: documentation

#10064 Experimental feature: opt-in fast build
  pydantic/_internal/_config.py
  pydantic/_internal/_model_construction.py
  pydantic/config.py
  tests/test_fast_build.py
Labels: relnotes-performance, relnotes-feature

#10066 Fix `frozen` enforcement for dataclasses
  pydantic/_internal/_generate_schema.py
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Labels: relnotes-fix

#10075 Remove logic to handle unused `__get_pydantic_core_schema__` signature
  pydantic/_internal/_generate_schema.py
Labels: relnotes-fix

#10029 Remove allOf JSON schema workarounds
  pydantic/_internal/_generate_schema.py
  pydantic/json_schema.py
  tests/test_computed_fields.py
  tests/test_edge_cases.py
  tests/test_fastapi.sh
  tests/test_forward_ref.py
  tests/test_generics.py
  tests/test_json.py
  tests/test_json_schema.py
  tests/test_serialize.py
  tests/test_type_alias_type.py
  tests/test_types_self.py
Labels: awaiting author revision, relnotes-change

#10084 Update `griffe_doclinks` plugin and misc. docs improvements
  docs/api/standard_library_types.md
  docs/concepts/dataclasses.md
  docs/concepts/fields.md
  docs/concepts/performance.md
  docs/concepts/serialization.md
  docs/concepts/unions.md
  docs/concepts/validation_decorator.md
  docs/errors/usage_errors.md
  docs/errors/validation_errors.md
  docs/plugins/griffe_doclinks.py
  docs/plugins/main.py
Labels: documentation

#10072 Adding tests for TODO union serialization fixes
  tests/test_discriminated_union.py
  tests/test_serialize.py
Labels: relnotes-ignore

#10095 Use `is_annotated` consistently
  pydantic/_internal/_generate_schema.py
Labels: relnotes-fix

#10101 Fix `PydanticDeprecatedSince26` typo
  pydantic/warnings.py
Labels: relnotes-fix

#10103 Improve documentation of the `@computed_field` decorator
  docs/concepts/fields.md
Labels: documentation, awaiting author revision

#10112 Fix ip schema serialization logic
  pydantic/_internal/_generate_schema.py
  tests/test_types.py
Labels: relnotes-fix

#10082 Docs update and warning frozen defined both
  pydantic/dataclasses.py
Labels: awaiting author revision, relnotes-fix

#10123 Remove default module globals from types namespace
  pydantic/_internal/_typing_extra.py
  tests/test_typing.py
Labels: relnotes-performance

#10126 Add warning for double `frozen` config setting on dataclass
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Labels: relnotes-ignore

#10121 Do not compute JSON Schema default when plain serializers are used with `when_used` set to `'json-unless-none'` and the default value is `None`
  pydantic/json_schema.py
  tests/test_json_schema.py
Labels: awaiting author revision, relnotes-fix

#10113 Performance boost: skip caching parent namespaces in most cases
  pdm.lock
  pydantic/_internal/_typing_extra.py
  pyproject.toml
  tests/test_typing.py
Labels: relnotes-performance

#10134 Temporary: use `pdm` v2.17.3 to unblock CI failures
  .github/workflows/ci.yml
  pdm.lock
  pyproject.toml
Labels: relnotes-ignore

#10144 Temporary: cap `pdm` version for `mypy` tests
  .github/workflows/ci.yml
Labels: relnotes-ignore

#10128 Add dsn for Snowflake
  pydantic/__init__.py
  pydantic/networks.py
  tests/test_networks.py
Labels: ready for review, relnotes-feature

#10137 Fix `ImportString` special cases
  pydantic/types.py
  tests/test_types.py
Labels: relnotes-fix

#10136 Blacklist default globals to support exotic user code with `__` prefixed annotations
  pydantic/_internal/_typing_extra.py
  tests/test_typing.py
Labels: relnotes-fix

#10132 Handle `nullable` schemas with `serialization` schema available during JSON Schema generation
  pydantic/json_schema.py
  tests/test_json_schema.py
Labels: relnotes-fix

#10139 Fix mypy v1 plugin for mypy 1.11 release
  pydantic/mypy.py
  tests/requirements-linting.txt
Labels: ready for review, awaiting author revision

#10146 fix: discriminator key used when discriminator has alias and schema g…
  pydantic/schema.py
  tests/test_schema.py
Labels: ready for review

#10077 Add initial architeture documentation
  docs/api/base_model.md
  docs/architecture.md
  mkdocs.yml
  pydantic/main.py
Labels: documentation

#9654 Support complex number
  docs/errors/validation_errors.md
  pdm.lock
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/json_schema.py
  pyproject.toml
  tests/mypy/modules/success.py
  tests/mypy/outputs/1.0.1/mypy-default_ini/success.py
  tests/mypy/outputs/1.0.1/mypy-plugin_ini/plugin_strict_fields.py
  tests/mypy/outputs/1.0.1/pyproject-default_toml/success.py
  tests/test_computed_fields.py
  tests/test_json_schema.py
  tests/test_root_model.py
  tests/test_serialize.py
  tests/test_types.py
Labels: relnotes-feature

#10138 Support PDM `v2.18.1`
  .github/workflows/ci.yml
Labels: relnotes-fix

#10110 Reorganize `BaseModel` annotations
  pydantic/_internal/_fields.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_typing_extra.py
  pydantic/main.py
  tests/test_type_hints.py
Labels: awaiting author revision, relnotes-fix

#10155 Fix core schema simplification when serialization schemas are involved in specific scenarios
  pydantic/_internal/_core_utils.py
  tests/test_internal.py
Labels: relnotes-fix

#10157 Add support for stringified annotations when using `PrivateAttr` with `Annotated`
  pydantic/_internal/_model_construction.py
  tests/test_annotated.py
Labels: awaiting author revision, relnotes-fix

#10158 Improve runtime errors for string constraints like `pattern` for incompatible types
  pydantic/_internal/_known_annotated_metadata.py
  tests/test_annotated.py
  tests/test_types.py
Labels: relnotes-change

#9863 Allow `WithJsonSchema` to inject `$ref`s w/ `http` or `https` links
  pydantic/json_schema.py
  tests/test_json_schema.py
Labels: relnotes-change

#10176 Remove docs about pydantic plugins
  docs/api/plugin.md
  docs/concepts/plugins.md
  mkdocs.yml
  pydantic/config.py
Labels: documentation

#10172 Fix JSON Schema `number` type for literal and enum schemas
  pydantic/json_schema.py
  tests/test_json_schema.py
Labels: relnotes-fix

#10167 Fix JSON Schema generation of fields with plain validators in serialization mode
  pydantic/_internal/_core_utils.py
  pydantic/functional_validators.py
  tests/test_internal.py
  tests/test_json_schema.py
Labels: relnotes-fix

#10180 Remove `typed_dict_cls` data from `CoreMetadata`
  pdm.lock
  pydantic/_internal/_core_metadata.py
  pydantic/_internal/_generate_schema.py
  pydantic/json_schema.py
  pyproject.toml
Labels: relnotes-change

#10181 Deprecate passing a dict to the `Examples` class
  pydantic/__init__.py
  pydantic/json_schema.py
  pydantic/warnings.py
  tests/mypy/modules/success.py
  tests/mypy/outputs/1.0.1/mypy-default_ini/success.py
  tests/mypy/outputs/1.0.1/pyproject-default_toml/success.py
  tests/pyright/json_schema_examples.py
  tests/pyright/pyproject.toml
  tests/test_json_schema.py
Labels: relnotes-change

#10185 Breaking Change: Fix JSON Schema generation for constrained dates
  pydantic/json_schema.py
  tests/test_json_schema.py
Labels: relnotes-change

#10188 Fix invalid JSON Schemas being generated for functions in certain scenarios
  pydantic/json_schema.py
  tests/test_validate_call.py
Labels: relnotes-fix

#10196 Remove unused environment variables in CI
  .github/workflows/ci.yml
  .github/workflows/docs-update.yml
Labels: relnotes-ignore

#10194 Remove `initial_metadata` from internal metadata construct
  pydantic/_internal/_core_metadata.py
  tests/test_json_schema.py
Labels: relnotes-change

#10203 Update and clean up several aspects of documentation tooling
  docs/concepts/pydantic_settings.md
  docs/errors/usage_errors.md
  docs/plugins/griffe_doclinks.py
  docs/plugins/main.py
  docs/why.md
  mkdocs.yml
  pdm.lock
  pyproject.toml
Labels: documentation

#10206 Update `mkdocs-material` to `9.5.31`
  .github/workflows/docs-update.yml
Labels: documentation

#10094 Allow validators to customize validation JSON schema
  docs/errors/usage_errors.md
  pydantic/_internal/_core_metadata.py
  pydantic/_internal/_decorators.py
  pydantic/_internal/_generate_schema.py
  pydantic/errors.py
  pydantic/functional_validators.py
  pydantic/json_schema.py
  tests/pyright/decorators.py
  tests/test_json_schema.py
  tests/test_validators.py
Labels: awaiting author revision, relnotes-change

#10209 Apply misc. improvements to "Get started" documentation
  docs/contributing.md
  docs/index.md
  docs/install.md
  docs/version-policy.md
  docs/why.md
Labels: documentation

#10211 Use `pppr` for insiders install
  .github/workflows/docs-update.yml
Labels: documentation, relnotes-ignore

#10213 Prep for `v1.10.18`
  .hooky.toml
  HISTORY.md
  pydantic/version.py
Labels: relnotes-ignore

#10214 Bump `v1` version stub to `v1.10.18`
  HISTORY.md
  pydantic/v1/mypy.py
  pydantic/v1/schema.py
  pydantic/v1/utils.py
  pydantic/v1/version.py
Labels: relnotes-packaging

#10229 Update index.md in docs to import required things in code example
  docs/index.md
Labels: ready for review, relnotes-fix

#10224 Add 'wss' for allowed schemes in NatsDsn
  pydantic/networks.py
Labels: ready for review, relnotes-fix

#10210 Add support for annotated_types.Not
  pydantic/_internal/_known_annotated_metadata.py
  tests/test_annotated.py
  tests/test_types.py
Labels: awaiting author revision, relnotes-feature

#10234 Prep for v2.9.0b1 release
  HISTORY.md
  pydantic/version.py
  release/make_history.py
Labels: relnotes-ignore, relnotes-packaging

#10241 Fix new warnings assertions to use `pytest.warns()`
  tests/test_root_model.py
  tests/test_types.py
Labels: ready for review, relnotes-fix

#10240 Add benchmarks for categories: serialization, validation and schema generation
  tests/benchmarks/test_model_schema_generation.py
  tests/benchmarks/test_model_serialization.py
  tests/benchmarks/test_model_validation.py
  tests/test_edge_cases.py
Labels: relnotes-ignore

#10245 Update release tweet to encourage usage for beta versions
  .github/workflows/ci.yml
Labels: relnotes-ignore

#10244 Add comment reflecting unexpected union cache behavior that affects validation order
  tests/test_edge_cases.py
Labels: relnotes-ignore

#10247 Minor reorganization of benchmarks
  tests/benchmarks/shared.py
  tests/benchmarks/test_model_schema_generation.py
  tests/benchmarks/test_model_serialization.py
  tests/benchmarks/test_model_validation.py
  tests/benchmarks/test_schema_build.py
Labels: relnotes-ignore

#10255 Raise helpful warning when `self` isn't returned from model validator
  docs/concepts/validators.md
  pydantic/main.py
  tests/test_validators.py
Labels: relnotes-change

#10257 Fix parent namespace issue with model rebuilds
  pydantic/_internal/_typing_extra.py
  pydantic/main.py
Labels: relnotes-fix

#10263 Add benchmarks for direct model instantiation
  tests/benchmarks/test_model_validation.py
Labels: relnotes-fix

#10231 Improve concepts documentation related to models
  docs/concepts/fields.md
  docs/concepts/models.md
  mkdocs.yml
  pydantic/main.py
Labels: documentation

#10261 Remove defaults filter for namespace
  pydantic/_internal/_typing_extra.py
  tests/test_typing.py
Labels: relnotes-fix

#10267 Update ns stack with already copied ns
  pydantic/_internal/_generate_schema.py
Labels: relnotes-performance

#10264 Use identity instead of equality after validating model in `__init__`
  pydantic/main.py
  tests/test_validators.py
Labels: awaiting author revision, relnotes-fix

#10269 Bump `pydantic-core` to `v2.23.1` and other minor v bumps
  pdm.lock
  pyproject.toml
Labels: relnotes-packaging

#10270 Add in Hyperlint Base Style Guide + Spellcheck Configurations
  .hyperlint/.vale.ini
  .hyperlint/style_guide_test.md
  .hyperlint/styles/config/vocabularies/hyperlint/accept.txt
  .hyperlint/styles/hyperlint/repeatedWords.yml
Labels: documentation

#10268 Reorganize types ns functions
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_typing_extra.py
  pydantic/_internal/_validate_call.py
  pydantic/dataclasses.py
  pydantic/main.py
Labels: relnotes-ignore

#10274 Bump to `v2.9.0b2`
  HISTORY.md
  pydantic/version.py
Labels: relnotes-fix

#10271 Add benchmarks for schema generation with custom validators
  tests/benchmarks/test_model_schema_generation.py
Labels: relnotes-fix
