Repository pydantic/pydantic, pull requests merged in 2024-06, with the labels that each got.

#9548 test_pretty_print - ignore `FORCE_COLOR`
  tests/test_utils.py
Labels: relnotes-fix

#9550 Bump `pydantic-core` to `v2.18.4`
  pdm.lock
  pyproject.toml
Labels: relnotes-fix

#9551 prep for 2.7.3 release
  HISTORY.md
  pydantic/version.py
Labels: relnotes-ignore

#9552 Update history.md with info for v2.7.3 release
  HISTORY.md
Labels: relnotes-ignore, relnotes-fix

#9502 Docs Note Added to Models and Errors - Naming Collisions
  docs/concepts/models.md
  docs/errors/validation_errors.md
Labels: awaiting author revision, relnotes-ignore

#9561 Improve builtin alias generators
  pydantic/alias_generators.py
  tests/test_utils.py
Labels: ready for review, relnotes-fix

#9563 Replace `_defer_build_mode` with `experimental_defer_build_mode`
  mkdocs.yml
  pydantic/_internal/_config.py
  pydantic/_internal/_model_construction.py
  pydantic/config.py
  pydantic/type_adapter.py
  tests/test_config.py
  tests/test_type_adapter.py
Labels: ready for review, relnotes-fix

#9564 Minor refactors for new tests and docs
  docs/examples/validators.md
  tests/test_annotated.py
  tests/test_examples.py
  tests/test_utils.py
Labels: ready for review, relnotes-fix

#9162 Import modules/objects directly from v1 namespace
  .github/workflows/ci.yml
  pydantic/__init__.py
  pydantic/annotated_types.py
  pydantic/class_validators.py
  pydantic/color.py
  pydantic/config.py
  pydantic/dataclasses.py
  pydantic/datetime_parse.py
  pydantic/decorator.py
  pydantic/env_settings.py
  pydantic/error_wrappers.py
  pydantic/errors.py
  pydantic/fields.py
  pydantic/generics.py
  pydantic/json.py
  pydantic/main.py
  pydantic/mypy.py
  pydantic/networks.py
  pydantic/parse.py
  pydantic/schema.py
  pydantic/tools.py
  pydantic/types.py
  pydantic/typing.py
  pydantic/utils.py
  pydantic/v1.py
  pydantic/validators.py
  tests/test_v1.py
Labels: ready for review

#9560 chore: Add new API documentation for `script_code` and `ulid`
  docs/api/pydantic_extra_types_script_code.md
  docs/api/pydantic_extra_types_ulid.md
  mkdocs.yml
  pdm.lock
Labels: ready for review, relnotes-fix

#9570 Fix typing of `TypeAdapter`
  docs/migration.md
  pydantic/type_adapter.py
Labels: ready for review, relnotes-fix

#9577 Minor docs update - 2.7 note on `use_attribute_docstrings`
  pydantic/config.py
Labels: documentation, ready for review, relnotes-ignore

#9578 Make `deprecated` example conditional
  docs/concepts/fields.md
Labels: documentation, relnotes-ignore, relnotes-fix

#9584 Add fallback default value for private fields in __setstate__ of BaseModel
  pydantic/main.py
Labels: ready for review, relnotes-fix

#9459 Add pipeline API
  docs/api/experimental.md
  docs/concepts/experimental.md
  docs/version-policy.md
  mkdocs.yml
  pydantic/__init__.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_internal_dataclass.py
  pydantic/experimental/__init__.py
  pydantic/experimental/pipeline.py
  pydantic/warnings.py
  tests/test_docs.py
  tests/test_exports.py
  tests/test_pipeline.py
Labels: relnotes-feature

#9587 Support PEP 746
  pydantic/experimental/pipeline.py
Labels: relnotes-fix

#9592 Remove hooky reviewer round robin system
  pyproject.toml
Labels: ready for review, relnotes-ignore, relnotes-fix

#9595 Expand test coverage for experimental Pipeline API
  tests/test_pipeline.py
Labels: ready for review, relnotes-fix

#9596 Minor docs update - note on model validator inheritance
  docs/concepts/validators.md
Labels: documentation, relnotes-fix

#9527 Ignore other warnings when checking warnings
  tests/conftest.py
  tests/test_config.py
  tests/test_deprecated.py
  tests/test_json_schema.py
  tests/test_validators.py
Labels: awaiting author revision, relnotes-fix

#9601 Ignore format related commits in git blame
  .git-blame-ignore-revs
Labels: relnotes-ignore

#9606 Fix bug with mypy plugin's handling of covariant typevar fields
  pydantic/mypy.py
  tests/mypy/modules/covariant_typevar.py
  tests/mypy/test_mypy.py
Labels: relnotes-fix

#9620 Add TLD not required corrections to docs
  pydantic/networks.py
Labels: relnotes-ignore

#9623 Fix annotation application logic
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_known_annotated_metadata.py
  tests/test_types.py
Labels: ready for review, relnotes-fix

#9624 Patch for serialized json schema defaults
  pydantic/json_schema.py
  tests/test_json_schema.py
Labels: ready for review, relnotes-change

#9591 Respect regex flags in validation and json schema
  meetings.md
  pydantic/config.py
  pydantic/fields.py
  pydantic/json_schema.py
  pydantic/types.py
  tests/test_json_schema.py
  tests/test_types.py
Labels: ready for review, relnotes-fix

#9639 V1 bump to v1.10.16
  HISTORY.md
  pydantic/v1/__init__.py
  pydantic/v1/_hypothesis_plugin.py
  pydantic/v1/annotated_types.py
  pydantic/v1/class_validators.py
  pydantic/v1/color.py
  pydantic/v1/config.py
  pydantic/v1/dataclasses.py
  pydantic/v1/datetime_parse.py
  pydantic/v1/decorator.py
  pydantic/v1/env_settings.py
  pydantic/v1/error_wrappers.py
  pydantic/v1/errors.py
  pydantic/v1/fields.py
  pydantic/v1/generics.py
  pydantic/v1/json.py
  pydantic/v1/main.py
  pydantic/v1/mypy.py
  pydantic/v1/networks.py
  pydantic/v1/parse.py
  pydantic/v1/schema.py
  pydantic/v1/tools.py
  pydantic/v1/types.py
  pydantic/v1/typing.py
  pydantic/v1/utils.py
  pydantic/v1/v1.py
  pydantic/v1/validators.py
  pydantic/v1/version.py
  update_v1.sh
Labels: relnotes-fix

#9642 Prep for v2.7.4 release
  HISTORY.md
  pydantic/version.py
Labels: relnotes-ignore

#9641 Update HISTORY.md typo
  HISTORY.md
Labels: relnotes-ignore

#9640 Fix type hint on `IpvAnyAddress`
  pydantic/networks.py
Labels: relnotes-fix

#9643 2.7.4 history update
  HISTORY.md
Labels: relnotes-ignore

#9644 Advertise Python 3.12 for 1.10.x! Part Deux
  .github/workflows/ci.yml
  docs/requirements.txt
  pydantic/schema.py
  requirements.txt
  setup.cfg
  setup.py
  tests/requirements-linting.txt
  tests/requirements-testing.txt
  tests/test_abc.py
  tests/test_generics.py
  tests/test_types.py
Labels: ready for review

#9646 Bump `pydantic-core` to `v2.19.0`
  pdm.lock
  pyproject.toml
  tests/test_json_schema.py
  tests/test_types.py
Labels: relnotes-packaging

#9604 Update `pyright` to `1.1.366`
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_std_types_schema.py
  pydantic/deprecated/json.py
  pydantic/fields.py
  pydantic/json_schema.py
  pydantic/networks.py
  pydantic/types.py
Labels: relnotes-packaging

#9659 Allow a field specifier on __pydantic_extra__
  docs/concepts/models.md
  pydantic/_internal/_model_construction.py
  tests/test_main.py
Labels: relnotes-fix

#9673 Update citation version automatically
  CITATION.cff
  release/README.md
  release/make_history.py
Labels: relnotes-packaging

#9684 Docs update -- alias precedence
  docs/concepts/fields.md
Labels: documentation, relnotes-fix

#9674 Bump pyright to 1.1.367 and add type checking tests for pipeline API
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pydantic/experimental/pipeline.py
  pyproject.toml
  tests/pyright/pipeline_api.py
  tests/pyright/pyproject.toml
  tests/test_pipeline.py
Labels: relnotes-fix, relnotes-packaging

#9660 Mirrored modules in `v1` namespace to fix typing and object resolution in python>3.11
  pydantic/v1.py
  pydantic/v1/__init__.py
  pydantic/v1/_hypothesis_plugin.py
  pydantic/v1/annotated_types.py
  pydantic/v1/class_validators.py
  pydantic/v1/color.py
  pydantic/v1/config.py
  pydantic/v1/dataclasses.py
  pydantic/v1/datetime_parse.py
  pydantic/v1/decorator.py
  pydantic/v1/env_settings.py
  pydantic/v1/error_wrappers.py
  pydantic/v1/errors.py
  pydantic/v1/fields.py
  pydantic/v1/generics.py
  pydantic/v1/json.py
  pydantic/v1/main.py
  pydantic/v1/mypy.py
  pydantic/v1/networks.py
  pydantic/v1/parse.py
  pydantic/v1/schema.py
  pydantic/v1/tools.py
  pydantic/v1/types.py
  pydantic/v1/typing.py
  pydantic/v1/utils.py
  pydantic/v1/validators.py
  pydantic/v1/version.py
  setup.py
  tests/test_v1.py
Labels: ready for review

#9653 ⚡️ Speed up `_display_error_loc()` by 25% in `pydantic/v1/error_wrappers.py`
  pydantic/v1/error_wrappers.py
Labels: relnotes-performance

#9695 Docs update for dynamic models
  docs/concepts/models.md
Labels: documentation, relnotes-ignore

#9697 Relax type specification for `__validators__` values in `create_model`
  pydantic/main.py
Labels: relnotes-change

#9707 Update `pydantic.v1` stub to v1.10.17
  HISTORY.md
  pydantic/v1/error_wrappers.py
  pydantic/v1/schema.py
  pydantic/v1/version.py
  update_v1.sh
Labels: relnotes-fix

#9694 docs: update migration docs
  docs/migration.md
Labels: documentation, awaiting author revision

#9713 Docs updates
  docs/contributing.md
  docs/index.md
  docs/migration.md
Labels: documentation, ready for review, relnotes-ignore

#9650 ⚡️ Speed up `_get_all_json_refs()` by 34% in `pydantic/json_schema.py`
  pydantic/json_schema.py
Labels: relnotes-performance

#9652 ⚡️ Speed up `is_pydantic_dataclass()` by 41% in `pydantic/dataclasses.py`
  pydantic/dataclasses.py
Labels: relnotes-performance

#9702 Check all warnings returned by pytest.warns()
  pdm.lock
  pyproject.toml
  tests/test_config.py
  tests/test_deprecated.py
  tests/test_json_schema.py
Labels: awaiting author revision, relnotes-packaging

#9719 Hooky config update -- only Sydney as a reviewer for now
  pyproject.toml
Labels: relnotes-ignore

#9724 Hopefully last open PR for the labeler update
  .github/labels/default_pass.yml
  .github/labels/first_pass.yml
  .github/workflows/labeler.yml
Labels: relnotes-ignore

#9717 Add AWS Lambda Section to Integrations Docs
  docs/contributing.md
  docs/integrations/aws_lambda.md
  mkdocs.yml
Labels: documentation, relnotes-ignore

#9725 Explain fixes for `email-validator` import on AWS Lambda
  .github/labels/first_pass.yml
  docs/integrations/aws_lambda.md
Labels: documentation, relnotes-ignore

#9741 Package update to prep for v2.8
  docs/api/standard_library_types.md
  docs/concepts/config.md
  docs/concepts/json_schema.md
  docs/concepts/models.md
  docs/concepts/plugins.md
  docs/concepts/serialization.md
  docs/concepts/strict_mode.md
  docs/concepts/types.md
  docs/concepts/unions.md
  docs/concepts/validation_decorator.md
  docs/concepts/validators.md
  docs/migration.md
  pdm.lock
  tests/test_networks.py
  tests/test_types.py
Labels: relnotes-packaging

#9740 test: increase `pydantic\aliases.py` coverage to 100%
  tests/test_aliases.py
Labels: relnotes-ignore

#9183 Add support for programmatic title generation
  docs/concepts/json_schema.md
  pydantic/_internal/_config.py
  pydantic/_internal/_generate_schema.py
  pydantic/config.py
  pydantic/fields.py
  tests/test_config.py
  tests/test_titles.py
Labels: awaiting author revision, relnotes-feature

#9745 Bump `pydantic-core` to v2.20.0
  pdm.lock
  pyproject.toml
Labels: relnotes-packaging

#9747 ⚡️ Speed up `to_snake()` by 27% in `pydantic/alias_generators.py`
  pydantic/alias_generators.py
Labels: relnotes-performance

#9708 Implement fail-fast feature
  pydantic/__init__.py
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/_internal/_std_types_schema.py
  pydantic/fields.py
  pydantic/types.py
  tests/test_types.py
Labels: ready for review, relnotes-performance, relnotes-feature

#9752 Revert change - we already have a downloads / month badge
  README.md
Labels: relnotes-ignore

#9754 Add "DECIMAL_CONSTRAINTS" to allow field constraints on "Optional[Decimal]"
  pydantic/_internal/_known_annotated_metadata.py
  tests/test_types.py
Labels: ready for review, relnotes-fix

#9743 Add support for 3.13
  .github/workflows/ci.yml
  docs/integrations/devtools.md
  pdm.lock
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_typing_extra.py
  pydantic/v1/typing.py
  pyproject.toml
  tests/test_computed_fields.py
  tests/test_docs.py
  tests/test_generics.py
  tests/test_serialize.py
Labels: relnotes-packaging

#9727 ⚡️ Speed up `unwrap_wrapped_function()` by 93% in `pydantic/_internal/_decorators.py`
  pydantic/_internal/_decorators.py
Labels: awaiting author revision, relnotes-performance

#9759 docs: Add note about mypy plugin configuration for --disallow-any-explicit
  docs/integrations/mypy.md
Labels: documentation

#9761 Update `pdm` version used for `pdm.lock`
  .github/workflows/ci.yml
  pdm.lock
Labels: relnotes-packaging

#9760 `validate_call` type params fix
  pydantic/_internal/_typing_extra.py
  pydantic/_internal/_validate_call.py
  pydantic/validate_call_decorator.py
  tests/test_validate_call.py
Labels: relnotes-fix

#9776 Preparing for the v2.8.0b1 release!
  HISTORY.md
  pydantic/version.py
Labels: relnotes-ignore

#9771 Document and test `ser_json_inf_nan='strings'` variant
  pydantic/_internal/_config.py
  pydantic/config.py
  tests/test_json.py
Labels: documentation

#9777 Add note about Pipeline API recommended usage
  docs/concepts/experimental.md
Labels: documentation

#9779 Fix documentation formatting
  docs/concepts/experimental.md
Labels: documentation

#9778 Docs updates to prep for v2.8
  docs/concepts/performance.md
  docs/integrations/mypy.md
  docs/migration.md
Labels: documentation

#9781 Fix Python version check for `_eval_type`
  pydantic/_internal/_typing_extra.py
Labels: relnotes-fix

#9735 Add Nested Model Field Validation Examples to Docs
  docs/examples/validators.md
Labels: documentation, ready for review
