Repository pydantic/pydantic, pull requests merged in 2024-12, with the labels that each got.

#11021 Bump astral-sh/setup-uv from 3 to 4
  .github/workflows/ci.yml
  .github/workflows/codspeed.yml
  .github/workflows/docs-update.yml
Labels: relnotes-fix

#10997 Replace outdated stpmex link
  docs/index.md
Labels: documentation

#11008 Use the globals of the function when evaluating the return type for `PlainSerializer` and `WrapSerializer` functions
  pydantic/functional_serializers.py
  tests/test_forward_ref.py
Labels: relnotes-fix

#11027 Fix host required enforcement for urls to be compatible with v2.9 behavior
  pydantic/networks.py
  tests/test_networks.py
Labels: relnotes-fix

#11035 Fix url json schema in `serialization` mode
  pydantic/networks.py
  tests/test_networks.py
Labels: relnotes-fix

#11038 Prep for v2.10.3 release
  CITATION.cff
  HISTORY.md
  pydantic/version.py
  uv.lock
Labels: relnotes-fix

#11032 Rework `create_model` field definitions format
  docs/concepts/models.md
  docs/errors/usage_errors.md
  pydantic/main.py
  tests/test_create_model.py
  tests/test_main.py
  tests/test_private_attributes.py
Labels: relnotes-change

#11029 Improve and reorganize models and fields documentation
  docs/api/standard_library_types.md
  docs/concepts/fields.md
  docs/concepts/models.md
  docs/concepts/types.md
  docs/concepts/unions.md
  docs/concepts/validation_decorator.md
  docs/migration.md
Labels: documentation, awaiting author revision

#11048 Fix link issue in docs to perf page
  docs/concepts/models.md
  docs/concepts/performance.md
Labels: documentation

#11077 Fix typo in HISTORY.md.
  HISTORY.md
Labels: ready for review, relnotes-fix

#11072 Remove `mkdocs-redirect` monkeypatching
  docs/plugins/main.py
Labels: documentation

#11082 Fix for comaparison of AnyUrl objects
  pydantic/networks.py
  tests/test_networks.py
Labels: ready for review, relnotes-fix

#11089 Simplify test parametrization in `test_types_self.py`
  tests/test_types_self.py
Labels: relnotes-ignore

#11106 Update migration guide to include float to int conversion and fix markup issues
  docs/migration.md
Labels: documentation

#11093 Properly fetch PEP 695 type params for functions, do not fetch annotations from signature
  docs/errors/usage_errors.md
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_namespace_utils.py
  pydantic/validate_call_decorator.py
  tests/test_validate_call.py
Labels: relnotes-fix, backport-2.10

#11060 Rewrite validators documentation
  docs/api/pydantic_core.md
  docs/concepts/fields.md
  docs/concepts/json_schema.md
  docs/concepts/validators.md
  docs/plugins/main.py
  pydantic/__init__.py
  pydantic/functional_validators.py
Labels: documentation

#11115 Properly fetch PEP 695 type params for functions, do not fetch annotations from signature
  docs/errors/usage_errors.md
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_namespace_utils.py
  pydantic/validate_call_decorator.py
  tests/test_validate_call.py
Labels: relnotes-fix

#11118 Improve documentation of `@validate_call()` with `Field()`
  docs/concepts/validation_decorator.md
Labels: documentation

#11114 Recursively unpack `Literal` values if using PEP 695 type aliases
  pydantic/_internal/_typing_extra.py
  tests/test_json_schema.py
Labels: relnotes-fix

#11116 Override `__subclasscheck__` on `ModelMetaclass` to avoid memory leak and performance issues
  pydantic/_internal/_generics.py
  pydantic/_internal/_model_construction.py
Labels: relnotes-fix

#11117 Update `WithJsonSchema` documentation, add usage documentation for `json_schema_input_type`
  docs/concepts/json_schema.md
  docs/concepts/validators.md
Labels: documentation

#11138 bump pydantic-core to 2.27.2
  pyproject.toml
  uv.lock
Labels: relnotes-fix

#11135 Fix `create_model()` usage documentation
  docs/concepts/models.md
Labels: documentation

#11085 Include JSON Schema input core schema in function schemas
  pydantic/_internal/_core_metadata.py
  pydantic/_internal/_core_utils.py
  pydantic/functional_validators.py
  pydantic/json_schema.py
  tests/test_json_schema.py
  tests/test_utils.py
Labels: relnotes-fix, backport-2.10

#11111 Add `len` to `_BaseUrl` to avoid TypeError
  pydantic/networks.py
  tests/test_networks.py
Labels: relnotes-fix, backport-2.10

#11140 Fix package description limit bound
  HISTORY.md
Labels: documentation, backport-2.10

#11108 Remove `usage docs` plugin preventing xlinks to non-header sections
  .pre-commit-config.yaml
  docs/plugins/griffe_doclinks.py
  mkdocs.yml
  pydantic/aliases.py
  pydantic/config.py
  pydantic/dataclasses.py
  pydantic/fields.py
  pydantic/functional_validators.py
  pydantic/json_schema.py
  pydantic/main.py
  pydantic/plugin/__init__.py
  pydantic/root_model.py
  pydantic/type_adapter.py
  pydantic/types.py
  pydantic/validate_call_decorator.py
  release/README.md
  tests/check_usage_docs.py
Labels: documentation, backport-2.10

#11142 Include JSON Schema input core schema in function schemas
  pydantic/_internal/_core_metadata.py
  pydantic/_internal/_core_utils.py
  pydantic/functional_validators.py
  pydantic/json_schema.py
  tests/test_json_schema.py
  tests/test_utils.py
  uv.lock
Labels: relnotes-fix

#11144 Prepare for v2.10.4
  CITATION.cff
  HISTORY.md
  pydantic/version.py
  uv.lock
Labels: relnotes-packaging

#11145 Make sure the type reference is removed from the seen references
  pydantic/_internal/_generics.py
  tests/test_generics.py
Labels: relnotes-fix

#11155 Remove unused `_extract_get_pydantic_json_schema()` parameter
  pydantic/_internal/_generate_schema.py
Labels: relnotes-fix

#11044 Add FastAPI and SQLModel to third-party tests
  .github/workflows/third_party.yml
  docs/contributing.md
Labels: relnotes-fix, third-party-tests

#11162 Fix conditional expressions syntax for third-party tests
  .github/workflows/third-party.yml
Labels: relnotes-fix

#11163 Remove FastAPI test related to JSON Schema generation
  tests/test_fastapi_json_schema.py
Labels: relnotes-ignore

#11164 Move FastAPI tests to third-party workflow
  .github/workflows/ci.yml
  .github/workflows/third-party.yml
  Makefile
  tests/test_fastapi.sh
Labels: relnotes-fix

#11161 Improve discriminated union error message for invalid union variants
  pydantic/_internal/_discriminated_union.py
  tests/test_discriminated_union.py
Labels: relnotes-fix

#11171 Add openapi-python-client to third-party tests
  .github/workflows/third-party.yml
Labels: third-party-tests

#11109 Unpack PEP 695 type aliases if using the `Annotated` form
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_typing_extra.py
  pydantic/fields.py
  tests/test_type_alias_type.py
Labels: relnotes-fix, third-party-tests

#11182 Include `openapi-python-client` check in issue creation for third-party failures, use `main` branch
  .github/workflows/third-party.yml
Labels: relnotes-fix, third-party-tests

#11168 Raise a deprecation warning when a field is annotated as final with a default value
  pydantic/__init__.py
  pydantic/_internal/_fields.py
  pydantic/warnings.py
  tests/test_main.py
Labels: awaiting author revision, relnotes-change

#11177 Add third-party tests for BeanieODM
  .github/workflows/third-party.yml
Labels: third-party-tests

#11184 Remove custom MRO implementation of Pydantic models
  pydantic/_internal/_model_construction.py
  pydantic/main.py
  tests/test_generics.py
Labels: relnotes-fix, backport-2.10

#11191 Re-enable memray related tests on Python 3.12+
  tests/test_generics.py
  uv.lock
Labels: relnotes-packaging

#11190 Fix typo in `test_is_classvar_annotation`
  tests/test_typing.py
Labels: relnotes-ignore

#11186 Improve annotation application performance
  pydantic/_internal/_generate_schema.py
Labels: relnotes-performance

#11169 Deprecate accessing `model_fields` and `model_computed_fields` on instances
  docs/api/base_model.md
  docs/concepts/json_schema.md
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_utils.py
  pydantic/main.py
  tests/test_computed_fields.py
  tests/test_construction.py
  tests/test_deprecated.py
  tests/test_edge_cases.py
  tests/test_main.py
  tests/typechecking/base_model.py
Labels: awaiting author revision, relnotes-change

#11189 Properly support PEP 695 generics syntax
  docs/concepts/models.md
  pydantic/_internal/_namespace_utils.py
  pydantic/_internal/_typing_extra.py
  tests/test_forward_ref.py
  tests/test_typing.py
Labels: type checking, relnotes-feature

#11195 Remove custom MRO implementation of Pydantic models
  pydantic/_internal/_model_construction.py
  pydantic/main.py
  tests/test_generics.py
Labels: relnotes-fix

#11193 Add pandera third-party tests
  .github/workflows/third-party.yml
Labels: relnotes-fix, third-party-tests

#11197 Add ODMantic third-party tests
  .github/workflows/third-party.yml
Labels: relnotes-fix, third-party-tests

#11196 Add Polar third-party tests
  .github/workflows/third-party.yml
Labels: relnotes-ignore, third-party-tests

#11200 Add missing stacklevel in `deprecated_instance_property` warning
  pydantic/_internal/_utils.py
Labels: relnotes-fix
