Repository pydantic/pydantic, pull requests merged in 2024-01, with the labels that each got.

#8467 Fix test in serialization.md
  docs/concepts/serialization.md
Labels: ready for review, relnotes-ignore

#8428 Add missing changelog to HISTORY.md
  HISTORY.md
Labels: ready for review, relnotes-ignore

#8482 Bump github actions
  .github/workflows/ci.yml
  .github/workflows/dependencies-check.yml
  .github/workflows/upload-previews.yml
Labels: relnotes-ignore

#8483 Fix coverage-combine in CI
  .github/workflows/ci.yml
Labels: relnotes-ignore

#8486 Update docs with blog redirect
  docs/blog/pydantic-v2-alpha.md
  docs/blog/pydantic-v2-final.md
  docs/blog/pydantic-v2.md
  mkdocs.yml
Labels: relnotes-ignore

#8495 chore: clarify `frozen` vs `allow_mutation` in docstring
  pydantic/config.py
Labels: relnotes-ignore

#8497 version_info moved
  docs/contributing.md
Labels: relnotes-ignore

#8491 docs: Fix "Use of stdlib dataclasses with BaseModel" bug
  docs/concepts/dataclasses.md
Labels: relnotes-ignore

#8494 Fix bug with schema generation with Field(...) in a forward ref
  pydantic/_internal/_generate_schema.py
  tests/test_annotated.py
Labels: relnotes-fix

#8500 Fix ordering of keys in `__dict__` with `model_construct` call
  pydantic/main.py
  tests/test_construction.py
Labels: ready for review, relnotes-fix

#8470 Fix module `path_type` creation when globals does not contain `__name__`
  pydantic/type_adapter.py
  tests/test_plugins.py
Labels: ready for review, relnotes-fix

#8503 Remove duplicate `NVlabs/SPADE` entry in docs
  docs/plugins/using.toml
Labels: relnotes-ignore

#8507 Added bits conversion to the ByteSize class feature #8415
  pydantic/types.py
  pydantic/v1/types.py
  tests/test_types.py
Labels: awaiting author revision, relnotes-feature

#8513 fix for namespace issue with dataclasses with from __future__ import annotations
  pydantic/_internal/_fields.py
Labels: relnotes-fix

#8437 Introducing classproperty decorator for model_computed_fields
  pydantic/_internal/_model_construction.py
  pydantic/main.py
  tests/test_computed_fields.py
Labels: ready for review, relnotes-change

#8521 Update `pydantic-extra-types` to newest version
  pdm.lock
Labels: relnotes-packaging

#8294 Fix usage of `@deprecated`
  pdm.lock
  pydantic/_internal/_model_construction.py
  pydantic/deprecated/decorator.py
  pydantic/deprecated/json.py
  pydantic/deprecated/parse.py
  pydantic/deprecated/tools.py
  pydantic/main.py
  tests/test_deprecated.py
  tests/test_parse.py
Labels: ready for review, relnotes-fix

#8528 Minor docs update for docs sprint progress
  docs/concepts/models.md
  docs/migration.md
  pydantic/main.py
Labels: relnotes-ignore

#8533 update to pydantic-core 2.15.0
  docs/errors/validation_errors.md
  docs/plugins/conversion_table.py
  pdm.lock
  pydantic/__init__.py
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_generate_schema.py
  pydantic/json_schema.py
  pydantic/warnings.py
  pyproject.toml
  tests/test_datetime.py
  tests/test_docs.py
  tests/test_edge_cases.py
  tests/test_json_schema.py
  tests/test_type_adapter.py
  tests/test_types.py
  tests/test_utils.py
  tests/test_validators.py
Labels: relnotes-packaging

#8378 Use a stack for the types namespace
  pydantic/_internal/_generate_schema.py
  tests/test_create_model.py
Labels: relnotes-fix

#8453 Update to `pyright==1.1.345`
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pydantic/_internal/_decorators.py
  pydantic/_internal/_generate_schema.py
  pydantic/main.py
  pydantic/root_model.py
  pydantic/type_adapter.py
Labels: ready for review, relnotes-packaging

#8501 docs: add replacement for 'ENCODER_BY_TYPE' to migration guide
  docs/migration.md
Labels: awaiting author revision, relnotes-ignore

#8526 Fix schema-building bug with TypeAliasType for types with refs
  pydantic/_internal/_core_utils.py
  tests/test_type_alias_type.py
Labels: relnotes-fix

#8478 :memo: Add ISBN Documentation to navigation
  docs/api/pydantic_extra_types_isbn.md
  mkdocs.yml
  pdm.lock
Labels: awaiting author revision, relnotes-ignore

#8511 fix: Support `pydantic.Field(repr=False)` in dataclasses
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Labels: awaiting author revision, relnotes-fix

#8163 Override `dataclass_transform` behavior for `RootModel`
  pydantic/mypy.py
  pydantic/root_model.py
  tests/mypy/outputs/1.1.1/mypy-default_ini/root_models.py
  tests/mypy/outputs/1.1.1/mypy-plugin_ini/root_models.py
  tests/mypy/outputs/1.1.1/pyproject-default_toml/root_models.py
  tests/mypy/outputs/1.4.1/mypy-default_ini/root_models.py
  tests/mypy/outputs/1.4.1/pyproject-default_toml/root_models.py
  tests/mypy/test_mypy.py
Labels: awaiting author revision, mypy, relnotes-fix

#8537 feat: enable json schema creation with type ByteSize
  pydantic/types.py
  tests/test_json_schema.py
  tests/test_types.py
Labels: awaiting author revision, relnotes-feature

#8243 Explicitly raise an error if field names clashes with types
  docs/errors/usage_errors.md
  pydantic/errors.py
  pydantic/fields.py
  tests/test_edge_cases.py
  tests/test_fields.py
Labels: awaiting author revision, relnotes-change

#8540 Ubuntu fixes for V1
  docs/extra/redirects.js
  docs/requirements.txt
  mkdocs.yml
Labels: ready for review

#8209 Add eval_type_backport to handle union operator and builtin generic subscripting in older Pythons
  pdm.lock
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_typing_extra.py
  pydantic/fields.py
  pyproject.toml
  tests/test_config.py
  tests/test_edge_cases.py
  tests/test_forward_ref.py
  tests/test_main.py
  tests/test_model_validator.py
  tests/test_type_adapter.py
  tests/test_types_namedtuple.py
  tests/test_typing.py
  tests/test_validate_call.py
  tests/test_validators.py
Labels: awaiting author revision, relnotes-feature

#8407 Fix cached_property handling in dataclasses when copied
  pydantic/dataclasses.py
  pydantic/error_wrappers.py
  pydantic/fields.py
  pydantic/main.py
  pydantic/schema.py
  pydantic/types.py
  tests/test_dataclasses.py
  tests/test_generics.py
  tests/test_main.py
  tests/test_rich_repr.py
  tests/test_typing.py
Labels: awaiting author revision, relnotes-fix

#8578 Bump `pydantic-core` to 2.16.1, various other bumps
  pdm.lock
  pyproject.toml
Labels: ready for review, relnotes-packaging

#8552 Add support for dataclass fields init
  docs/concepts/fields.md
  docs/errors/usage_errors.md
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_signature.py
  pydantic/errors.py
  pydantic/fields.py
  tests/test_dataclasses.py
Labels: ready for review, relnotes-feature

#8589 Prep for 2.6.0b1 Release
  HISTORY.md
  pydantic/v1/class_validators.py
  pydantic/v1/dataclasses.py
  pydantic/v1/error_wrappers.py
  pydantic/v1/fields.py
  pydantic/v1/main.py
  pydantic/v1/schema.py
  pydantic/v1/types.py
  pydantic/v1/version.py
  pydantic/version.py
Labels: relnotes-ignore

#8546 Add examples for `functional_serializers` in API docs
  pydantic/functional_serializers.py
Labels: awaiting author revision, relnotes-ignore

#8612 Prep for 2.6 release
  HISTORY.md
  pydantic/version.py
Labels: relnotes-ignore

#8631 model_dump: Improve docstring
  pydantic/main.py
Labels: ready for review, relnotes-ignore

#8636 Use pydantic-settings 2.1 docs
  docs/concepts/pydantic_settings.md
Labels: relnotes-ignore

#8614 Fix strict parsing for some `Sequence`s
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_validators.py
  tests/test_types.py
Labels: ready for review, relnotes-fix

#6563 Extract attribute docstrings for `FieldInfo.description`
  pydantic/_internal/_config.py
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_docs_extraction.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/config.py
  tests/test_docs_extraction.py
Labels: ready for review, relnotes-feature

#8639 Docs updates -- minor changes
  docs/concepts/dataclasses.md
  docs/concepts/validators.md
  pydantic/networks.py
  pydantic/root_model.py
Labels: relnotes-ignore

#8611 Add a `with_config` decorator to comply with typing spec
  docs/api/config.md
  docs/concepts/config.md
  pydantic/__init__.py
  pydantic/config.py
  tests/mypy/modules/with_config_decorator.py
  tests/mypy/outputs/1.0.1/pyproject-default_toml/with_config_decorator.py
  tests/mypy/outputs/1.1.1/pyproject-default_toml/with_config_decorator.py
  tests/mypy/test_mypy.py
  tests/test_dataclasses.py
  tests/test_types_typeddict.py
Labels: awaiting author revision, relnotes-feature

#8642 Add a check on the existence of `__qualname__`
  pydantic/_internal/_model_construction.py
  tests/test_create_model.py
Labels: ready for review, relnotes-fix

#8645 More documentation sprint progress
  docs/concepts/models.md
  docs/concepts/performance.md
  docs/concepts/validation_decorator.md
  docs/migration.md
Labels: ready for review, relnotes-ignore

#8658 📝 Add Pendulum Documentation to navigation
  docs/api/pydantic_extra_types_pendulum_dt.md
  mkdocs.yml
  pdm.lock
Labels: ready for review, relnotes-packaging

#8667 Drop pypy-3.8 from CI
  .github/workflows/ci.yml
Labels: relnotes-ignore

#8651 Fix type-safety of attribute access in `BaseModel`
  pydantic/main.py
Labels: relnotes-fix

#8666 Fix bug with mypy plugin and `no_strict_optional = True`
  pydantic/mypy.py
  tests/mypy/configs/pyproject-plugin-no-strict-optional.toml
  tests/mypy/modules/no_strict_optional.py
  tests/mypy/outputs/1.0.1/pyproject-plugin-no-strict-optional_toml/no_strict_optional.py
  tests/mypy/test_mypy.py
Labels: relnotes-fix
