Repository pydantic/pydantic, pull requests merged in 2024-11, with the labels that each got.

#10751 Allow any mapping in `BaseModel.model_copy()`
  pydantic/main.py
Labels: relnotes-fix

#10755 Fix documentation code examples not being upgraded
  docs/plugins/main.py
Labels: documentation

#10765 Improve installation documentation
  docs/install.md
Labels: documentation

#10761 Use Python 3.12 for Cloudflare Pages build
  .github/workflows/ci.yml
  .github/workflows/docs-update.yml
Labels: documentation

#10748 Add `experimental_allow_partial` support
  docs/concepts/experimental.md
  docs/plugins/main.py
  pdm.lock
  pydantic/functional_validators.py
  pydantic/type_adapter.py
  pyproject.toml
  tests/test_allow_partial.py
  tests/test_datetime.py
Labels: relnotes-feature

#10766 Fix `isinstance` behavior for urls
  pydantic/networks.py
  tests/test_json_schema.py
  tests/test_networks.py
Labels: relnotes-fix

#10777 Patch fix for bug in mkdocs redirects
  docs/plugins/main.py
Labels: documentation, relnotes-fix

#10781 Avoid type checking error when using the ellipsis with `Field`
  pydantic/_internal/_typing_extra.py
  pydantic/fields.py
  tests/mypy/outputs/1.10.1/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.10.1/mypy-default_ini/plugin_success_baseConfig.py
  tests/mypy/outputs/1.10.1/mypy-plugin-strict_ini/fail_defaults.py
  tests/mypy/outputs/1.10.1/mypy-plugin-strict_ini/plugin_fail.py
  tests/mypy/outputs/1.10.1/mypy-plugin-strict_ini/plugin_fail_baseConfig.py
  tests/mypy/outputs/1.10.1/mypy-plugin-strict_ini/plugin_success.py
  tests/mypy/outputs/1.10.1/mypy-plugin-strict_ini/plugin_success_baseConfig.py
  tests/mypy/outputs/1.10.1/mypy-plugin_ini/plugin_fail.py
  tests/mypy/outputs/1.10.1/mypy-plugin_ini/plugin_fail_baseConfig.py
  tests/mypy/outputs/1.10.1/mypy-plugin_ini/plugin_success.py
  tests/mypy/outputs/1.10.1/mypy-plugin_ini/plugin_success_baseConfig.py
  tests/mypy/outputs/1.10.1/pyproject-plugin-strict_toml/fail_defaults.py
  tests/mypy/outputs/1.10.1/pyproject-plugin-strict_toml/plugin_fail.py
  tests/mypy/outputs/1.10.1/pyproject-plugin-strict_toml/plugin_fail_baseConfig.py
  tests/mypy/outputs/1.10.1/pyproject-plugin-strict_toml/plugin_success.py
  tests/mypy/outputs/1.10.1/pyproject-plugin-strict_toml/plugin_success_baseConfig.py
  tests/mypy/outputs/1.10.1/pyproject-plugin_toml/plugin_fail.py
  tests/mypy/outputs/1.10.1/pyproject-plugin_toml/plugin_fail_baseConfig.py
  tests/mypy/outputs/1.10.1/pyproject-plugin_toml/plugin_success.py
  tests/mypy/outputs/1.10.1/pyproject-plugin_toml/plugin_success_baseConfig.py
  tests/typechecking/fields.py
Labels: relnotes-fix

#10779 Prepare v2.10.0b1 release
  HISTORY.md
  pydantic/v1/main.py
  pydantic/v1/validators.py
  pydantic/v1/version.py
  pydantic/version.py
  tests/test_v1.py
Labels: relnotes-ignore

#10788 Renable `mypy` type checking integration tests
  .github/workflows/ci.yml
  tests/typechecking/decorators.py
  tests/typechecking/fields.py
Labels: relnotes-ignore

#10727 Replaced pdm with uv
  .github/workflows/ci.yml
  .github/workflows/codspeed.yml
  .github/workflows/dependencies-check.yml
  .github/workflows/docs-update.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  build-docs.sh
  docs/contributing.md
  docs/plugins/main.py
  pdm.lock
  pyproject.toml
  release/README.md
  tests/benchmarks/basemodel_eq_performance.py
  tests/benchmarks/test_fastapi_startup_generics.py
  tests/benchmarks/test_fastapi_startup_simple.py
  uv.lock
Labels: relnotes-packaging

#10725 Refactor `_typing_extra` module
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_generics.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_repr.py
  pydantic/_internal/_std_types_schema.py
  pydantic/_internal/_typing_extra.py
  pydantic/dataclasses.py
  pydantic/json_schema.py
  pydantic/main.py
  tests/test_forward_ref.py
  tests/test_typing.py
  tests/test_utils.py
Labels: relnotes-fix

#10798 Support intuitive equality for urls
  pydantic/networks.py
  tests/test_networks.py
Labels: relnotes-fix

#10800 Fix documentation of extra fields
  docs/concepts/models.md
Labels: documentation

#10797 Add documentation note regarding `create_model` and validators
  docs/concepts/models.md
Labels: documentation

#10802 add `bytearray` to `TypeAdapter.validate_json` signature
  pydantic/type_adapter.py
Labels: relnotes-fix

#10815 fix uv switch
  .github/workflows/ci.yml
  .github/workflows/codspeed.yml
  .github/workflows/dependencies-check.yml
  .github/workflows/docs-update.yml
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
  tests/benchmarks/test_discriminated_unions.py
  tests/benchmarks/test_fastapi_startup_simple.py
  tests/benchmarks/test_imports.py
  tests/benchmarks/test_isinstance.py
  tests/test_networks.py
  tests/test_pickle.py
  tests/test_types.py
  uv.lock
Labels: relnotes-ignore

#10816 Ensure class access of method descriptors is performed when used as a default with `Field`
  pydantic/_internal/_fields.py
  tests/test_edge_cases.py
Labels: relnotes-fix

#10807 Fix circular import with `validate_call`
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_validate_call.py
  pydantic/validate_call_decorator.py
Labels: relnotes-fix

#10825 Add `trailing-strings` support to `experimental_allow_partial`
  docs/concepts/experimental.md
  pydantic/type_adapter.py
  pyproject.toml
  tests/test_allow_partial.py
  tests/test_config.py
  uv.lock
Labels: relnotes-feature

#10813 Fix `IncEx` type alias to be compatible with mypy
  pydantic/main.py
  tests/typechecking/misc.py
Labels: relnotes-fix

#10818 Make `__signature__` a lazy property, do not deepcopy defaults
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_signature.py
  pydantic/_internal/_utils.py
  tests/test_model_signature.py
  tests/test_utils.py
Labels: awaiting author revision, relnotes-fix

#10823 Cleanup CI and project metadata
  .github/workflows/cherry-pick.yml
  .github/workflows/ci.yml
  .github/workflows/codspeed.yml
  .github/workflows/dependencies-check.yml
  .github/workflows/docs-update.yml
  .github/workflows/integration.yml
  .github/workflows/labeler.yml
  .github/workflows/update-pydantic-people.yml
  .github/workflows/upload-previews.yml
  .pre-commit-config.yaml
  HISTORY.md
  docs/concepts/types.md
  pydantic/_internal/_discriminated_union.py
  pydantic/_internal/_std_types_schema.py
  pydantic/json_schema.py
  pydantic/mypy.py
  pyproject.toml
  uv.lock
Labels: relnotes-packaging

#10832 Make `__signature__` lazy for dataclasses, too
  pydantic/_internal/_dataclasses.py
Labels: relnotes-fix

#10537 Add `rebuild()` method for `TypeAdapter` and simplify `defer_build` patterns
  pydantic/_internal/_mock_val_ser.py
  pydantic/_internal/_namespace_utils.py
  pydantic/type_adapter.py
  tests/test_type_adapter.py
Labels: relnotes-performance, relnotes-change

#10837 Quick fix for type adapter rebuilds
  pydantic/_internal/_mock_val_ser.py
Labels: relnotes-ignore

#10842 Sync lockfile to include `2.10.0b2` version bump
  uv.lock
Labels: relnotes-ignore

#10769 Only evaluate `FieldInfo` annotations if required during schema building
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_typing_extra.py
  pydantic/fields.py
Labels: relnotes-performance

#10849 Docs updates: type adapter rebuild instructions
  docs/concepts/type_adapter.md
  pydantic/config.py
Labels: documentation

#10858 :fire: remove `requirements/` from Build targets
  pyproject.toml
Labels: relnotes-ignore

#10763 Add validation tests for `_internal/_validators.py`
  pydantic/_internal/_validators.py
  tests/test_internal.py
  tests/test_types.py
Labels: awaiting author revision, relnotes-fix

#10789 Support unsubstituted type variables with both a default and a bound or constraints
  pydantic/_internal/_generate_schema.py
  tests/test_generics.py
Labels: awaiting author revision, relnotes-feature

#10856 Subclass all single host url classes from `AnyUrl` to preserve behavior from v2.9
  pydantic/networks.py
  tests/test_networks.py
Labels: relnotes-fix

#10872 Improve `TypeAdapter` instance repr
  pydantic/type_adapter.py
  tests/test_type_adapter.py
Labels: relnotes-feature

#10879 Update timedelta docs with correct spec
  docs/api/standard_library_types.md
Labels: documentation

#10880 Change `TypeAdapter` representation to use parentheses
  pydantic/type_adapter.py
  tests/test_type_adapter.py
Labels: relnotes-ignore

#10868 Improve `__setattr__` performance of Pydantic models by caching setter functions
  pydantic/_internal/_model_construction.py
  pydantic/main.py
  tests/benchmarks/test_attribute_access.py
  tests/test_edge_cases.py
  tests/test_main.py
Labels: ready for review, relnotes-performance

#10897 fix indentation level
  docs/concepts/type_adapter.md
Labels: documentation, relnotes-ignore, relnotes-fix

#10898 Fix attributes format of code blocks in documentation
  Makefile
  docs/api/standard_library_types.md
  docs/concepts/alias.md
  docs/concepts/experimental.md
  docs/concepts/fields.md
  docs/concepts/json_schema.md
  docs/concepts/models.md
  docs/concepts/performance.md
  docs/concepts/serialization.md
  docs/concepts/unions.md
  docs/concepts/validators.md
  docs/errors/usage_errors.md
  docs/errors/validation_errors.md
  docs/examples/files.md
  docs/examples/queues.md
  docs/examples/requests.md
  docs/index.md
  docs/integrations/aws_lambda.md
  docs/integrations/datamodel_code_generator.md
  docs/integrations/devtools.md
  docs/integrations/logfire.md
  docs/integrations/mypy.md
  docs/integrations/visual_studio_code.md
  docs/internals/architecture.md
  docs/internals/resolving_annotations.md
  docs/migration.md
  docs/plugins/main.py
  docs/version-policy.md
  docs/why.md
  pydantic/_internal/_namespace_utils.py
  pydantic/_internal/_typing_extra.py
  pydantic/_internal/_utils.py
  pydantic/config.py
  pydantic/fields.py
  pydantic/json_schema.py
  pydantic/main.py
  pydantic/type_adapter.py
  uv.lock
Labels: documentation

#10900 Consistency with "```python" rather than "```py"
  README.md
  docs/api/standard_library_types.md
  docs/concepts/alias.md
  docs/concepts/config.md
  docs/concepts/dataclasses.md
  docs/concepts/experimental.md
  docs/concepts/fields.md
  docs/concepts/forward_annotations.md
  docs/concepts/json.md
  docs/concepts/json_schema.md
  docs/concepts/models.md
  docs/concepts/performance.md
  docs/concepts/serialization.md
  docs/concepts/strict_mode.md
  docs/concepts/type_adapter.md
  docs/concepts/types.md
  docs/concepts/unions.md
  docs/concepts/validation_decorator.md
  docs/concepts/validators.md
  docs/errors/errors.md
  docs/errors/usage_errors.md
  docs/errors/validation_errors.md
  docs/examples/custom_validators.md
  docs/examples/orms.md
  docs/integrations/visual_studio_code.md
  docs/migration.md
  docs/why.md
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_generics.py
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/config.py
  pydantic/fields.py
  pydantic/functional_validators.py
  pydantic/json_schema.py
  pydantic/main.py
  pydantic/networks.py
  pydantic/type_adapter.py
  pydantic/types.py
Labels: documentation, relnotes-ignore

#10901 Make `pre-commit` install easier
  Makefile
Labels: relnotes-ignore

#10904 Prep for v2.10.0 release
  CITATION.cff
  HISTORY.md
  pydantic/version.py
  release/README.md
  uv.lock
Labels: relnotes-packaging

#10893 Use the correct frame when instantiating a parametrized `TypeAdapter`
  pydantic/type_adapter.py
  tests/test_type_adapter.py
Labels: awaiting author revision, relnotes-fix

#10909 Relax check for validated data in default factory utils
  pydantic/fields.py
Labels: relnotes-fix

#10911 Fix type checking issue with `model_fields` and `model_computed_fields`
  pydantic/main.py
  tests/typechecking/base_model.py
Labels: type checking, relnotes-fix

#10928 Use the parent configuration during schema generation for stdlib dataclasses
  docs/concepts/dataclasses.md
  pydantic/_internal/_generate_schema.py
  tests/test_dataclasses.py
  tests/test_types_typeddict.py
Labels: relnotes-fix

#10922 Fix url constraint application
  pydantic/networks.py
  tests/test_networks.py
Labels: relnotes-fix

#10886 ci: use locally built pydantic-core with debug symbols in benchmarks
  .github/workflows/codspeed.yml
Labels: relnotes-ignore

#10934 Fix URL equality with different validation methods
  pydantic/networks.py
  tests/test_networks.py
Labels: relnotes-fix

#10936 Fix JSON schema title when specified as `''`
  pydantic/json_schema.py
  tests/test_json_schema.py
Labels: relnotes-fix

#10938 Bump `pydantic-core` version to v2.27.1
  pyproject.toml
  uv.lock
Labels: relnotes-packaging

#10939 Prepare for v2.10.1 release
  CITATION.cff
  HISTORY.md
  pydantic/version.py
  uv.lock
Labels: relnotes-fix

#10942 Revert "ci: use locally built pydantic-core with debug symbols
  .github/workflows/codspeed.yml
Labels: relnotes-fix

#10948 Re-enable all FastAPI tests
  tests/test_fastapi.sh
Labels: relnotes-fix

#10962 Do not evaluate annotations for private fields
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_typing_extra.py
  tests/test_forward_ref.py
Labels: relnotes-fix

#10972 Fix type hint of `Field.default` to be compatible with Python 3.8 and 3.9
  pydantic/fields.py
Labels: relnotes-fix

#10975 hashing support for urls
  pydantic/networks.py
  tests/test_networks.py
Labels: relnotes-fix

#10979 Hide `BaseModel.__replace__` definition from type checkers
  pydantic/main.py
Labels: relnotes-fix

#10982 Prepare for v2.10.2 release
  CITATION.cff
  HISTORY.md
  pydantic/version.py
  uv.lock
Labels: relnotes-packaging

#10980 Update ruff to 0.8.0
  pydantic/_internal/_decorators.py
  pydantic/fields.py
  pydantic/main.py
  pyproject.toml
  tests/test_main.py
  uv.lock
Labels: relnotes-fix
