Repository pydantic/pydantic, pull requests merged in 2024-07, with the labels that each got.

#9806 Prep for v2.8 release
  HISTORY.md
  pydantic/version.py
Labels: relnotes-ignore

#9809 Hooky - switch to reviewers, labeler, fix ci bug
  .github/workflows/labeler.yml
  pyproject.toml
Labels: relnotes-ignore

#9813 Fix labeler, again
  .github/workflows/labeler.yml
Labels: relnotes-ignore

#9812 Fix breaking change in `to_snake` from v2.7 -> v2.8
  pydantic/alias_generators.py
  pyproject.toml
  tests/test_utils.py
Labels: relnotes-fix

#9801 Bump `ruff` to `v0.5.0` and `pyright` to `v1.1.369`
  .github/actions/people/people.py
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pdm.lock
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_validators.py
  pyproject.toml
Labels: relnotes-packaging

#9787 Respect use_enum_values on Literal types
  pydantic/_internal/_generate_schema.py
  tests/test_main.py
Labels: awaiting author revision, relnotes-fix

#9818 Fix list constraint json schema application
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/_internal/_validators.py
  tests/test_json_schema.py
Labels: relnotes-fix

#9792 Breaking Change: Merge `dict` type `json_schema_extra`
  docs/concepts/json_schema.md
  pydantic/fields.py
  tests/test_json_schema.py
Labels: relnotes-change

#9822 Pedantic typo correction within explanation of Pydantic's root in 'pedantic' in index.md
  docs/index.md
Labels: ready for review, relnotes-fix

#9824 Remove spooky meetings file
  meetings.md
Labels: relnotes-ignore

#9832 Bump `pydantic-core` to `v2.20.1`, `pydantic-extra-types` to `v2.9.0`
  pdm.lock
  pyproject.toml
  tests/test_datetime.py
Labels: relnotes-packaging

#9831 docs: Add documentation for Semantic Version and Timezone Name
  docs/api/pydantic_extra_types_semantic_version.md
  docs/api/pydantic_extra_types_timezone_name.md
  mkdocs.yml
Labels: documentation, ready for review

#9833 Try adding coverage comment
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  pyproject.toml
Labels: relnotes-ignore

#9764 Fix #9706 PathLike with subtype
  pydantic/_internal/_std_types_schema.py
  tests/test_types.py
Labels: awaiting author revision, relnotes-fix

#9838 Fix issue with assertion caused by pluggable schema validator
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_mock_val_ser.py
  pydantic/main.py
  pydantic/plugin/_schema_validator.py
  pydantic/type_adapter.py
  tests/test_plugins.py
Labels: relnotes-fix

#9844 Update history, bump version to alpha on `main`
  HISTORY.md
  pydantic/aliases.py
  pydantic/config.py
  pydantic/dataclasses.py
  pydantic/fields.py
  pydantic/functional_validators.py
  pydantic/json_schema.py
  pydantic/main.py
  pydantic/plugin/__init__.py
  pydantic/root_model.py
  pydantic/type_adapter.py
  pydantic/types.py
  pydantic/validate_call_decorator.py
  pydantic/version.py
Labels: relnotes-ignore

#9903 Update changelog to reflect breaking changes regarding PEP 570
  HISTORY.md
Labels: relnotes-ignore

#9848 Update functional_serializers.py Typo in Docs Example Simple Fix
  pydantic/functional_serializers.py
Labels: documentation

#9839 ⚡️ Speed up `multiple_of_validator()` by 31% in `pydantic/_internal/_validators.py`
  pydantic/_internal/_validators.py
Labels: relnotes-fix

#9900 chore(ci): remove `{{ matrix.os }}` from names of coverage artifacts pertaining to `test-mypy`
  .github/workflows/ci.yml
Labels: relnotes-ignore

#9841 ⚡️ Speed up `ModelPrivateAttr.__set_name__()` by 18% in `pydantic/fields.py`
  pydantic/fields.py
Labels: relnotes-fix

#9913 Prevent type error for exotic BaseModel/RootModel inheritance
  pydantic/mypy.py
  tests/mypy/modules/plugin_success.py
  tests/mypy/outputs/1.0.1/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.0.1/mypy-plugin-strict_ini/plugin_success.py
  tests/mypy/outputs/1.0.1/pyproject-plugin-strict_toml/plugin_success.py
  tests/mypy/outputs/1.1.1/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.2.0/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.4.1/mypy-default_ini/plugin_success.py
Labels: relnotes-fix

#9914 Fix typing issue with field_validator-decorated methods
  pydantic/functional_validators.py
  tests/mypy/modules/success.py
  tests/mypy/outputs/1.0.1/mypy-default_ini/success.py
  tests/mypy/outputs/1.0.1/pyproject-default_toml/success.py
Labels: relnotes-fix

#9885 Replace str type annotation with Any in validator factories in documentation on validators
  docs/concepts/validators.md
Labels: ready for review, relnotes-fix

#9843 ⚡️ Speed up `dataclass()` by 7% in `pydantic/dataclasses.py`
  pydantic/dataclasses.py
Labels: awaiting author revision, relnotes-performance

#9892 Fix `ComputedFieldInfo.wrapped_property` pointer when a property setter is assigned
  pydantic/_internal/_decorators.py
  tests/test_computed_fields.py
Labels: ready for review, relnotes-fix

#9924 typing: fix recursive typing of `main.IncEnx`
  pydantic/main.py
Labels: relnotes-fix

#9932 Allow usage of `type[Annotated[...]]`
  pydantic/_internal/_generate_schema.py
  tests/test_edge_cases.py
Labels: relnotes-fix

#9935 Handle frozen fields on a per-field basis
  pydantic/mypy.py
  tests/mypy/modules/frozen_field.py
  tests/mypy/outputs/1.0.1/mypy-plugin_ini/frozen_field.py
  tests/mypy/test_mypy.py
Labels: relnotes-fix

#9941 Adding new schema building benchmark
  tests/benchmarks/test_schema_build.py
Labels: relnotes-ignore

#9945 Fix a typo on Validators doc page
  docs/concepts/validators.md
Labels: documentation, ready for review

#9896 Add support for ZoneInfo
  pdm.lock
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_typing_extra.py
  pydantic/types.py
  pyproject.toml
  tests/test_types_zoneinfo.py
Labels: awaiting author revision, relnotes-fix

#9958 Fix _field_name_for_signature docstring
  pydantic/_internal/_signature.py
Labels: relnotes-ignore

#9948 Fix typo in `invalid-annotated-type` error code
  .gitignore
  docs/errors/usage_errors.md
  pydantic/errors.py
  pydantic/types.py
Labels: relnotes-fix

#9959 Simplify IP address schema in `_std_types_schema.py`
  pydantic/_internal/_std_types_schema.py
  pydantic/_internal/_validators.py
Labels: relnotes-fix

#9961 Fix type annotations for some potentially generic `GenerateSchema.match_type` options
  pydantic/_internal/_generate_schema.py
Labels: relnotes-fix

#9960 `Counter` is handled as a mapping, not a sequence, fix `SequenceValidator` accordingly
  pydantic/_internal/_std_types_schema.py
Labels: relnotes-ignore

#9964 Add class name to "has conflict" warnings
  pydantic/_internal/_fields.py
  pydantic/config.py
  tests/test_create_model.py
  tests/test_main.py
Labels: relnotes-fix

#9963 Move enum schema gen to `_generate_schema.py` for consistency
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_std_types_schema.py
Labels: relnotes-ignore

#9949 ⚡️ Speed up method `GenerateSchema._unpack_refs_defs` by 26% in `pydantic/_internal/_generate_schema.py`
  pydantic/_internal/_generate_schema.py
Labels: relnotes-performance

#9972 Changed `BaseModel.model_validate_json` raises docstring to mention `ValidationError` instead of `ValueError`
  pydantic/main.py
Labels: documentation

#9971 Fix dataclass ignoring default_factory passed in Annotated
  pydantic/fields.py
  tests/test_dataclasses.py
Labels: awaiting author revision, relnotes-fix

#9975 Simplify schema generation for uuid, url, and ip types
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_std_types_schema.py
Labels: relnotes-performance

#9976 Move date schemas to `_generate_schema.py`
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/_internal/_std_types_schema.py
Labels: relnotes-performance

#9984 chore: fix entry in `.gitignore` to let `make format` work correctly
  .gitignore
Labels: relnotes-fix

#9980 Fix Sequence ignoring discriminator
  pydantic/_internal/_generate_schema.py
  tests/test_discriminated_union.py
Labels: relnotes-fix

#9953 ⚡️ Speed up method `ConfigWrapper.core_config` by 28% in `pydantic/_internal/_config.py`
  pydantic/_internal/_config.py
Labels: awaiting author revision, relnotes-performance

#9990 Fix typing for `IPvAnyAddress` and `IPvAnyInterface`
  pydantic/networks.py
Labels: relnotes-fix

#9938 Fix false positives on v1 models in mypy plugin for from_orm check requiring from_attributes=True config
  pydantic/mypy.py
  tests/mypy/modules/from_orm_v1_noconflict.py
  tests/mypy/test_mypy.py
Labels: ready for review, relnotes-fix

#9998 Apply `strict=True` to `__init__` in mypy plugin
  pydantic/mypy.py
  tests/mypy/modules/plugin_strict_fields.py
  tests/mypy/outputs/1.0.1/mypy-plugin_ini/plugin_strict_fields.py
  tests/mypy/outputs/1.1.1/mypy-plugin_ini/plugin_strict_fields.py
  tests/mypy/test_mypy.py
Labels: relnotes-fix

#9999 Move annotation compatibility errors to validation phase
  .github/workflows/ci.yml
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/_internal/_validators.py
  tests/test_forward_ref.py
  tests/test_types.py
  tests/test_types_self.py
Labels: relnotes-change

#10007 Add import / isinstance benchmarks
  tests/benchmarks/test_imports.py
  tests/benchmarks/test_isinstance.py
Labels: relnotes-ignore

#10009 Initial start at improving import times for modules, using caching primarily
  pydantic/__init__.py
Labels: relnotes-performance
