Repository pydantic/pydantic, pull requests merged in 2024-02, with the labels that each got.

#8679 Fix inheriting annotations in dataclasses
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Labels: ready for review, relnotes-fix

#8702 Fix regression in core schema generation for indirect definition references
  pydantic/_internal/_core_utils.py
  tests/test_discriminated_union.py
Labels: relnotes-fix

#8715 alpha version bump - 2.7.0a1
  pydantic/aliases.py
  pydantic/config.py
  pydantic/dataclasses.py
  pydantic/fields.py
  pydantic/functional_validators.py
  pydantic/json_schema.py
  pydantic/main.py
  pydantic/plugin/__init__.py
  pydantic/root_model.py
  pydantic/type_adapter.py
  pydantic/types.py
  pydantic/validate_call_decorator.py
  pydantic/version.py
Labels: relnotes-ignore

#8718 Reverting problematic fix from 2.6 release, fixing schema building bug
  pydantic/_internal/_generate_schema.py
  tests/test_discriminated_union.py
  tests/test_json_schema.py
Labels: ready for review, relnotes-fix

#8740 Add 2.6.1 changes to HISTORY.md
  HISTORY.md
Labels: relnotes-ignore

#8731 Convert one Markdown file from CRLF to LF
  docs/api/pydantic_extra_types_mac_address.md
Labels: ready for review, relnotes-ignore

#8706 Allow an optional separator splitting the value and unit of the result of `ByteSize.human_readable`.
  pydantic/types.py
  tests/test_types.py
Labels: awaiting author revision, relnotes-feature

#8742 Fix minor issue in validator docs
  docs/concepts/validators.md
Labels: relnotes-ignore

#8734 fixes __pydantic_config__ ignored for TypeDict
  pydantic/json_schema.py
  tests/test_json_schema.py
Labels: ready for review, relnotes-fix

#8678 Fix test failures with pytest-8.0.0 due to `pytest.warns()` starting to work inside `pytest.raises()`
  pydantic/deprecated/class_validators.py
  tests/test_validators.py
Labels: ready for review, relnotes-fix

#8750 Add missing word in `json_schema.py` module docstring
  pydantic/json_schema.py
Labels: relnotes-ignore

#8738 Use ``is_valid_field`` from 1.x for ``mypy`` plugin
  pydantic/v1/mypy.py
Labels: ready for review, relnotes-fix

#8763 Docs improvements for the week
  docs/help_with_pydantic.md
  pydantic/type_adapter.py
Labels: ready for review, relnotes-ignore

#8519 Add Secret base type
  docs/api/types.md
  docs/examples/secrets.md
  pydantic/__init__.py
  pydantic/types.py
  tests/test_types.py
Labels: ready for review, relnotes-feature

#8775 Add 1.10.14 changes to HISTORY.md
  HISTORY.md
Labels: ready for review, relnotes-ignore

#8799 Better-support mypy strict equality flag
  pydantic/main.py
  tests/mypy/configs/pyproject-plugin-strict-equality.toml
  tests/mypy/modules/strict_equality.py
  tests/mypy/outputs/1.0.1/pyproject-plugin-strict-equality_toml/strict_equality.py
  tests/mypy/test_mypy.py
Labels: mypy, relnotes-fix

#8801 Fix default inclusion in `FieldInfo.__repr_args__`
  pydantic/fields.py
  tests/test_fields.py
  tests/test_forward_ref.py
Labels: ready for review, relnotes-fix

#8767 Environment variable to disable plugins
  docs/concepts/plugins.md
  pydantic/plugin/_loader.py
  tests/test_plugin_loader.py
Labels: ready for review, relnotes-feature

#8751 Fix resolution of forward refs in dataclass base classes that are not present in the subclass module namespace
  pydantic/_internal/_generate_schema.py
  tests/test_dataclasses.py
Labels: ready for review, relnotes-fix

#7680 Fix BaseModel type annotations to be resolvable by typing.get_type_hints
  pydantic/main.py
  pydantic/root_model.py
  tests/test_type_hints.py
Labels: ready for review, relnotes-fix

#8805 Remaining type hinting suggestions
  pydantic/main.py
  tests/test_type_hints.py
Labels: ready for review, relnotes-ignore

#8806 Fix usage of `AliasGenerator` with `computed_field` decorator
  pydantic/_internal/_generate_schema.py
  tests/test_aliases.py
Labels: ready for review, relnotes-fix

#8810 Fix: allow empty string aliases with `AliasGenerator`
  pydantic/_internal/_generate_schema.py
  tests/test_aliases.py
Labels: ready for review, relnotes-fix

#8819 relax version of typing-extensions
  requirements.txt
Labels: ready for review, relnotes-packaging

#8823 Fix test along with date -> datetime timezone assumption fix
  tests/test_datetime.py
Labels: relnotes-fix

#8824 Minor docs updates for the week
  docs/api/standard_library_types.md
  docs/plugins/conversion_table.py
  pydantic/fields.py
Labels: ready for review, relnotes-ignore

#8827 Remove lig from reviewers
  pyproject.toml
Labels: relnotes-ignore

#8837 Fix deprecation warning with usage of `ast.Str`
  pydantic/_internal/_docs_extraction.py
Labels: relnotes-fix

#8847 Fix link to company announcement in README
  README.md
Labels: relnotes-ignore

#8838 Update `ruff` to `0.2.1`
  pdm.lock
  pydantic/functional_serializers.py
  pydantic/functional_validators.py
  pyproject.toml
  release/make_history.py
Labels: ready for review, relnotes-ignore

#8851 fix link to model_dump_json()
  docs/concepts/json_schema.md
Labels: relnotes-ignore

#8857 Improve error message for improper `RootModel` subclasses
  pydantic/_internal/_model_construction.py
  tests/test_root_model.py
Labels: ready for review, relnotes-change

#8866 update CI badge to use shields.io
  README.md
Labels: documentation

#8826 Fix bug with no_strict_optional=True caused by API deferral
  pydantic/mypy.py
  tests/mypy/modules/no_strict_optional.py
  tests/mypy/outputs/1.0.1/pyproject-plugin-no-strict-optional_toml/no_strict_optional.py
Labels: relnotes-fix

#8877 Add missing `deprecated` decorators
  pydantic/deprecated/class_validators.py
Labels: ready for review, relnotes-fix

#8860 Fix serialization of NameEmail if name includes an email address
  pydantic/networks.py
  tests/test_networks.py
Labels: awaiting author revision, relnotes-fix

#8879 Upgrade `pydantic-core` to 2.16.3
  pdm.lock
  pyproject.toml
  tests/test_datetime.py
Labels: ready for review, relnotes-packaging

#8880 Update HISTORY.md with 2.6.2 info
  HISTORY.md
Labels: ready for review, relnotes-ignore

#8889 Weekly housekeeping with the docs
  docs/concepts/types.md
  docs/concepts/validators.md
Labels: ready for review, relnotes-ignore

#8894 docs: match index.html CI badge to new README
  README.md
  docs/index.md
Labels: documentation, ready for review

#8899 Reorganize `pyproject.toml` sections
  pdm.lock
  pyproject.toml
Labels: relnotes-packaging

#8906 Update pydantic-settings docs
  docs/concepts/pydantic_settings.md
Labels: relnotes-ignore

#8904 Fix discriminated union schema gen bug
  pydantic/_internal/_discriminated_union.py
  tests/test_discriminated_union.py
Labels: relnotes-fix

#8908 Add `v2.6.3` relnotes to history
  HISTORY.md
Labels: ready for review, relnotes-ignore

#8237 Add support for deprecated fields
  docs/concepts/fields.md
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_typing_extra.py
  pydantic/fields.py
  pydantic/version.py
  tests/test_deprecated_fields.py
Labels: ready for review, relnotes-feature

#8923 Make TypeAdapter's typing compatible with special forms
  pydantic/type_adapter.py
Labels: relnotes-fix
