Repository pydantic/pydantic, pull requests merged in 2024-05, with the labels that each got.

#9293 Hide private attributes (`PrivateAttr`) from `__init__` signature in type checkers
  pydantic/_internal/_model_construction.py
  pydantic/dataclasses.py
  pydantic/fields.py
  pydantic/main.py
  pydantic/root_model.py
Labels: ready for review, relnotes-fix

#9362 Logfire annoucement
  docs/theme/announce.html
Labels: relnotes-ignore

#9403 Remove redundant `relnotes-fix`
  .github/labeler.yml
Labels: relnotes-ignore

#9387 Fix duplicate test name
  tests/test_aliases.py
Labels: relnotes-ignore

#9410 added @classmethod to @model_validator(mode='before') in docs and acr…
  docs/concepts/dataclasses.md
  tests/test_dataclasses.py
  tests/test_root_model.py
  tests/test_validators.py
Labels: ready for review, relnotes-ignore

#9405 fix json schema doc link
  docs/concepts/json_schema.md
Labels: ready for review, relnotes-ignore

#9426 Make detection of TypeVar defaults robust to the CPython PEP-696 implementation
  pydantic/_internal/_generate_schema.py
Labels: ready for review, relnotes-fix

#9433 [Docs] Fix ModuleNotFoundError in Pydantic Extra Types
  docs/plugins/main.py
Labels: documentation, relnotes-fix

#9431 docs(fields): fix link to union modes
  pydantic/fields.py
Labels: documentation, relnotes-fix, relnotes-change

#9448 Remove contradicting comment in docstring of `BaseModel.__get_pydantic_core_schema__`
  pydantic/main.py
Labels: relnotes-ignore

#9170 Add warning when set "alias" in low level annontated field
  pydantic/_internal/_fields.py
  tests/test_annotated.py
Labels: ready for review, relnotes-change

#9457 🧪 test: Add more cases in `test_json_schema`
  tests/test_json_schema.py
Labels: relnotes-fix

#9462 📖 docs: Update docs for `NewPath`
  pydantic/types.py
Labels: documentation, ready for review, relnotes-fix

#9470 Increase test coverage of the `fields` module
  tests/test_deprecated_fields.py
Labels: relnotes-fix

#9471 clarify documentation of strip_whitespace
  pydantic/types.py
  tests/test_types.py
Labels: documentation, relnotes-fix

#9468 Annotated tzinfo example
  docs/examples/validators.md
  mkdocs.yml
  tests/test_examples.py
Labels: relnotes-fix

#9475 Fix typo in docs/why.md
  docs/why.md
Labels: ready for review, relnotes-fix

#9476 Fix a bug when setting StringConstraint(strict=False)
  pydantic/types.py
  tests/test_types.py
Labels: ready for review, relnotes-fix

#9298 Implement deprecated field in json schema
  pydantic/json_schema.py
  tests/test_json_schema.py
Labels: awaiting author revision, relnotes-feature

#9479 Use `Self` where possible
  pydantic/main.py
  pydantic/root_model.py
Labels: ready for review, relnotes-fix

#9480 Do not alter `RootModel.model_construct` signature in the mypy plugin
  pydantic/mypy.py
  tests/mypy/modules/root_models.py
  tests/mypy/outputs/1.0.1/mypy-plugin_ini/root_models.py
  tests/mypy/outputs/1.1.1/mypy-default_ini/root_models.py
  tests/mypy/outputs/1.1.1/mypy-plugin_ini/root_models.py
  tests/mypy/outputs/1.1.1/pyproject-default_toml/root_models.py
  tests/mypy/outputs/1.4.1/mypy-default_ini/root_models.py
  tests/mypy/outputs/1.4.1/pyproject-default_toml/root_models.py
Labels: relnotes-fix

#9477 Add Type Adapter Docs example codes & information about dump_json()
  docs/concepts/type_adapter.md
Labels: relnotes-fix

#9500 Fix missing article and comma (docs)
  docs/why.md
Labels: ready for review, relnotes-fix

#9508 Fixed type hint of validation context
  pydantic/main.py
Labels: ready for review, relnotes-fix

#9515 2.7.2 prep
  HISTORY.md
  docs/theme/announce.html
  pdm.lock
  pydantic/__init__.py
  pydantic/_internal/_generate_schema.py
  pydantic/version.py
  pyproject.toml
Labels: ready for review, relnotes-ignore

#9517 Version related housekeeping
  HISTORY.md
  pdm.lock
  pydantic/aliases.py
  pydantic/config.py
  pydantic/dataclasses.py
  pydantic/fields.py
  pydantic/functional_validators.py
  pydantic/json_schema.py
  pydantic/main.py
  pydantic/plugin/__init__.py
  pydantic/root_model.py
  pydantic/type_adapter.py
  pydantic/types.py
  pydantic/validate_call_decorator.py
  pydantic/version.py
  pyproject.toml
Labels: relnotes-ignore, relnotes-fix

#9495 Support context being passed to TypeAdapter's dump_json/dump_python
  pydantic/type_adapter.py
  tests/test_serialize.py
Labels: relnotes-fix

#9484 Updates type signature for Field() constructor
  pydantic/fields.py
Labels: relnotes-fix

#9529 Fix alias documentation
  docs/concepts/alias.md
Labels: documentation, ready for review, relnotes-fix

#9530 fix(docs): correct md link syntax in HISTORY.md
  HISTORY.md
Labels: ready for review, relnotes-fix

#9469 Add testing coverage for pretty_print
  tests/test_utils.py
Labels: awaiting author revision, relnotes-fix

#9531 Annotated tzinfo offset example
  docs/examples/validators.md
  tests/test_examples.py
Labels: relnotes-ignore

#9534 DOC: add reference to TypeAdapter in nested disciminated unions
  docs/concepts/unions.md
Labels: ready for review, relnotes-ignore
