Repository pydantic/pydantic, pull requests merged in 2024-04, with the labels that each got.

#9153 Uprev `pydantic-core`
  pdm.lock
  pyproject.toml
Labels: ready for review, relnotes-packaging

#9157 prep for v1.10.15 release
  HISTORY.md
  pydantic/version.py
Labels: ready for review

#9158 Prep for 2.7 beta release 🚀
  HISTORY.md
  pydantic/v1/v1.py
  pydantic/v1/version.py
  pydantic/version.py
Labels: awaiting author revision, relnotes-ignore

#9161 Add 1.10.15 section to HISTORY.md
  HISTORY.md
Labels: relnotes-ignore

#9193 Fix allow extra generic
  pydantic/_internal/_generate_schema.py
  tests/test_generics.py
Labels: relnotes-fix

#9211 Bump core to 2.18.1
  pdm.lock
  pyproject.toml
Labels: ready for review, relnotes-packaging

#9178 Updating JSON docs, adding `cache_strings` to `ConfigDict`
  docs/concepts/json.md
  pydantic/_internal/_config.py
  pydantic/config.py
Labels: relnotes-ignore

#9212 Prep for 2.7 Release
  HISTORY.md
  pydantic/version.py
Labels: ready for review, relnotes-ignore

#9219 fix tiniest typo in readme
  README.md
Labels: relnotes-ignore

#9223 Fix `validation_alias` behavior with `model_construct` for `AliasChoices` and `AliasPath`
  pydantic/aliases.py
  pydantic/main.py
  tests/test_construction.py
Labels: ready for review, relnotes-fix

#9214 Use field description for RootModel schema description when there is …
  pydantic/_internal/_generate_schema.py
  tests/test_root_model.py
Labels: ready for review, relnotes-change

#9232 Revert typing.Literal and import it outside the TYPE_CHECKING block
  pydantic/_internal/_std_types_schema.py
  pydantic/main.py
Labels: ready for review, relnotes-fix

#9205 Ftp and Websocket connection strings support
  pydantic/__init__.py
  pydantic/networks.py
  tests/test_networks.py
Labels: ready for review, relnotes-feature

#9240 Fix `Secret` serialization schema, applicable for unions
  pydantic/types.py
  tests/test_types.py
Labels: ready for review, relnotes-fix

#9268 docs: make `TypeAdapter` example PEP-8 compliant
  docs/concepts/type_adapter.md
Labels: ready for review, relnotes-ignore

#9262 docs(performance): remove section on literal vs enum performance
  docs/concepts/performance.md
Labels: ready for review, relnotes-ignore

#9279 Fix `strict` application to `function-after` with `use_enum_values`
  pydantic/_internal/_known_annotated_metadata.py
  tests/test_types.py
Labels: ready for review, relnotes-fix

#9168 Address case where model_construct on a class which defines model_post_init fails with AttributeError: __pydantic_private__ when subsequently model_copy'd
  pydantic/main.py
  tests/test_main.py
Labels: ready for review, relnotes-fix

#9296 Fix bullets in Strict Mode docs
  docs/concepts/strict_mode.md
Labels: relnotes-ignore

#9287 Fix model json schema with config types
  pydantic/json_schema.py
  tests/test_json_schema.py
Labels: ready for review, relnotes-fix

#9305 Change CI to use `macos-13` for Python 3.8 and 3.9
  .github/workflows/ci.yml
Labels: ready for review, relnotes-ignore

#9236 adds test case for unexpected discriminated union behavior
  tests/test_discriminated_union.py
Labels: relnotes-ignore

#9288 Move TODO regarding pickling to markdown
  docs/concepts/serialization.md
Labels: ready for review, relnotes-ignore

#9307 2.7.1 release prep
  HISTORY.md
  pdm.lock
  pydantic/version.py
  pyproject.toml
Labels: ready for review, relnotes-packaging

#9294 chore: run `ruff check` explicitly
  Makefile
Labels: relnotes-ignore

#9331 Replace `__spec__.parent` with `__package__`
  pydantic/__init__.py
Labels: relnotes-fix

#9303 Fix Outputted Model JSON Schema for Sequence type
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_known_annotated_metadata.py
  tests/test_json_schema.py
Labels: ready for review, relnotes-fix

#8939 Fix TypeAdapter to respect defer_build
  mkdocs.yml
  pydantic/_internal/_config.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_mock_val_ser.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_typing_extra.py
  pydantic/config.py
  pydantic/json_schema.py
  pydantic/main.py
  pydantic/type_adapter.py
  tests/conftest.py
  tests/test_config.py
  tests/test_main.py
  tests/test_type_adapter.py
Labels: awaiting author revision, relnotes-feature

#9347 Link to Type Adapter documentation in migration guide
  docs/migration.md
Labels: ready for review, relnotes-ignore

#9353 Fix typing of `_frame_depth`
  pydantic/type_adapter.py
Labels: relnotes-fix

#9344 Make ImportString json schema compatible
  pydantic/types.py
  tests/test_json_schema.py
Labels: ready for review, relnotes-fix
