Repository pydantic/pydantic, pull requests merged in 2024-09, with the labels that each got.

#10281 Fix typo in `orgs.toml`
  docs/plugins/orgs.toml
Labels: relnotes-ignore

#10276 Reformat + add some benchmarks for annotated validators
  tests/benchmarks/test_model_schema_generation.py
Labels: relnotes-ignore

#10277 Support signature for wrap validators without `info`
  pydantic/functional_validators.py
  tests/pyright/decorators.py
Labels: type checking, relnotes-fix

#10292 Ensure coverage data artifact is correctly uploaded
  .github/workflows/ci.yml
Labels: relnotes-fix

#10298 Try fix for `coverage` with hidden files
  .github/workflows/ci.yml
Labels: relnotes-ignore

#10291 Ensure `__pydantic_complete__` is set when rebuilding dataclasses
  pydantic/_internal/_dataclasses.py
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Labels: relnotes-fix

#10300 Respect `schema_generator` config value in `TypeAdapter`
  pydantic/type_adapter.py
  tests/test_type_adapter.py
Labels: relnotes-fix

#10301 Add link for complex docs
  pydantic/json_schema.py
Labels: documentation

#10290 Add schema generation benchmarks for models with custom serializers
  tests/benchmarks/test_model_schema_generation.py
Labels: awaiting author revision, relnotes-ignore

#10309 Fix lifecycle docs formatting
  docs/version-policy.md
Labels: documentation

#10311 Prep for v2.9 release
  CITATION.cff
  HISTORY.md
  pdm.lock
  pydantic/version.py
  pyproject.toml
Labels: relnotes-packaging

#10317 Do not check for `str` when using `has_instance_in_type`
  pydantic/_internal/_generate_schema.py
Labels: relnotes-fix

#10321 Fix `Predicate` issue in `v2.9.0`
  pydantic/_internal/_known_annotated_metadata.py
  tests/test_annotated.py
Labels: relnotes-fix

#10303 Don't allow customization of `SchemaGenerator` until interface is more stable
  docs/concepts/json_schema.md
  pydantic/__init__.py
  pydantic/_internal/_config.py
  pydantic/_internal/_generate_schema.py
  pydantic/config.py
  pydantic/type_adapter.py
  tests/conftest.py
  tests/test_config.py
  tests/test_dataclasses.py
  tests/test_main.py
  tests/test_type_adapter.py
  tests/test_types_typeddict.py
Labels: relnotes-performance, relnotes-change

#10318 Support `fractions.Fraction`
  docs/api/standard_library_types.md
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_validators.py
  tests/test_types.py
Labels: relnotes-feature

#10327 Fixing `annotated-types` bound
  pdm.lock
  pyproject.toml
Labels: relnotes-fix

#10324 Support `Hashable` for json validation
  docs/api/standard_library_types.md
  pydantic/_internal/_generate_schema.py
  tests/test_edge_cases.py
Labels: relnotes-feature

#10331 Turn `tzdata` install requirement into optional `timezone` dependency
  .github/workflows/ci.yml
  .hyperlint/styles/config/vocabularies/hyperlint/accept.txt
  docs/install.md
  pdm.lock
  pyproject.toml
Labels: relnotes-fix

#10337 Use correct types namespace when building namedtuple core schemas
  pydantic/_internal/_generate_schema.py
  tests/test_types_namedtuple.py
Labels: relnotes-fix

#10347 Fix evaluation of stringified annotations during namespace inspection
  pydantic/_internal/_model_construction.py
  tests/test_forward_ref.py
Labels: relnotes-fix

#10339 Fix `IncEx` type alias definition
  pdm.lock
  pydantic/main.py
  pydantic/type_adapter.py
  pyproject.toml
Labels: relnotes-fix

#10356 Bump version to alpha on `main`
  pydantic/aliases.py
  pydantic/config.py
  pydantic/dataclasses.py
  pydantic/fields.py
  pydantic/functional_validators.py
  pydantic/json_schema.py
  pydantic/main.py
  pydantic/plugin/__init__.py
  pydantic/root_model.py
  pydantic/type_adapter.py
  pydantic/types.py
  pydantic/validate_call_decorator.py
  pydantic/version.py
Labels: relnotes-packaging

#10358 Do not error when trying to evaluate annotations of private attributes
  pydantic/_internal/_model_construction.py
  tests/test_forward_ref.py
Labels: relnotes-fix

#10338 Simplify unions involving `Any` or `Never` when replacing type variables
  pydantic/_internal/_generics.py
  tests/test_generics.py
Labels: relnotes-fix

#10100 Fix `mro` of generic subclass
  pydantic/_internal/_model_construction.py
  pydantic/main.py
  tests/test_generics.py
Labels: ready for review, relnotes-change

#10372 Improve typing of `ModelMetaclass.mro`
  pydantic/_internal/_model_construction.py
Labels: relnotes-fix

#10393 Add Victorien to the list of authors
  pyproject.toml
Labels: relnotes-fix

#10391 Fix class access of deprecated computed fields
  pydantic/_internal/_model_construction.py
  tests/test_deprecated_fields.py
Labels: relnotes-fix

#10374 Make sure `inspect.iscoroutinefunction` works on coroutines decorated with `@validate_call`
  pydantic/validate_call_decorator.py
  tests/test_validate_call.py
Labels: awaiting author revision, relnotes-fix

#10399 Updating `FieldInfo` note in `create_model` documentation
  pydantic/main.py
Labels: documentation

#10380 Fix `NameError` when using `validate_call` with PEP 695 on a class
  pydantic/_internal/_fields.py
  pydantic/_internal/_validate_call.py
  tests/test_validate_call.py
Labels: awaiting author revision, relnotes-fix

#10400 Adding notes on designing callable discriminators
  docs/concepts/unions.md
Labels: documentation

#10401 Use `create_module` instead of `exec` in tests
  tests/test_validate_call.py
Labels: relnotes-fix

#10404 Strip whitespaces on JSON Schema title generation
  pydantic/json_schema.py
  tests/test_json_schema.py
Labels: change, relnotes-fix

#10405 Fix indentation of first note on mypy documentation page
  docs/integrations/mypy.md
Labels: documentation

#10390 Remove guarding check on computed field with field_serializer
  pydantic/_internal/_decorators.py
  pydantic/_internal/_generate_schema.py
  tests/test_computed_fields.py
  tests/test_serialize.py
Labels: ready for review, relnotes-feature

#10406 Warn if configuration is specified on the `@dataclass` decorator and with the `__pydantic_config__` attribute
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Labels: relnotes-fix

#10408 Fix `ZoneInfo` with various invalid types
  pydantic/_internal/_generate_schema.py
  tests/test_types_zoneinfo.py
Labels: relnotes-fix

#10378 Add a `SocketPath` type for `linux` systems
  pydantic/__init__.py
  pydantic/types.py
  tests/test_types.py
Labels: relnotes-feature

#10412 Fix `PydanticUserError` on empty `model_config` with annotations
  pydantic/_internal/_config.py
  tests/test_config.py
Labels: relnotes-fix

#10414 Fix variance issue in `_IncEx` type alias, only allow `True`
  docs/concepts/serialization.md
  pdm.lock
  pydantic/main.py
  pyproject.toml
  tests/pyright/misc.py
Labels: awaiting author revision, relnotes-fix

#10417 Allow arbitrary refs in JSON schema `examples`
  pydantic/json_schema.py
  tests/test_json_schema.py
Labels: relnotes-feature

#10421 Fix rendering of `StringContraints` example
  pydantic/types.py
Labels: ready for review, relnotes-fix

#10427 Fix serialization schema generation when using `PlainValidator`
  pydantic/functional_validators.py
  tests/test_validators.py
Labels: relnotes-fix

#10429 Add history updates to `main` `HISTORY.md`
  HISTORY.md
Labels: relnotes-ignore

#10313 Support `defer_build` for Pydantic dataclasses
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_model_construction.py
  pydantic/dataclasses.py
  tests/test_config.py
Labels: relnotes-feature

#10431 Adding v1 / v2 incompatibility warning for nested v1 model
  pydantic/_internal/_generate_schema.py
  tests/test_main.py
Labels: relnotes-feature

#10316 Modify schema creation benchmarks to focus on schema building
  pyproject.toml
  tests/benchmarks/test_model_schema_generation.py
Labels: relnotes-ignore

#10444 Fix schema generation error when serialization schema holds references
  pydantic/_internal/_core_utils.py
  tests/test_serialize.py
Labels: relnotes-fix

#10439 Inline references if possible when generating schema for `json_schema_input_type`
  pydantic/functional_validators.py
  tests/test_json_schema.py
Labels: relnotes-fix

#10362 benchmark tagged/untagged unions and stdlib types in schema generation
  tests/benchmarks/shared.py
  tests/benchmarks/test_model_schema_generation.py
Labels: awaiting author revision, relnotes-fix

#10451 Remove unused `mro` argument to `get_cls_type_hints_lenient`
  pydantic/_internal/_typing_extra.py
Labels: relnotes-fix

#10293 Add millisecond option to `ConfigDict.ser_json_timedelta`
  pdm.lock
  pydantic/_internal/_config.py
  pydantic/config.py
  pydantic/json_schema.py
  pydantic/warnings.py
  pyproject.toml
  tests/test_json_schema.py
Labels: relnotes-feature, relnotes-change

#10416 Add support for unpacked `TypedDict` to type hint variadic keyword arguments with `@validate_call`
  docs/errors/usage_errors.md
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_typing_extra.py
  pydantic/errors.py
  tests/test_validate_call.py
Labels: relnotes-feature

#10456 Simplify logic in `collect_model_fields`
  pydantic/_internal/_fields.py
Labels: relnotes-ignore

#10470 test: rename test with duplicate name
  tests/test_json_schema.py
Labels: ready for review, relnotes-fix

#10480 Fix recursive arguments in `Representation`
  pydantic/_internal/_repr.py
  pydantic/main.py
  tests/test_main.py
Labels: relnotes-fix

#10479 Fix representation for builtin function types.
  pydantic/_internal/_repr.py
  tests/test_utils.py
Labels: relnotes-fix

#10491 Add warning re deprecation of `schema_generator`
  pydantic/_internal/_config.py
  pydantic/config.py
  tests/test_config.py
Labels: relnotes-ignore

#10453 docs: More specific `model_post_init` explanation
  docs/concepts/models.md
Labels: documentation

#10503 Simplify dataclass check in `modify_model_json_schema`
  pydantic/_internal/_generate_schema.py
Labels: relnotes-fix

#10493 Using `__pydantic_fields__` and `__pydantic_computed_fields__` under the hood
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/deprecated/copy_internals.py
  pydantic/deprecated/decorator.py
  pydantic/main.py
  pydantic/root_model.py
  tests/test_computed_fields.py
Labels: relnotes-ignore

#10505 Use identity instead of equality in `GenerateSchema`
  pydantic/_internal/_generate_schema.py
Labels: relnotes-ignore

#10455 Improve documentation of `@validate_call()`
  docs/concepts/validation_decorator.md
  docs/errors/usage_errors.md
Labels: documentation

#10286 Schema cleaning: skip unnecessary copies during schema walking
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_discriminated_union.py
Labels: relnotes-performance

#10506 Add python validators for decimal constraints (`max_digits` and `decimal_places`)
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/_internal/_validators.py
  tests/test_annotated.py
  tests/test_internal.py
Labels: relnotes-fix

#10514 Fix handling of `Literal` in `has_instance_in_type`
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_generics.py
  pydantic/_internal/_typing_extra.py
Labels: relnotes-fix

#10518 Only fetch `__pydantic_core_schema__` from the current class during schema generation
  pydantic/_internal/_generate_schema.py
Labels: relnotes-fix

#10520 Fix `stacklevel` on deprecation warnings for `BaseModel`
  pydantic/_internal/_model_construction.py
  pydantic/main.py
Labels: relnotes-fix

#10452 Adding contextualized examples
  docs/examples/custom_validators.md
  docs/examples/files.md
  docs/examples/orms.md
  docs/examples/queues.md
  docs/examples/requests.md
  docs/examples/secrets.md
  mkdocs.yml
  pydantic/types.py
Labels: documentation
