Repository pydantic/pydantic, pull requests merged in 2024-03, with the labels that each got.

#8925 Add `__all__` to `fields.py`, make some utilities not explicitly public
  pydantic/fields.py
Labels: ready for review, relnotes-ignore

#8909 🔧 Add Currency and Language code documentation
  docs/api/pydantic_extra_types_currency_code.md
  docs/api/pydantic_extra_types_language_code.md
  mkdocs.yml
  pdm.lock
Labels: awaiting author revision, relnotes-packaging

#8943 Fix example of `__get_pydantic_json_schema__` to not shade outer scope
  docs/concepts/json_schema.md
Labels: ready for review, relnotes-ignore

#8950 Fix schema build for nested dataclasses / TypedDicts with discriminators
  pydantic/_internal/_discriminated_union.py
  tests/test_discriminated_union.py
Labels: relnotes-fix

#8951 Remove unnecessary logic for definitions schema gen with discriminated unions
  pydantic/_internal/_discriminated_union.py
  tests/test_discriminated_union.py
Labels: relnotes-fix

#8955 Add discriminated union focused performance tests
  tests/benchmarks/test_discriminated_unions.py
Labels: ready for review, relnotes-ignore

#8958 Further schema gen simplification
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_generate_schema.py
Labels: ready for review, relnotes-ignore

#8957 Minor preferential refactor
  pydantic/_internal/_generate_schema.py
  tests/test_deprecated.py
  tests/test_internal.py
Labels: ready for review, relnotes-ignore

#8975 2.6.4 prep
  HISTORY.md
  docs/help_with_pydantic.md
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_discriminated_union.py
  pydantic/_internal/_generate_schema.py
  pydantic/mypy.py
  pydantic/type_adapter.py
  pydantic/version.py
  tests/mypy/modules/no_strict_optional.py
  tests/mypy/outputs/1.0.1/pyproject-plugin-no-strict-optional_toml/no_strict_optional.py
  tests/test_aliases.py
  tests/test_discriminated_union.py
Labels: ready for review, relnotes-ignore

#8991 Add `v2.6.4` Release Notes
  HISTORY.md
Labels: ready for review, relnotes-ignore

#8944 Add enum and type to the JSON schema for single item literals
  pydantic/json_schema.py
  tests/test_dataclasses.py
  tests/test_discriminated_union.py
  tests/test_edge_cases.py
  tests/test_forward_ref.py
  tests/test_generics.py
  tests/test_json_schema.py
  tests/test_types.py
Labels: relnotes-change

#9001 allow field_serializer('*') (fix #8990)
  docs/concepts/serialization.md
  pydantic/_internal/_generate_schema.py
  tests/test_serialize.py
  tests/test_validators.py
Labels: awaiting author revision, relnotes-feature

#9024 Fix `test_assert_raises_validation_error` with pytest-8 (#8995)
  tests/test_validators.py
Labels: ready for review, relnotes-ignore

#9008 Fix handling of optionals in mypy plugin
  pydantic/mypy.py
  tests/mypy/modules/plugin_optional_inheritance.py
  tests/mypy/outputs/1.0.1/mypy-plugin_ini/plugin_optional_inheritance.py
  tests/mypy/outputs/1.0.1/pyproject-plugin_toml/plugin_optional_inheritance.py
  tests/mypy/outputs/1.4.1/mypy-plugin_ini/plugin_optional_inheritance.py
  tests/mypy/outputs/1.4.1/pyproject-plugin_toml/plugin_optional_inheritance.py
  tests/mypy/test_mypy.py
Labels: awaiting author revision, relnotes-fix

#9004 Handle a case when model_config is defined as a model property
  docs/errors/usage_errors.md
  pydantic/_internal/_config.py
  pydantic/errors.py
  tests/test_config.py
Labels: awaiting author revision, relnotes-feature

#9031 Fix `PlainSerializer` usage with std type constructor
  pydantic/_internal/_typing_extra.py
  tests/test_serialize.py
Labels: ready for review, relnotes-fix

#8947 Update create_model() to support typing.Annotated as input
  docs/errors/usage_errors.md
  pydantic/main.py
  tests/test_create_model.py
Labels: ready for review, relnotes-feature

#9045 Enum validator improvements
  pydantic/_internal/_std_types_schema.py
Labels: relnotes-performance

#9058 fix to RootModel documentation
  docs/concepts/models.md
Labels: ready for review, relnotes-ignore

#9066 Fix default value serializing
  pydantic/json_schema.py
  tests/test_json_schema.py
Labels: ready for review, relnotes-fix

#9075 Refresh lockfiles ⬆️
  pdm.lock
Labels: ready for review, relnotes-ignore

#9047 really drop python<=3.7 support
  tests/benchmarks/test_fastapi_startup_generics.py
  tests/benchmarks/test_fastapi_startup_simple.py
Labels: awaiting author revision, relnotes-ignore

#9076 Add a linting integrations section to docs
  docs/integrations/datamodel_code_generator.md
  docs/integrations/linting.md
  mkdocs.yml
Labels: ready for review, relnotes-ignore

#9082 Fix extra fields check in Model.__getattr__()
  pydantic/main.py
  tests/test_fields.py
Labels: ready for review, relnotes-fix

#9078 ci: bump some jobs to Python 3.12
  .github/workflows/ci.yml
  .github/workflows/codspeed.yml
  pdm.lock
  pyproject.toml
Labels: relnotes-ignore

#9064 Move `enum` validation and serialization to Rust
  .gitignore
  docs/concepts/serialization.md
  pdm.lock
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/_internal/_std_types_schema.py
  pydantic/json_schema.py
  pyproject.toml
  tests/test_fastapi.sh
  tests/test_json.py
  tests/test_json_schema.py
  tests/test_types.py
Labels: relnotes-performance

#9053 Add support `re.Pattern[str]` to `pattern` field
  pydantic/fields.py
  pydantic/types.py
  tests/test_types.py
Labels: awaiting author revision, relnotes-feature

#9088 Adding citation file
  CITATION.cff
Labels: awaiting author revision, relnotes-ignore

#8830 Support for `serialize_as_any` runtime setting
  docs/concepts/serialization.md
  pydantic/main.py
  pydantic/root_model.py
  pydantic/type_adapter.py
  tests/test_serialize.py
  tests/test_serialize_as_any.py
Labels: ready for review, relnotes-feature

#9042 Add pydantic.v1 namespace to Pydantic v1
  pydantic/v1.py
  tests/test_v1.py
Labels: ready for review

#9023 Add support for typing.Self (fix #5992)
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_typing_extra.py
  tests/test_types_self.py
Labels: awaiting author revision, relnotes-feature

#8977 fix sequence like validator with strict True
  pydantic/_internal/_std_types_schema.py
  tests/test_main.py
  tests/test_types.py
  tests/test_validate_call.py
Labels: ready for review, relnotes-fix

#9105 Improve warning message when a field name shadows a field in a parent model
  pydantic/_internal/_fields.py
  tests/test_main.py
Labels: ready for review, relnotes-fix

#9110 Docs update for the week (offsite edition)
  docs/concepts/models.md
  docs/integrations/mypy.md
  docs/migration.md
Labels: ready for review, relnotes-ignore

#9111 Do not warn about shadowed fields if they are not redefined in a child class
  pydantic/_internal/_fields.py
  tests/test_main.py
Labels: awaiting author revision, relnotes-fix

#9112 One more docs update - generics, common issue
  docs/concepts/models.md
Labels: ready for review, relnotes-ignore

#8965 Ability to pass context to serialization (fix #7143)
  docs/concepts/serialization.md
  docs/concepts/validators.md
  pydantic/main.py
  pydantic/root_model.py
  tests/test_serialize.py
Labels: ready for review, relnotes-feature

#9121 Add benchmark for schema build time with nested dataclass and model
  tests/benchmarks/test_schema_build.py
Labels: ready for review, relnotes-ignore

#9123 Add benchmark decorators
  tests/benchmarks/test_discriminated_unions.py
  tests/benchmarks/test_schema_build.py
Labels: relnotes-ignore

#9124 Fix discriminated union bug with unsubstituted type var
  pydantic/_internal/_generate_schema.py
  tests/test_discriminated_union.py
Labels: relnotes-fix

#9114 Improve schema gen for nested dataclasses
  pydantic/_internal/_generate_schema.py
  tests/test_dataclasses.py
  tests/test_main.py
Labels: ready for review, relnotes-performance

#9128 Support serialization of `deque` when passed to `Sequence[blah blah blah]`
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_std_types_schema.py
  tests/test_types.py
Labels: ready for review, relnotes-fix

#9125 Remove `update_json_schema` (bad practice func)
  pydantic/_internal/_std_types_schema.py
  pydantic/json_schema.py
Labels: ready for review, relnotes-change

#9129 Add feedback widget to docs with flarelytics integration
  docs/extra/feedback.js
  mkdocs.yml
Labels: relnotes-feature

#9134 Init private attributes from supertypes in `model_post_init`
  pydantic/_internal/_model_construction.py
  tests/test_main.py
Labels: relnotes-fix
