Repository pydantic/pydantic, pull requests merged in 2024-10, with the labels that each got.

#10526 Fix warning stacklevel in `BaseModel.__init__`
  pydantic/main.py
Labels: relnotes-fix

#10522 Support compiled patterns in `protected_namespaces`
  pydantic/_internal/_config.py
  pydantic/_internal/_fields.py
  pydantic/config.py
  tests/test_main.py
Labels: relnotes-feature

#10541 Logfire Annoucement
  README.md
  docs/concepts/json.md
  docs/extra/fluff.js
  docs/extra/tweaks.css
  docs/img/logfire-pydantic-integration.png
  docs/img/rich_pydantic.png
  docs/img/samuelcolvin.jpg
  docs/img/terrencedorsey.jpg
  docs/index.md
  docs/theme/announce.html
  mkdocs.yml
  pydantic/types.py
Labels: documentation

#10535 Adding `logfire` examples to `integrations` page
  docs/img/basic_logfire.png
  docs/img/logfire_instrument.png
  docs/img/logfire_span.png
  docs/integrations/logfire.md
  mkdocs.yml
Labels: documentation

#10534 Eagerly update examples in docs
  README.md
  docs/concepts/json.md
  docs/examples/custom_validators.md
  docs/examples/files.md
  docs/examples/orms.md
  docs/examples/queues.md
  docs/examples/requests.md
  docs/examples/secrets.md
  docs/extra/fluff.js
  docs/extra/tweaks.css
  docs/img/basic_logfire.png
  docs/img/logfire-pydantic-integration.png
  docs/img/logfire_instrument.png
  docs/img/logfire_span.png
  docs/img/rich_pydantic.png
  docs/img/samuelcolvin.jpg
  docs/img/terrencedorsey.jpg
  docs/index.md
  docs/integrations/logfire.md
  docs/theme/announce.html
  mkdocs.yml
  pydantic/types.py
Labels: documentation

#10441 Relax protected namespace config default
  pydantic/_internal/_config.py
  pydantic/config.py
  tests/test_create_model.py
  tests/test_main.py
Labels: relnotes-change

#10542 Adding social previews integration
  docs/contributing.md
  mkdocs.yml
  pdm.lock
  pyproject.toml
Labels: documentation

#10549 Add social previews to most recent docs
  docs/contributing.md
  mkdocs.yml
  pdm.lock
  pyproject.toml
Labels: documentation

#10550 Remove WIP in docs + add note about deploying via the `docs-update` branch
  docs/architecture.md
  docs/concepts/json.md
  docs/contributing.md
  docs/examples/custom_validators.md
  docs/examples/orms.md
  docs/examples/queues.md
  docs/examples/requests.md
Labels: documentation

#10478 Add support for `propertyNames` in JSON schema
  pydantic/json_schema.py
  tests/test_json_schema.py
Labels: relnotes-feature

#10440 Improve error handling for in-evaluable refs for discriminator application
  pydantic/json_schema.py
  tests/test_discriminated_union.py
Labels: relnotes-fix

#10555 Add unit tests for ImportError handling and ValidationError on unbound SocketPath
  tests/test_networks.py
  tests/test_types.py
Labels: ready for review, relnotes-ignore

#10562 Change the signature of `ConfigWrapper.core_config` to take the title directly
  pydantic/_internal/_config.py
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_validate_call.py
Labels: awaiting author revision, relnotes-fix

#10576 Do not use the previous config from the stack for dataclasses without config
  docs/concepts/dataclasses.md
  pydantic/_internal/_generate_schema.py
  tests/test_dataclasses.py
Labels: relnotes-fix

#10568 Add benchmarks for schema generation with pydantic custom types
  tests/benchmarks/shared.py
  tests/benchmarks/test_model_schema_generation.py
Labels: relnotes-fix

#10588 ci: add flag to ignore unrecognised schema types
  pydantic/json_schema.py
Labels: relnotes-ignore

#10594 Fix serialization for IP types with `mode='python'`
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_validators.py
  tests/test_types.py
Labels: relnotes-fix

#10597 Add note to documentation of `PlainValidator` regarding JSON schemas
  pydantic/functional_validators.py
Labels: documentation

#10530 Refactor namespace logic for annotations evaluation
  docs/concepts/experimental.md
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_decorators.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_generics.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_namespace_utils.py
  pydantic/_internal/_schema_generation_shared.py
  pydantic/_internal/_typing_extra.py
  pydantic/_internal/_validate_call.py
  pydantic/annotated_handlers.py
  pydantic/dataclasses.py
  pydantic/fields.py
  pydantic/functional_serializers.py
  pydantic/main.py
  pydantic/type_adapter.py
  pydantic/validate_call_decorator.py
  tests/test_forward_ref.py
  tests/test_typing.py
Labels: relnotes-performance

#10601 Improve email regexp on edge cases
  pydantic/networks.py
  tests/test_networks.py
Labels: ready for review, relnotes-performance, relnotes-fix

#10584 Support constraint application for `Base64Etc` types
  pydantic/types.py
  tests/test_types.py
Labels: relnotes-fix

#10592 Add documentation for annotations resolving
  docs/concepts/forward_annotations.md
  docs/concepts/models.md
  docs/internals/architecture.md
  docs/internals/resolving_annotations.md
  mkdocs.yml
Labels: documentation, ready for review

#10613 Pin the codspeed workflow to Ubuntu 22.04
  .github/workflows/codspeed.yml
Labels: relnotes-fix

#10610 Fix `validate_call` ignoring `Field` in `Annotated`
  pydantic/_internal/_generate_schema.py
  tests/test_validate_call.py
Labels: relnotes-fix

#10602 Add benchmarks for schema generation with recursive models
  tests/benchmarks/shared.py
  tests/benchmarks/test_model_schema_generation.py
  tests/benchmarks/test_model_schema_generation_recursive.py
Labels: relnotes-feature

#10609 Raise an error when `Self` is invalid
  docs/errors/usage_errors.md
  pydantic/_internal/_generate_schema.py
  pydantic/errors.py
  tests/test_types_self.py
Labels: relnotes-fix

#10612 Simplify and cleanup the `test_mypy.py` file
  pydantic/version.py
  tests/mypy/test_mypy.py
  tests/test_dunder_all.py
Labels: relnotes-fix

#10627 Add runtime validation of `@validate_call` callable argument
  docs/errors/usage_errors.md
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_validate_call.py
  pydantic/errors.py
  pydantic/validate_call_decorator.py
  tests/test_validate_call.py
Labels: relnotes-feature

#10523 Using `core_schema.InvalidSchema` instead of metadata injection + checks
  docs/errors/validation_errors.md
  pdm.lock
  pydantic/_internal/_core_utils.py
  pydantic/json_schema.py
  pyproject.toml
  tests/test_internal.py
Labels: ready for review, relnotes-fix

#10633 Tweak internal logic of `ValidateCallWrapper`
  pydantic/_internal/_validate_call.py
Labels: relnotes-ignore

#10643 Tweak type alias logics
  pydantic/_internal/_generate_schema.py
Labels: awaiting author revision, relnotes-fix

#10621 Support usage of `type` with `typing.Self` and type aliases
  pydantic/_internal/_generate_schema.py
  tests/test_edge_cases.py
  tests/test_types_self.py
Labels: relnotes-fix

#10645 Fix deprecation warning in V1 isinstance check
  pydantic/main.py
Labels: ready for review

#10642 Add test for deprecation warning in V1 isinstance check
  tests/test_v1.py
Labels: relnotes-fix

#10650 Rework `mypy` plugin documentation
  Makefile
  docs/integrations/mypy.md
Labels: documentation

#10667 docs: respect system colorscheme
  mkdocs.yml
Labels: ready for review, relnotes-fix

#10661 Recommend against using `Ellipsis` (`...`) with `Field`
  docs/concepts/fields.md
  docs/concepts/json_schema.md
  docs/concepts/models.md
  docs/concepts/serialization.md
  docs/concepts/unions.md
  docs/errors/usage_errors.md
  docs/errors/validation_errors.md
  docs/integrations/datamodel_code_generator.md
  pydantic/fields.py
  tests/benchmarks/test_discriminated_unions.py
  tests/benchmarks/test_model_schema_generation.py
  tests/test_aliases.py
  tests/test_config.py
  tests/test_dataclasses.py
  tests/test_discriminated_union.py
  tests/test_edge_cases.py
  tests/test_forward_ref.py
  tests/test_generics.py
  tests/test_json_schema.py
  tests/test_main.py
  tests/test_model_signature.py
  tests/test_types.py
  tests/test_types_self.py
  tests/test_validate_call.py
  tests/test_validators.py
Labels: relnotes-fix

#10669 Clean up the `mypy` plugin implementation
  pydantic/mypy.py
Labels: relnotes-fix

#10671 Enable `mypy` type checking integration tests in CI
  .github/workflows/ci.yml
  pdm.lock
  pyproject.toml
Labels: relnotes-fix

#10677 Mark mypy integration tests as flaky again in CI
  .github/workflows/ci.yml
Labels: ready for review, relnotes-fix

#10676 Improve string types documentation and add references
  docs/api/standard_library_types.md
Labels: ready for review, relnotes-fix

#10662 Migrate to subclassing instead of annotated approach for pydantic url types
  pdm.lock
  pydantic/networks.py
  pyproject.toml
  tests/test_networks.py
Labels: relnotes-fix

#10666 Revalidate parametrized generics if instance's origin is subclass of OG class
  docs/concepts/models.md
  pydantic/_internal/_generate_schema.py
  tests/test_generics.py
Labels: relnotes-fix, relnotes-change

#10692 Change JSON schema generation of literals and enums
  pydantic/json_schema.py
  tests/test_dataclasses.py
  tests/test_discriminated_union.py
  tests/test_edge_cases.py
  tests/test_forward_ref.py
  tests/test_generics.py
  tests/test_json_schema.py
  tests/test_types.py
Labels: relnotes-fix

#10686 Improve dataclasses documentation
  docs/concepts/dataclasses.md
  docs/concepts/models.md
  docs/concepts/validators.md
Labels: documentation

#10678 Support default factories taking validated data as an argument
  .github/workflows/ci.yml
  docs/concepts/fields.md
  pydantic/_internal/_decorators.py
  pydantic/_internal/_decorators_v1.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_std_types_schema.py
  pydantic/_internal/_utils.py
  pydantic/fields.py
  pydantic/main.py
  pyproject.toml
  tests/test_main.py
Labels: relnotes-fix

#10717 Fix note admonition in mypy integration documentation
  docs/integrations/mypy.md
Labels: ready for review, relnotes-fix

#10712 Use identity instead of equality when possible
  pydantic/_internal/_decorators.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
Labels: relnotes-fix

#10675 `CoreMetadata` refactor with an emphasis on documentation and reducing complexity
  docs/concepts/json_schema.md
  docs/contributing.md
  pydantic/_internal/_core_metadata.py
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/fields.py
  pydantic/functional_validators.py
  pydantic/json_schema.py
  tests/test_fastapi.sh
  tests/test_fastapi_json_schema.py
  tests/test_json_schema.py
  tests/test_titles.py
Labels: relnotes-fix, relnotes-change

#10736 Improve documentation for `validate_email`
  pydantic/networks.py
Labels: documentation, ready for review

#10720 Reverting changes to timedelta settings, will make improvements for v2.11
  pdm.lock
  pydantic/_internal/_config.py
  pydantic/config.py
  pydantic/json_schema.py
  pyproject.toml
  tests/mypy/outputs/1.10.1/mypy-plugin_ini/pydantic_settings.py
  tests/mypy/outputs/1.10.1/pyproject-plugin_toml/pydantic_settings.py
  tests/test_json_schema.py
Labels: relnotes-change

#10740 Fix broken note tag.
  pydantic/functional_validators.py
Labels: ready for review, relnotes-fix, relnotes-feature
