Repository pydantic/pydantic, pull requests merged in 2025-04, with the labels that each got.

#11678 Bump `pydantic-core` to v2.33.1
  pydantic/version.py
  pyproject.toml
  uv.lock
Labels: relnotes-fix, backport-2.11

#11666 Make sure `__pydantic_private__` exists before setting private attributes
  pydantic/main.py
  tests/test_main.py
Labels: relnotes-fix, backport-2.11

#11668 Do not override `FieldInfo._complete` when using field from parent class
  pydantic/_internal/_fields.py
  tests/test_forward_ref.py
Labels: relnotes-fix, backport-2.11

#11676 Do not expand root type in the mypy plugin for variables
  pydantic/mypy.py
  tests/mypy/modules/root_models.py
  tests/mypy/outputs/1.10.1/mypy-default_ini/root_models.py
  tests/mypy/outputs/1.10.1/mypy-plugin_ini/root_models.py
  tests/mypy/outputs/1.10.1/pyproject-default_toml/root_models.py
Labels: relnotes-fix, backport-2.11

#11674 Mention the attribute name in model fields deprecation message
  pydantic/_internal/_utils.py
  tests/test_deprecated.py
Labels: relnotes-fix, backport-2.11

#11658 Properly validate parameterized mappings
  pydantic/_internal/_generate_schema.py
  tests/test_types.py
Labels: relnotes-fix, backport-2.11

#11677 Add integration documentation for llms.txt
  docs/integrations/llms.md
  mkdocs.yml
  uv.lock
Labels: documentation, backport-2.11

#11706 Update V1 copy to v1.10.21
  HISTORY.md
  pydantic/v1/main.py
  pydantic/v1/typing.py
  pydantic/v1/utils.py
  pydantic/v1/version.py
Labels: relnotes-packaging, backport-2.11

#11698 Preserve field description when rebuilding model fields
  pydantic/_internal/_fields.py
  tests/test_fields.py
Labels: relnotes-fix, backport-2.11

#11710 Fix source locations in documentation for external packages
  .github/workflows/ci.yml
  .github/workflows/docs-update.yml
  build-docs.sh
  mkdocs.yml
Labels: relnotes-fix, backport-2.11

#11693 Fix code annotation in `@computed_field` documentation
  docs/concepts/fields.md
Labels: relnotes-ignore, backport-2.11

#11716 Prepare release v2.11.3
  CITATION.cff
  HISTORY.md
  pydantic/version.py
Labels: relnotes-fix

#11695 Fix ImportError message for email-validator
  pydantic/networks.py
  tests/test_networks.py
Labels: relnotes-ignore

#11694 Update project metadata to use PEP 639
  pyproject.toml
Labels: relnotes-packaging

#11714 Allow config and bases to be specified together in `create_model()`
  docs/errors/usage_errors.md
  pydantic/errors.py
  pydantic/main.py
  tests/test_create_model.py
Labels: relnotes-change

#11721 Properly fetch plain serializer function when serializing default value in JSON Schema
  pydantic/json_schema.py
  tests/test_json_schema.py
Labels: relnotes-fix

#11739 Fix typos in documentation
  docs/errors/validation_errors.md
  docs/internals/resolving_annotations.md
Labels: relnotes-ignore

#11722 Remove unecessary note in errors documentation
  docs/errors/validation_errors.md
Labels: documentation, ready for review, relnotes-ignore

#11754 Remove install path from version info
  pydantic/_internal/_git.py
  pydantic/version.py
  tests/test_version.py
Labels: relnotes-ignore, backport-2.11

#11743 Fix race condition in documentation deployment workflow
  .github/workflows/docs-update.yml
Labels: documentation, relnotes-ignore, backport-2.11

#11755 Remove generics cache workaround
  pydantic/main.py
  tests/test_forward_ref.py
  tests/test_generics.py
Labels: relnotes-fix, backport-2.11

#11764 Fix compatibility with `typing-extensions`
  pydantic/typing.py
Labels: relnotes-fix

#11772 Remove coercion of decimal constraints
  pydantic/_internal/_known_annotated_metadata.py
Labels: relnotes-fix, backport-2.11

#11767 Update Pandera third-party tests
  .github/workflows/third-party.yml
Labels: relnotes-fix, third-party-tests

#11735 Fix crash when expanding root type in the mypy plugin
  pydantic/mypy.py
Labels: relnotes-fix, backport-2.11

#11759 Only mark model as complete once all fields are complete
  pydantic/_internal/_model_construction.py
  pydantic/main.py
  tests/test_edge_cases.py
Labels: ready for review, relnotes-fix, third-party-tests

#11719 Add Dify third-party tests
  .github/workflows/third-party.yml
Labels: relnotes-fix, awaiting author response, third-party-tests

#11761 Do not provide `field_name` in validator core schemas
  docs/concepts/types.md
  pydantic/_internal/_generate_schema.py
  pydantic/functional_validators.py
  pydantic/version.py
  pyproject.toml
  tests/test_validators.py
  uv.lock
Labels: relnotes-fix

#11790 Update information about maintainers
  .github/actions/people/people.py
  docs/concepts/experimental.md
  pyproject.toml
  release/README.md
Labels: relnotes-ignore

#11799 Update monthly download count in documentation
  docs/index.md
Labels: documentation, ready for review

#11803 Fix qualified name comparison of private attributes during namespace inspection
  pydantic/_internal/_model_construction.py
  tests/test_private_attributes.py
Labels: ready for review, relnotes-fix

#11762 Add `__pydantic_on_complete__()` hook that is called once model is fully ready to be used
  pydantic/_internal/_model_construction.py
  pydantic/main.py
  tests/test_main.py
Labels: relnotes-feature

#11769 Make sure Pydantic dataclasses with slots and `validate_assignment` can be unpickled
  pydantic/_internal/_dataclasses.py
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Labels: relnotes-fix

#11801 Traverse `function-before` schemas during schema gathering
  pydantic/_internal/_schema_gather.py
  tests/test_json_schema.py
Labels: relnotes-fix, backport-2.11

#11804 Bump `pydantic-core` to v2.33.2
  pydantic/version.py
  pyproject.toml
  uv.lock
Labels: relnotes-fix

#11811 Add documentation note about common pitfall with the annotated pattern
  docs/concepts/fields.md
Labels: documentation, backport-2.11

#11810 Prepare release v2.11.4
  CITATION.cff
  HISTORY.md
  pydantic/version.py
Labels: relnotes-packaging, backport-2.11

#11733 Move some field logic out of the `GenerateSchema` class
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_decorators.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_utils.py
  pydantic/config.py
  pydantic/dataclasses.py
  pydantic/fields.py
  tests/test_aliases.py
  tests/test_computed_fields.py
  tests/test_create_model.py
  tests/test_main.py
Labels: relnotes-change, third-party-tests

#11815 Fix typo in documentation
  docs/concepts/experimental.md
Labels: documentation, relnotes-ignore
