Repository pydantic/pydantic, pull requests merged in 2025-03, with the labels that each got.

#11522 fix(docs): correct note in docs examples
  docs/examples/files.md
Labels: documentation

#11520 Support type variable defaults referencing other type variables
  pydantic/_internal/_generics.py
  tests/test_generics.py
Labels: relnotes-fix

#11526 Bump `pydantic-core` to `v2.31.1`, fix related tests
  docs/api/standard_library_types.md
  docs/concepts/strict_mode.md
  docs/concepts/type_adapter.md
  pydantic/version.py
  pyproject.toml
  tests/test_computed_fields.py
  tests/test_construction.py
  tests/test_root_model.py
  tests/test_serialize.py
  tests/test_serialize_as_any.py
  tests/test_validators.py
  uv.lock
Labels: relnotes-performance, relnotes-packaging, third-party-tests

#11529 Release v2.11.0b1
  HISTORY.md
  pydantic/version.py
Labels: relnotes-packaging

#11516 Add experimental support for free threading
  .github/workflows/ci.yml
  Makefile
  pydantic/_internal/_generics.py
  pyproject.toml
  tests/conftest.py
  tests/test_aliases.py
  tests/test_annotated.py
  tests/test_config.py
  tests/test_construction.py
  tests/test_deprecated.py
  tests/test_deprecated_validate_arguments.py
  tests/test_discriminated_union.py
  tests/test_docs.py
  tests/test_exports.py
  tests/test_generics.py
  tests/test_plugins.py
  tests/test_types.py
  tests/test_utils.py
  tests/test_v1.py
  tests/test_validators.py
  tests/test_version.py
  uv.lock
Labels: relnotes-feature

#11547 Suggest using `prop-decorator` error code to ignore mypy errors with `@computed_field`
  pydantic/fields.py
Labels: relnotes-ignore

#11559 Fix `NotRequired` qualifier not taken into account in stringified annotation
  pydantic/_internal/_generate_schema.py
  tests/test_types_typeddict.py
Labels: relnotes-fix

#11568 Update documentation of `allow_inf_nan`
  pydantic/fields.py
Labels: documentation

#11567 Bump `pydantic-core` to v2.32.0
  pydantic/json_schema.py
  pydantic/version.py
  pyproject.toml
  tests/test_json_schema.py
  uv.lock
Labels: relnotes-fix

#11571 Allow generic typed dictionaries to be used for unpacked variadic keyword parameters
  pydantic/_internal/_generate_schema.py
  tests/test_validate_call.py
Labels: relnotes-fix

#11562 Briefly describe arguments for `model.model_dump()`
  docs/concepts/serialization.md
Labels: documentation, ready for review

#11580 Add `encoded_string()` method to the URL types
  pydantic/networks.py
  tests/test_networks.py
Labels: relnotes-feature

#11579 Fix runtime error when computing model string representation involving cached properties and self-referenced models
  pydantic/main.py
  tests/test_main.py
Labels: relnotes-fix

#11584 Add support for `defer_build` with `@validate_call` decorator
  pydantic/_internal/_validate_call.py
  tests/test_validate_call.py
Labels: relnotes-fix

#11611 Fix inaccurate docstring example in `_BaseMultiHostUrl.query_params()`
  pydantic/networks.py
Labels: documentation, relnotes-ignore

#11626 Preserve other steps when using the ellipsis in the pipeline API
  pydantic/experimental/pipeline.py
  tests/test_pipeline.py
Labels: relnotes-fix

#11591 Fix deferred discriminator application logic
  pydantic/_internal/_generate_schema.py
  tests/test_discriminated_union.py
Labels: relnotes-fix

#11608 Allow `@with_config` decorator to be used with keyword arguments
  pydantic/config.py
  tests/test_config.py
  tests/typechecking/with_config_decorator.py
Labels: relnotes-fix

#11629 Disable third-party workflow issue report
  .github/workflows/third-party.yml
Labels: relnotes-ignore

#11578 Add support for extra keys validation for models
  pydantic/_internal/_generate_schema.py
  tests/test_main.py
Labels: feature request

#11632 Add `mkdocs-llmstxt` documentation plugin
  README.md
  docs/index.md
  docs/plugins/build_llms_txt.py
  mkdocs.yml
  pyproject.toml
  uv.lock
Labels: documentation

#11572 Add `generate_arguments_schema()` function
  docs/api/experimental.md
  docs/concepts/experimental.md
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_schema_gather.py
  pydantic/experimental/arguments_schema.py
  tests/test_experimental_arguments_schema.py
Labels: relnotes-fix

#11635 Prepare release v2.11.0
  CITATION.cff
  HISTORY.md
  pydantic/version.py
Labels: relnotes-fix

#11643 Fix small typos
  HISTORY.md
  pydantic/_internal/_generics.py
  pydantic/dataclasses.py
  tests/test_forward_ref.py
Labels: relnotes-ignore

#11644 Do not override `'definitions-ref'` schemas containing serialization schemas or metadata
  pydantic/_internal/_generate_schema.py
  tests/test_type_alias_type.py
Labels: relnotes-fix

#11648 Prepare release v2.11.1
  CITATION.cff
  HISTORY.md
  pydantic/version.py
Labels: relnotes-fix
