Repository pydantic/pydantic, pull requests merged in 2025-02, with the labels that each got.

#11367 Use the correct JSON Schema mode when handling function schemas
  pydantic/json_schema.py
Labels: relnotes-fix

#11366 Fix JSON Schema reference logic with `examples` keys
  pydantic/json_schema.py
Labels: relnotes-fix

#11354 Fix code annotation in strict mode documentation
  docs/concepts/fields.md
Labels: documentation

#11373 Enable pytest colored output in CI
  .github/workflows/ci.yml
Labels: relnotes-ignore

#11356 Improve exception message when encountering recursion errors during type evaluation
  pydantic/_internal/_typing_extra.py
  tests/test_forward_ref.py
Labels: relnotes-fix

#11355 Improve documentation about type aliases
  docs/concepts/types.md
Labels: documentation

#11403 use locally-built rust with symbols & pgo
  .github/workflows/codspeed.yml
Labels: relnotes-fix

#11384 Create a single dictionary when creating a `CoreConfig` instance
  pydantic/_internal/_config.py
Labels: relnotes-performance

#11412 Add benchmark for failed model rebuild
  tests/benchmarks/shared.py
  tests/benchmarks/test_model_schema_generation.py
Labels: relnotes-ignore

#11393 Update ecosystem usage documentation
  docs/plugins/using.toml
Labels: relnotes-ignore

#11409 Fix type hints involving `typevars_map`
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_generics.py
  pydantic/fields.py
Labels: relnotes-ignore

#11392 Always include `additionalProperties: True` for arbitrary dictionary schemas
  pydantic/json_schema.py
  tests/test_json_schema.py
  tests/test_types.py
Labels: ready for review, relnotes-fix

#11398 Expose `fallback` parameter in serialization methods
  pydantic/main.py
  pydantic/type_adapter.py
  tests/test_serialize.py
Labels: relnotes-fix

#11407 Bump ruff from 0.9.2 to 0.9.5
  docs/concepts/types.md
  uv.lock
Labels: relnotes-packaging

#11416 Fix path serialization behavior
  pydantic/_internal/_generate_schema.py
  tests/test_types.py
Labels: relnotes-fix

#11394 Update configuration documentation
  docs/concepts/config.md
  docs/concepts/models.md
  pydantic/config.py
Labels: documentation

#11402 Bump `pydantic-core` to v2.29.0
  docs/errors/validation_errors.md
  pydantic/version.py
  pyproject.toml
  uv.lock
Labels: relnotes-performance

#11418 Fix typo in `set_item_not_hashable` error documentation
  docs/errors/validation_errors.md
Labels: documentation, third-party-tests

#11425 Prepare release v2.11.0a2
  HISTORY.md
  pydantic/version.py
Labels: relnotes-ignore

#11388 Collect model fields when rebuilding a model
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_generics.py
  pydantic/_internal/_model_construction.py
  pydantic/fields.py
  pydantic/main.py
  tests/test_deprecated_fields.py
  tests/test_forward_ref.py
  tests/test_generics.py
Labels: relnotes-fix, third-party-tests

#11432 Allow cached properties to be altered on frozen models
  pydantic/main.py
  tests/test_main.py
Labels: relnotes-fix

#11435 Fix tuple serialization for `Sequence` types
  pydantic/_internal/_serializers.py
  tests/test_types.py
Labels: relnotes-fix

#11427 Improve release automation process
  pyproject.toml
  release/README.md
  release/make_history.py
  release/prepare.py
  release/push.py
  release/shared.py
Labels: ready for review, relnotes-packaging

#11434 Reuse cached core schemas for parametrized generic Pydantic models
  pydantic/_internal/_generate_schema.py
  pydantic/main.py
Labels: ready for review, relnotes-performance, third-party-tests

#11442 Integrate Algolia through UI replacement
  .github/workflows/docs-update.yml
  Makefile
  docs/extra/algolia.js
  docs/extra/tweaks.css
  docs/plugins/algolia.py
  docs/theme/partials/search.html
  mkdocs.yml
  pyproject.toml
  uv.lock
Labels: relnotes-fix

#11452 Fix algolia workflow
  .github/workflows/docs-update.yml
Labels: relnotes-fix

#11459 Improve error thrown when overriding field with a property
  pydantic/_internal/_fields.py
  pydantic/fields.py
  tests/test_computed_fields.py
Labels: relnotes-fix

#11469 Add BentoML and Semantic Kernel third-party tests
  .github/workflows/third-party.yml
Labels: relnotes-fix, third-party-tests

#11474 Adding `langchain` third party tests
  .github/workflows/third-party.yml
Labels: relnotes-fix, third-party-tests

#11475 Fix JSON Schema generation with referenceable core schemas holding JSON metadata
  docs/concepts/types.md
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_typing_extra.py
  pydantic/fields.py
  pydantic/json_schema.py
  tests/test_json_schema.py
  tests/test_type_alias_type.py
Labels: relnotes-fix

#11486 Only run documentation build hooks in CI
  docs/plugins/algolia.py
  docs/plugins/build_llms_txt.py
Labels: documentation, relnotes-ignore

#11487 Fix workflow conditionals syntax
  .github/workflows/ci.yml
  .github/workflows/docs-update.yml
Labels: relnotes-ignore

#11488 Bump `pydantic-core` to v2.30.0
  pyproject.toml
  uv.lock
Labels: relnotes-packaging

#11481 Support strict specification on union member types
  pydantic/_internal/_generate_schema.py
  pydantic/types.py
  tests/test_types.py
Labels: relnotes-fix

#11436 Add support for validating v6, v7, v8 UUIDs
  pydantic/__init__.py
  pydantic/types.py
Labels: relnotes-feature

#11473 Improve errors documentation
  docs/errors/errors.md
Labels: documentation

#11468 Improve alias configutation APIs
  docs/concepts/alias.md
  docs/concepts/fields.md
  docs/concepts/serialization.md
  docs/errors/usage_errors.md
  docs/integrations/mypy.md
  docs/migration.md
  pydantic/_internal/_config.py
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_signature.py
  pydantic/config.py
  pydantic/errors.py
  pydantic/json_schema.py
  pydantic/main.py
  pydantic/mypy.py
  pydantic/plugin/__init__.py
  pydantic/root_model.py
  pydantic/type_adapter.py
  tests/mypy/modules/metaclass_args.py
  tests/mypy/modules/plugin_fail.py
  tests/mypy/modules/plugin_fail_baseConfig.py
  tests/mypy/modules/plugin_success.py
  tests/mypy/outputs/1.10.1/mypy-default_ini/metaclass_args.py
  tests/mypy/outputs/1.10.1/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.10.1/mypy-plugin-strict_ini/plugin_fail.py
  tests/mypy/outputs/1.10.1/mypy-plugin-strict_ini/plugin_fail_baseConfig.py
  tests/mypy/outputs/1.10.1/mypy-plugin-strict_ini/plugin_success.py
  tests/mypy/outputs/1.10.1/mypy-plugin-very-strict_ini/metaclass_args.py
  tests/mypy/outputs/1.10.1/mypy-plugin_ini/plugin_fail.py
  tests/mypy/outputs/1.10.1/mypy-plugin_ini/plugin_fail_baseConfig.py
  tests/mypy/outputs/1.10.1/pyproject-plugin-strict_toml/plugin_fail.py
  tests/mypy/outputs/1.10.1/pyproject-plugin-strict_toml/plugin_fail_baseConfig.py
  tests/mypy/outputs/1.10.1/pyproject-plugin-strict_toml/plugin_success.py
  tests/mypy/outputs/1.10.1/pyproject-plugin_toml/plugin_fail.py
  tests/mypy/outputs/1.10.1/pyproject-plugin_toml/plugin_fail_baseConfig.py
  tests/test_aliases.py
  tests/test_computed_fields.py
  tests/test_config.py
  tests/test_deprecated_validate_arguments.py
  tests/test_discriminated_union.py
  tests/test_main.py
  tests/test_model_signature.py
  tests/test_networks.py
  tests/test_plugins.py
  tests/test_types.py
  tests/test_validate_call.py
Labels: relnotes-feature, relnotes-change, third-party-tests

#11498 Move `test_repeated_custom_type()` test to a correct location
  tests/test_edge_cases.py
  tests/test_json_schema.py
Labels: relnotes-ignore

#11502 Run Beanie third-party tests on a single Python version
  .github/workflows/third-party.yml
Labels: relnotes-fix

#11503 Implicitly set `validate_by_name` to `True` when `validate_by_alias` is `False`
  pydantic/_internal/_config.py
  pydantic/config.py
  tests/test_config.py
Labels: relnotes-fix

#11507 Fix no cover coverage branches
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_docs_extraction.py
  pydantic/_internal/_git.py
Labels: relnotes-fix

#11497 Change type of `Any` when synthesizing `BaseSettings.__init__` signature in the mypy plugin
  pydantic/mypy.py
Labels: relnotes-fix

#11479 Use the `typing-inspection` library
  .github/workflows/third-party.yml
  pydantic/__init__.py
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_generics.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_repr.py
  pydantic/_internal/_typing_extra.py
  pydantic/_internal/_validators.py
  pydantic/errors.py
  pydantic/fields.py
  pydantic/json_schema.py
  pydantic/types.py
  pyproject.toml
  tests/test_dataclasses.py
  tests/test_errors.py
  tests/test_main.py
  tests/test_model_signature.py
  tests/test_types_typeddict.py
  tests/test_typing.py
  tests/test_utils.py
  uv.lock
Labels: relnotes-fix, third-party-tests
