Repository pydantic/pydantic, pull requests merged in 2025-06, with the labels that each got.

#11928 Cleanup `core_schema` import in `functional_validators.py`
  pydantic/functional_validators.py
Labels: relnotes-ignore

#11949 Rebuild dataclass fields before schema generation
  .github/workflows/third-party.yml
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Labels: relnotes-fix, third-party-tests, backport-2.11

#11946 Always store the original field assignment on `FieldInfo`
  pydantic/_internal/_fields.py
  tests/test_forward_ref.py
Labels: relnotes-fix, third-party-tests, backport-2.11

#11954 Improve `PlainValidator` example
  docs/migration.md
  pydantic/functional_validators.py
Labels: relnotes-ignore

#11957 Do not implicitly convert after model validators to class methods
  pydantic/functional_validators.py
  tests/test_model_validator.py
Labels: relnotes-change, third-party-tests

#11974 Prepare release v2.11.6
  CITATION.cff
  HISTORY.md
  pydantic/version.py
Labels: relnotes-fix, backport-2.11

#11981 Prepare release v2.11.7
  CITATION.cff
  HISTORY.md
  pydantic/version.py
Labels: relnotes-fix, backport-2.11

#11898 Refactor `FieldInfo` creation implementation
  pydantic/_internal/_fields.py
  pydantic/fields.py
  tests/test_annotated.py
  tests/test_deprecated_fields.py
  tests/test_discriminated_union.py
  tests/test_fields.py
  tests/test_json_schema.py
  uv.lock
Labels: awaiting author revision, relnotes-fix, relnotes-change, third-party-tests, needs-blogpost-entry

#11982 Add `flake8-pie` Ruff rules
  pydantic/main.py
  pydantic/plugin/__init__.py
  pyproject.toml
  tests/test_docs.py
  tests/test_fields.py
  tests/test_generics.py
  tests/test_serialize.py
  tests/test_titles.py
  tests/test_validators.py
  tests/typechecking/decorators.py
Labels: relnotes-ignore
