Repository pydantic/pydantic, pull requests merged in 2025-01, with the labels that each got.

#11014 Copy `WithJsonSchema` schema to avoid sharing mutated data
  pydantic/json_schema.py
  tests/test_json_schema.py
Labels: ready for review, relnotes-fix

#11206 Fix linting for docs deploy
  .github/workflows/docs-update.yml
Labels: documentation, relnotes-ignore

#10846 Move core schema generation logic for path types inside the `GenerateSchema` class
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_std_types_schema.py
  tests/test_types.py
Labels: relnotes-change, third-party-tests

#10704 Do not cache parametrized models when in the process of parametrizing another model
  pydantic/main.py
  tests/test_forward_ref.py
  tests/test_generics.py
Labels: relnotes-fix, third-party-tests

#11214 Re-enable Beanie third-party tests
  .github/workflows/third-party.yml
Labels: relnotes-fix, third-party-tests

#11213 Reorganize `extra` configuration documentation
  docs/concepts/config.md
  docs/concepts/dataclasses.md
  docs/concepts/models.md
  pydantic/config.py
Labels: documentation

#11228 Change `GenerateJsonSchema.resolve_ref_schema` implementation to not use recursive calls
  pydantic/json_schema.py
Labels: relnotes-ignore

#11229 Simplify logic in `check_validator_fields_against_field_name`
  pydantic/_internal/_generate_schema.py
Labels: relnotes-ignore

#11208 Consolidate schema definitions logic in the `_Definitions` class
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_schema_generation_shared.py
Labels: relnotes-fix

#11227 Fix url serialization for unions
  pydantic/networks.py
  tests/test_networks.py
Labels: relnotes-fix, backport-2.10

#11233 Fix url serialization for unions
  pydantic/networks.py
  tests/test_networks.py
Labels: relnotes-fix

#11237 Prepare release v2.10.5
  CITATION.cff
  HISTORY.md
  pydantic/version.py
  uv.lock
Labels: relnotes-fix

#11239 Move `deque` schema gen to `GenerateSchema` class
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_std_types_schema.py
  pydantic/_internal/_validators.py
  tests/test_types.py
Labels: relnotes-fix

#11247 Move `Mapping` schema gen to `GenerateSchema` to complete removal of `prepare_annotations_for_known_type` workaround
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_std_types_schema.py
  pydantic/_internal/_validators.py
  tests/test_types.py
  uv.lock
Labels: relnotes-performance, relnotes-change, refactor

#11254 Bump `ruff` to v0.9.0
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_typing_extra.py
  pydantic/json_schema.py
  pydantic/type_adapter.py
  tests/benchmarks/basemodel_eq_performance.py
  tests/test_aliases.py
  tests/test_annotated.py
  tests/test_config.py
  tests/test_dataclasses.py
  tests/test_deprecated_validate_arguments.py
  tests/test_discriminated_union.py
  tests/test_edge_cases.py
  tests/test_forward_ref.py
  tests/test_main.py
  tests/test_networks.py
  tests/test_plugins.py
  tests/test_private_attributes.py
  tests/test_root_model.py
  tests/test_serialize.py
  tests/test_tools.py
  tests/test_type_adapter.py
  tests/test_types.py
  tests/test_types_namedtuple.py
  tests/test_types_payment_card_number.py
  tests/test_types_typeddict.py
  tests/test_utils.py
  tests/test_validate_call.py
  uv.lock
Labels: relnotes-packaging

#11255 Improve performance of `_typing_extra` module
  pydantic/_internal/_typing_extra.py
Labels: relnotes-performance

#11246 Fix various issues with dataclasses and `use_attribute_docstrings`
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/config.py
  pydantic/dataclasses.py
  tests/test_docs_extraction.py
Labels: relnotes-fix

#11251 Properly wrap custom `model_post_init` implementation when private attributes are defined
  pydantic/_internal/_model_construction.py
  tests/test_main.py
Labels: documentation, ready for review, relnotes-fix

#10863 Optimize calls to `get_type_ref`
  docs/concepts/json_schema.md
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/main.py
  tests/test_edge_cases.py
  tests/test_main.py
Labels: relnotes-performance, relnotes-change, third-party-tests

#11285 Fix validators documentation example
  docs/concepts/validators.md
Labels: documentation, relnotes-fix

#11275 Add documentation about removal smart_union in v2
  docs/migration.md
Labels: documentation, ready for review

#11302 Fix two misplaced sentences in validation errors documentation
  docs/errors/validation_errors.md
Labels: relnotes-fix

#11301 Enable anchor validation in MkDocs
  mkdocs.yml
Labels: documentation, ready for review

#11310 Add note about mutating values in before validators documentation
  docs/concepts/validators.md
Labels: documentation

#11291 Add documentation about Pydantic Sphinx inventory
  docs/integrations/documentation.md
  mkdocs.yml
Labels: documentation

#11311 Fix mkdocstrings inventory example in documentation
  docs/integrations/documentation.md
Labels: relnotes-fix

#11295 Add support for `validation_alias` in the mypy plugin
  pydantic/mypy.py
  tests/mypy/modules/plugin_success.py
  tests/mypy/modules/plugin_success_baseConfig.py
  tests/mypy/outputs/1.10.1/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.10.1/mypy-default_ini/plugin_success_baseConfig.py
  tests/mypy/outputs/1.10.1/mypy-plugin-strict_ini/plugin_success.py
  tests/mypy/outputs/1.10.1/mypy-plugin-strict_ini/plugin_success_baseConfig.py
  tests/mypy/outputs/1.10.1/pyproject-plugin-strict_toml/plugin_success.py
  tests/mypy/outputs/1.10.1/pyproject-plugin-strict_toml/plugin_success_baseConfig.py
Labels: relnotes-fix

#11305 Fix JSON Schema reference collection with `"examples"` keys
  pydantic/json_schema.py
  tests/test_json_schema.py
Labels: relnotes-fix, backport-2.10

#11271 Disable `pydantic-core` core schema validation
  pydantic/_internal/_core_utils.py
  tests/test_config.py
Labels: relnotes-performance, relnotes-change

#11298 Do not transform model serializer functions as class methods in the mypy plugin
  pydantic/mypy.py
  tests/mypy/modules/decorator_implicit_classmethod.py
  tests/mypy/outputs/1.10.1/mypy-plugin_ini/decorator_implicit_classmethod.py
  tests/mypy/outputs/1.10.1/pyproject-plugin_toml/decorator_implicit_classmethod.py
  tests/mypy/test_mypy.py
Labels: relnotes-fix

#11321 Simplify `GenerateJsonSchema.literal_schema()` implementation
  pydantic/json_schema.py
Labels: relnotes-fix

#11325 Fix JSON Schema reference collection with `"examples"` keys
  pydantic/json_schema.py
  tests/test_json_schema.py
Labels: relnotes-fix

#11331 Fix url python serialization
  pydantic/networks.py
  tests/test_networks.py
Labels: relnotes-fix, backport-2.10

#11333 Regular `uv.lock` deps update
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_generics.py
  uv.lock
Labels: relnotes-packaging

#11334 Bump version to v2.10.6
  CITATION.cff
  HISTORY.md
  pydantic/version.py
Labels: relnotes-ignore

#11319 Add additional allowed schemes for `ClickHouseDsn`
  pydantic/networks.py
  tests/test_networks.py
Labels: ready for review, relnotes-fix

#11332 Properly support type variable defaults
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_generics.py
  pydantic/main.py
  tests/test_generics.py
Labels: relnotes-fix

#11324 Add a `check_pydantic_core_version()` function
  pydantic/version.py
  pyproject.toml
  tests/test_version.py
Labels: relnotes-packaging

#11350 Coerce decimal constraints to `Decimal` instances
  pydantic/_internal/_known_annotated_metadata.py
  tests/test_types.py
Labels: relnotes-fix

#11351 Remove `greenlet` development dependency
  pyproject.toml
  uv.lock
Labels: relnotes-fix

#11244 Refactor and optimize schema cleaning logic
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_discriminated_union.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_schema_gather.py
  pydantic/type_adapter.py
  tests/test_edge_cases.py
  tests/test_generics.py
  tests/test_internal.py
  tests/test_type_alias_type.py
  tests/test_utils.py
Labels: relnotes-fix, third-party-tests

#11364 Bump `pydantic-core` to v2.28.0
  pydantic/version.py
  pyproject.toml
  uv.lock
Labels: relnotes-fix

#11357 Prepare release v2.11.0a1
  HISTORY.md
  pydantic/version.py
Labels: relnotes-packaging

#11369 Fix typo in JSON Schema documentation
  docs/concepts/json_schema.md
Labels: relnotes-fix

#11353 Use `uv run` consistently in Makefile
  Makefile
Labels: relnotes-ignore

#11375 Fix `AllowInfNan` code example formatting
  pydantic/types.py
Labels: relnotes-fix
