Repository pydantic/pydantic, pull requests merged in 2025-07, with the labels that each got.

#11985 Fix Pyright warning
  pydantic/_internal/_dataclasses.py
Labels: relnotes-ignore

#12008 Make `Secret` covariant
  pydantic/types.py
  tests/typechecking/secret.py
Labels: relnotes-change

#11991 Add initial support for Python 3.14
  .github/workflows/ci.yml
  .github/workflows/integration.yml
  docs/migration.md
  pydantic/_internal/_config.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_generics.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_typing_extra.py
  pydantic/dataclasses.py
  pyproject.toml
  tests/test_dataclasses.py
  tests/test_deferred_annotations.py
  tests/test_forward_ref.py
  tests/test_model_signature.py
  tests/test_pickle.py
  tests/test_v1.py
  uv.lock
Labels: relnotes-feature, third-party-tests, needs-blogpost-entry

#11987 Add regex patterns to JSON schema for `Decimal` type
  docs/concepts/json_schema.md
  pydantic/json_schema.py
  tests/test_json_schema.py
Labels: ready for review, awaiting author revision, relnotes-feature

#12050 Migrate branding
  CITATION.cff
  README.md
  docs/extra/tweaks.css
  docs/favicon.png
  docs/index.md
  docs/why.md
  mkdocs.yml
Labels: relnotes-fix

#12028 Emit warning when field-specific metadata is used in invalid contexts
  docs/concepts/types.md
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/functional_validators.py
  pydantic/warnings.py
  tests/test_annotated.py
  tests/test_fields.py
Labels: relnotes-change, third-party-tests, needs-blogpost-entry

#12051 Refactor logic to support Pydantic's `Field()` function in dataclasses
  pydantic/_internal/_dataclasses.py
  pydantic/dataclasses.py
  tests/test_dataclasses.py
  tests/test_deferred_annotations.py
Labels: relnotes-fix, third-party-tests, needs-blogpost-entry

#12077 Add support for `doc` attribute on dataclass fields
  pydantic/_internal/_dataclasses.py
  pydantic/fields.py
  tests/test_dataclasses.py
  tests/test_docs_extraction.py
  tests/test_json_schema.py
Labels: relnotes-feature, needs-blogpost-entry

#12018 Rewrite serialization documentation
  docs/concepts/json.md
  docs/concepts/models.md
  docs/concepts/serialization.md
  docs/concepts/validators.md
  docs/migration.md
  docs/why.md
  pydantic/functional_serializers.py
  pydantic/main.py
  pydantic/version.py
  pyproject.toml
  uv.lock
Labels: documentation

#11883 Add experimental `MISSING` sentinel
  docs/concepts/experimental.md
  docs/errors/validation_errors.md
  pydantic/_internal/_generate_schema.py
  pydantic/experimental/missing_sentinel.py
  pydantic/fields.py
  pydantic/json_schema.py
  pydantic/version.py
  pyproject.toml
  tests/test_missing_sentinel.py
  uv.lock
Labels: relnotes-feature, needs-blogpost-entry
