Repository pydantic/pydantic, pull requests merged in 2025-05, with the labels that each got.

#11822 Fix check for stdlib dataclasses
  docs/concepts/dataclasses.md
  pydantic/_internal/_dataclasses.py
  pydantic/dataclasses.py
  pydantic/json_schema.py
  tests/test_dataclasses.py
Labels: relnotes-fix

#11825 Reduce documentation images size and remove some unused images
  docs/img/vs_code_01.png
  docs/img/vs_code_02.png
  docs/img/vs_code_03.png
  docs/img/vs_code_04.png
  docs/img/vs_code_05.png
  docs/img/vs_code_06.png
  docs/img/vs_code_07.png
  docs/img/vs_code_08.png
  docs/logos/adobe_logo.png
  docs/logos/amazon_logo.png
  docs/logos/anthropic_logo.png
  docs/logos/apple_logo.png
  docs/logos/asml_logo.png
  docs/logos/astrazeneca_logo.png
  docs/logos/cisco_logo.png
  docs/logos/comcast_logo.png
  docs/logos/facebook_logo.png
  docs/logos/github_logo.png
  docs/logos/google_logo.png
  docs/logos/hsbc_logo.png
  docs/logos/ibm_logo.png
  docs/logos/intuit_logo.png
  docs/logos/ipcc_logo.png
  docs/logos/jpmorgan_logo.png
  docs/logos/jupyter_logo.png
  docs/logos/microsoft_logo.png
  docs/logos/molssi_logo.png
  docs/logos/nasa_logo.png
  docs/logos/netflix_logo.png
  docs/logos/nsa_logo.png
  docs/logos/nvidia_logo.png
  docs/logos/openai_logo.png
  docs/logos/oracle_logo.png
  docs/logos/qualcomm_logo.png
  docs/logos/redhat_logo.png
  docs/logos/revolut_logo.png
  docs/logos/salesforce_logo.png
  docs/logos/starbucks_logo.png
  docs/logos/ti_logo.png
  docs/logos/twilio_logo.png
  docs/logos/twitter_logo.png
  docs/logos/ukhomeoffice_logo.png
  docs/sponsor_logos/aws.png
  docs/sponsor_logos/exoflare.png
  docs/sponsor_logos/explosion_ai.png
  docs/sponsor_logos/fastapi.png
  docs/sponsor_logos/jina-ai.png
  docs/sponsor_logos/robusta.png
  docs/sponsor_logos/salesforce.png
  docs/sponsor_logos/sendcloud.png
  docs/sponsor_logos/tutorcruncher.png
Labels: relnotes-fix

#11831 Add docstrings and update type hints in the `people.py` action
  .github/actions/people/people.py
Labels: relnotes-ignore

#11834 Use `typing.Dict` for `BaseModel` annotations
  pydantic/main.py
Labels: ready for review, relnotes-fix

#11840 Install uv while running `family integration` tests
  .github/workflows/integration.yml
Labels: ready for review, relnotes-fix

#11307 Lint Markdown files using markdownlint
  .hyperlint/style_guide_test.md
  .markdownlint.yaml
  .pre-commit-config.yaml
  HISTORY.md
  README.md
  docs/api/experimental.md
  docs/api/standard_library_types.md
  docs/concepts/alias.md
  docs/concepts/config.md
  docs/concepts/dataclasses.md
  docs/concepts/experimental.md
  docs/concepts/fields.md
  docs/concepts/forward_annotations.md
  docs/concepts/json.md
  docs/concepts/json_schema.md
  docs/concepts/models.md
  docs/concepts/serialization.md
  docs/concepts/strict_mode.md
  docs/concepts/type_adapter.md
  docs/concepts/types.md
  docs/concepts/unions.md
  docs/concepts/validators.md
  docs/contributing.md
  docs/errors/errors.md
  docs/errors/usage_errors.md
  docs/errors/validation_errors.md
  docs/examples/custom_validators.md
  docs/examples/files.md
  docs/examples/queues.md
  docs/index.md
  docs/install.md
  docs/integrations/aws_lambda.md
  docs/integrations/datamodel_code_generator.md
  docs/integrations/devtools.md
  docs/integrations/llms.md
  docs/integrations/mypy.md
  docs/integrations/pycharm.md
  docs/internals/architecture.md
  docs/internals/resolving_annotations.md
  docs/migration.md
  docs/version-policy.md
  release/README.md
  tests/mypy/README.md
Labels: documentation

#11829 Always make use of `inspect.getsourcelines()` for docstring extraction on Python 3.13 and greater
  pydantic/_internal/_docs_extraction.py
  pydantic/config.py
  pydantic/dataclasses.py
  tests/test_docs_extraction.py
Labels: relnotes-change

#11856 Ignore Markdown lint commit in git blame
  .git-blame-ignore-revs
Labels: relnotes-ignore

#11858 Improve documentation regarding `json_schema_input_type`
  pydantic/functional_validators.py
Labels: awaiting author revision, relnotes-fix

#11832 Only support the latest Mypy version
  .github/workflows/ci.yml
  Makefile
  docs/integrations/mypy.md
  pyproject.toml
  tests/mypy/README.md
  tests/mypy/outputs/mypy-default_ini/metaclass_args.py
  tests/mypy/outputs/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/mypy-default_ini/plugin_success_baseConfig.py
  tests/mypy/outputs/mypy-default_ini/pydantic_settings.py
  tests/mypy/outputs/mypy-default_ini/root_models.py
  tests/mypy/outputs/mypy-plugin-strict_ini/fail_defaults.py
  tests/mypy/outputs/mypy-plugin-strict_ini/plugin_fail.py
  tests/mypy/outputs/mypy-plugin-strict_ini/plugin_fail_baseConfig.py
  tests/mypy/outputs/mypy-plugin-strict_ini/plugin_success.py
  tests/mypy/outputs/mypy-plugin-strict_ini/plugin_success_baseConfig.py
  tests/mypy/outputs/mypy-plugin-very-strict_ini/metaclass_args.py
  tests/mypy/outputs/mypy-plugin_ini/custom_constructor.py
  tests/mypy/outputs/mypy-plugin_ini/decorator_implicit_classmethod.py
  tests/mypy/outputs/mypy-plugin_ini/frozen_field.py
  tests/mypy/outputs/mypy-plugin_ini/plugin_fail.py
  tests/mypy/outputs/mypy-plugin_ini/plugin_fail_baseConfig.py
  tests/mypy/outputs/mypy-plugin_ini/plugin_optional_inheritance.py
  tests/mypy/outputs/mypy-plugin_ini/plugin_strict_fields.py
  tests/mypy/outputs/mypy-plugin_ini/pydantic_settings.py
  tests/mypy/outputs/mypy-plugin_ini/root_models.py
  tests/mypy/outputs/pyproject-default_toml/pydantic_settings.py
  tests/mypy/outputs/pyproject-default_toml/root_models.py
  tests/mypy/outputs/pyproject-plugin-strict-equality_toml/strict_equality.py
  tests/mypy/outputs/pyproject-plugin-strict_toml/fail_defaults.py
  tests/mypy/outputs/pyproject-plugin-strict_toml/plugin_fail.py
  tests/mypy/outputs/pyproject-plugin-strict_toml/plugin_fail_baseConfig.py
  tests/mypy/outputs/pyproject-plugin-strict_toml/plugin_success.py
  tests/mypy/outputs/pyproject-plugin-strict_toml/plugin_success_baseConfig.py
  tests/mypy/outputs/pyproject-plugin_toml/decorator_implicit_classmethod.py
  tests/mypy/outputs/pyproject-plugin_toml/plugin_fail.py
  tests/mypy/outputs/pyproject-plugin_toml/plugin_fail_baseConfig.py
  tests/mypy/outputs/pyproject-plugin_toml/pydantic_settings.py
  tests/mypy/test_mypy.py
  uv.lock
Labels: relnotes-change

#11871 Fix light/dark mode documentation toggle
  mkdocs.yml
Labels: relnotes-ignore, backport-2.11

#11869 Fix missing link in documentation
  docs/concepts/types.md
Labels: documentation, backport-2.11

#11861 Add cadwyn to the third-party test suite
  .github/workflows/third-party.yml
Labels: relnotes-ignore, third-party-tests

#11830 Remove `typing_extensions` version check in tests
  docs/concepts/fields.md
  docs/concepts/models.md
  mkdocs.yml
  tests/test_deprecated_fields.py
  tests/test_json_schema.py
Labels: relnotes-ignore

#11838 Add YAML, XML, INI file format and RabbitMQ & ARQ queue documentation examples
  docs/examples/files.md
  docs/examples/queues.md
Labels: documentation, awaiting author revision

#11904 Prepare release v2.11.5
  CITATION.cff
  HISTORY.md
  pydantic/version.py
Labels: relnotes-ignore, backport-2.11
