Repository pydantic/pydantic, pull requests merged in 2025-10, with the labels that each got.

#12301 Update pyright to `v1.1.405`
  pydantic/_internal/_decorators.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_generics.py
  pydantic/_internal/_repr.py
  pydantic/_internal/_typing_extra.py
  pydantic/_internal/_utils.py
  pydantic/_internal/_validators.py
  pydantic/version.py
  uv.lock
Labels: relnotes-ignore

#12314 Bump `pydantic-core` to v2.40.1
  pydantic/version.py
  pyproject.toml
  tests/test_computed_fields.py
  tests/test_construction.py
  tests/test_types.py
  uv.lock
Labels: relnotes-packaging

#12315 Prepare release v2.12.0b1
  CITATION.cff
  HISTORY.md
  pydantic/version.py
Labels: relnotes-ignore

#12317 Add missing `beautifulsoup4` dev dependency
  pyproject.toml
  uv.lock
Labels: relnotes-ignore

#12325 Add documentation for Pydantic support in Pyrefly
  docs/img/pyrefly.png
  docs/integrations/pyrefly.md
  mkdocs.yml
Labels: documentation

#12327 Clarify TypeAdapter configuration rules in documentation
  docs/concepts/config.md
Labels: documentation

#12331 Simplify "common field" schema generation
  pydantic/_internal/_generate_schema.py
Labels: relnotes-ignore

#12330 Fix wheel in URL in run code docs plugin
  docs/plugins/main.py
Labels: documentation, relnotes-ignore

#12279 Use `Any` for context type annotation in `TypeAdapter`
  pydantic/type_adapter.py
Labels: ready for review, relnotes-fix

#12216 Update newsletter form styling in documentation
  docs/index.md
Labels: documentation, relnotes-ignore

#12335 Emit warning when using `default_factory` with a validated data parameter in invalid contexts
  pydantic/_internal/_generate_schema.py
  tests/test_fields.py
Labels: relnotes-ignore

#12333 Small tweaks for 2.12 features in documentation
  docs/concepts/models.md
  pydantic/config.py
Labels: documentation, relnotes-ignore

#12334 Add `exclude_computed_fields` serialization option
  pydantic/main.py
  pydantic/root_model.py
  pydantic/type_adapter.py
  tests/test_computed_fields.py
Labels: relnotes-feature

#12340 Respect `validation_alias` in `@validate_call`
  pydantic/_internal/_generate_schema.py
  tests/test_validate_call.py
Labels: relnotes-fix

#12341 Use `Any` as context annotation in plugin API
  pydantic/plugin/__init__.py
  tests/test_plugins.py
Labels: relnotes-fix

#12342 Use proper `stacklevel` in warnings when possible
  pydantic/__init__.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_model_construction.py
  pydantic/_migration.py
  pydantic/deprecated/class_validators.py
  pydantic/fields.py
  pydantic/mypy.py
  pydantic/plugin/_loader.py
  tests/test_migration.py
Labels: relnotes-fix
