Repository pydantic/pydantic, pull requests merged in 2025-08, with the labels that each got.

#12106 Fix `__getattr__()` behavior on Pydantic models when a property raised an `AttributeError` and extra values are present
  pydantic/main.py
  tests/test_fields.py
Labels: relnotes-fix

#12111 Update breaking changes policy
  docs/version-policy.md
Labels: documentation

#12135 Fix typos in documentation
  docs/help_with_pydantic.md
Labels: relnotes-ignore

#12138 Fix typo
  docs/extra/fluff.js
Labels: relnotes-ignore

#12155 Fix use of backtick in Validation Alias docs
  docs/concepts/fields.md
Labels: relnotes-ignore, relnotes-fix

#12136 Add newsletter form to docs
  docs/index.md
Labels: documentation

#12157 Update `__fields__` attribute deprecation message
  pydantic/_internal/_model_construction.py
  pydantic/main.py
  tests/test_deprecated.py
Labels: relnotes-fix

#12169 Fix documentation about configuration propagatation
  docs/concepts/config.md
Labels: documentation

#12182 Clean-up typing imports, update Ruff, remove PyCharm workaround
  docs/api/standard_library_types.md
  docs/concepts/forward_annotations.md
  docs/concepts/json_schema.md
  docs/concepts/models.md
  docs/concepts/types.md
  docs/concepts/validators.md
  docs/errors/validation_errors.md
  docs/migration.md
  docs/plugins/conversion_table.py
  pydantic/__init__.py
  pydantic/_internal/_config.py
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_generics.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_repr.py
  pydantic/_internal/_utils.py
  pydantic/_internal/_validators.py
  pydantic/deprecated/copy_internals.py
  pydantic/fields.py
  pydantic/functional_serializers.py
  pydantic/main.py
  pydantic/root_model.py
  tests/test_docs.py
  uv.lock
Labels: relnotes-ignore

#12173 Allow to use property setters on Pydantic dataclasses with `validate_assignment` set
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Labels: relnotes-fix

#11942 Add `ValidateAs` annotation helper
  docs/concepts/validators.md
  pydantic/__init__.py
  pydantic/functional_validators.py
  tests/test_types.py
Labels: relnotes-feature, needs-blogpost-entry

#12205 Fix typo in validation errors docs
  docs/errors/validation_errors.md
Labels: relnotes-ignore
