Repository pydantic/pydantic, pull requests merged in 2025-09, with the labels that each got.

#12209 Fix mypy v2 plugin for upcoming mypy release
  pydantic/mypy.py
Labels: ready for review, relnotes-fix

#12226 Add missing mathjax documentation resource
  docs/extra/mathjax.js
Labels: relnotes-ignore

#12219 Fix `ImportString` JSON serialization for objects with a `name` attribute
  pydantic/types.py
  tests/test_types.py
Labels: relnotes-fix

#12275 Improve pipeline tests
  tests/test_pipeline.py
Labels: relnotes-fix

#11669 Warn if registering virtual subclasses on Pydantic models
  pydantic/_internal/_model_construction.py
  tests/test_abc.py
Labels: relnotes-change, needs-blogpost-entry
